/*========================
 contact - section
=========================*/
.s-contact {
	padding-top: 75px;
	font-weight: 300;
	letter-spacing: 0;
}
.s-contact .has-double-title {
	margin-bottom: 1.18em;
	margin-left: 30px;
}
.col-md-6 > b{font-size: 1.2em;}

.s-contact .col-md-6 {padding: 0 14px 30px 39px;}

.s-contact .contact__office {
	display: block;
	position: relative;
	font-size: 1.62em;
	color: #41414d;
	line-height: 1.2;
	padding-bottom: 18px;
}
.contact__office:before {
	content: '';
	position: absolute;
	top: -25px;
	left: -23px;
	width: 18px;
	height: 14px;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
}
.contact__office-ua:before{background-position: -9px -9px;}
.contact__office-ru:before{background-position: -41px -8px;}

address{font-size: 1.2em;}

address b{margin-right: 6px;}

.s-contact a {
	display: inline-block;
	font-weight: 400;
	color: #41414d;
	font-size: 1.2em;
	margin-right: 6px;
	margin-top: 17px;
}
a.contact__mail {
	margin-left: 10px;
	color: #167ede;
	font-size: 1.2em;
	font-weight: 300;
	text-decoration: underline;
	margin-bottom: 61px;
}
.s-contact b {color: #41414d;}

a.contact__skype {
	position: relative;
	display: inline-block;
	padding-left: 35px;
	color: #41414d;
	font-weight: 700;
	margin: 0 0 70px;
}
.contact__skype:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	background: url(../img/sprites.png) -184px -12px no-repeat;
	width: 24px;
	height: 24px;
}
.form {
	padding: 40px 0 80px;
	display: block;
	width: 100%;
	max-width: 430px;
	margin: auto;
}
.form input,.form textarea {
	display: block;
	width: 100%;
	background: transparent;
	height: 60px;
	/*letter-spacing: .04em;*/
	color: #7a7a88;
	border: 2px solid #d3d3d3;
	padding-left: 20px;
	padding-right: 15px;
	margin-bottom: 30px;
	transition: .4s ease;
}
.form__name input {text-transform: uppercase;}

.form textarea {
	padding: 15px 15px 15px 20px;
	resize: vertical;
	min-height: 180px;
}
.form input:focus,.form textarea:focus{
	border: 2px solid #ffb421;
	outline-color: transparent;
}
::-webkit-input-placeholder {transition: .4s}
::-moz-placeholder {transition: .4s}
:-ms-input-placeholder {transition: .4s}

.form .btn {
	border: none;
	width: 100%;
	max-width: 200px;
	display: block;
	margin: auto;
}
@media(max-width: 1366px){
	.s-contact {padding-top: 80px;}
	.contact__office{max-width: 510px;}
	.contact__office:before{top: -16px;}
}
@media(max-width: 991px){
	.s-contact {padding-top: 50px;}
	.s-contact .has-double-title{text-align: center;margin-left: 0;}
	.s-contact .has-double-title:before,.s-contact .has-double-title:after{content: none;}
	.s-contact .col-md-6 {padding: 0 30px; max-width: 660px;margin: auto;float: none;}
	.s-contact .contact__office{padding-bottom: 24px;max-width: none;font-size: 1.5em;}
	.s-contact a{margin-top: 11px;}
	.form {padding: 0px 0 30px; max-width: 540px;}
	.form input, .form textarea{margin-bottom: 20px;}
}
@media(max-width: 550px){
	address {font-size: 1em;}
	.s-contact a,.col-md-6 > b{font-size: 1.1em;}
	a.contact__skype{margin: 0 0 50px;}
	.contact__skype:after{top: -1px;transform: scale(.8);}
	.form input, .form textarea{border: 1px solid #d3d3d3;}
}
@media(max-width: 380px){
	.s-contact .contact__office{font-size: 1.3em;}
	.form input, .form textarea {margin-bottom: 15px; height: 50px;}
	.form textarea{min-height: 150px;margin-bottom: 30px;}
}
@media(max-width: 360px){
	.s-contact .col-md-6 {padding: 0 15px;}
	.contact__office:before {top: -22px; left: 47%;}
}
