.embeatz, .left, .left-hov, .right, .right-hov, .ru, .ua, .wave{
	background: url(sprites.png) no-repeat;
}

.embeatz{
	background-position: -79px -143px;
	width: 85px;
	height: 44px;
}

.left{
	background-position: -97px -52px;
	width: 16px;
	height: 16px;
}

.left-hov{
	background-position: -97px -26px;
	width: 16px;
	height: 16px;
}

.right{
	background-position: -136px -52px;
	width: 16px;
	height: 16px;
}

.right-hov{
	background-position: -136px -26px;
	width: 16px;
	height: 16px;
}

.ru{
	background-position: -41px -8px;
	width: 18px;
	height: 14px;
}

.ua{
	background-position: -9px -9px;
	width: 18px;
	height: 14px;
}

.wave{
	background-position: -10px -87px;
	width: 163px;
	height: 8px;
}