@media(min-width: 1024px){
	.header__re-equipment {height: 100vh;}
}
@media(min-width: 1200px){
	.types__card:nth-child(4n+2){animation-delay: .2s}
	.types__card:nth-child(4n+3){animation-delay: .4s}
	.types__card:nth-child(4n+4){animation-delay: .6s}
	.s-brand .col-md-3:nth-child(4n+2){animation-delay: .2s}
	.s-brand .col-md-3:nth-child(4n+3){animation-delay: .4s}
	.s-brand .col-md-3:nth-child(4n+4){animation-delay: .6s}
}
@media(min-width: 1600px){
	.title-container h1, .title-container em{max-width: 860px;}
	.s-brand {margin-top: -86px;}
	.s-types{padding: 160px 0;}
	.s-types:before, .s-types:after {bottom: 120px;}
	.salon__adv-item{max-width: 570px;padding: 30px 15px 30px 25px;}
	.salon__adv-descr {max-width: 370px;}
}
@media (min-height: 796px) and (min-width: 1900px){
	.s-vehicle .container {max-width: 1440px;}
}
@media(max-width: 1280px){
	.title-container h1,.title-container em{padding: 12px 15px;max-width: 570px;}
	.s-salon .container{padding-top: 50px;}
}
@media(max-width: 1199px){
	.s-vehicle .container{width: 100%;}
	.vehicle__back {position: relative;}
	.vehicle__back:before {width: 100%;top: -10px;height: calc(100% + 32px);}
	.vehicle__main:before,.vehicle__back-1:before {-ms-transform: skewY(3deg); transform: skewY(3deg);}
	.vehicle__main:after,.vehicle__back-2:before {-ms-transform: skewY(-3deg); transform: skewY(-3deg);}
}
@media(max-width: 1025px){
	.category-page .logo, .category-page .top__contact a {background: none; box-shadow: none; text-shadow: 0 0 19px #000; }
	.salon__adv-item{padding: 20px 8px;}
	.front h3 {font-size: 1.14em;}
	.s-services,.s-services .container{min-height: auto;}
	.s-brand {padding: 90px 0 70px;}
	.triagle-title {padding: 145px 0 20px;}
	.triagle-left, .triagle-right {top: 55px; height: calc(100% + 10px);}
	.triagle-left, .triagle-right,.s-types:before, .s-types:after{border-width: 2px;}
	.s-types{padding: 100px 0 120px;}
	.vehicle__main{padding: 55px 20px 90px;}
	.vehicle__main h2{font-size: 1.9em;}
	.vehicle__back{padding: 18px;}
}
@media(max-width: 1023px){
	.category-page .title-container {padding-top: 350px;}
	.types__card-box{justify-content: flex-start;}
	.types__card {flex: 1 1 26%;max-width: 32%;}
}
@media (max-width: 991px){
	.category-page .header {min-height: 540px;background-attachment: scroll;}
	.category-page .title-container {padding-top: 250px;}
	.s-types {padding: 40px 0 110px;}
	.s-types .container{padding: 0 30px;}
	.flip > div{padding: 15px 13px;}
	.brand__item {margin-bottom: 15px; padding: 48px 0 0; height: 124px;}
	.triagle-title {padding: 145px 0 40px; background: #464343;}
	.triagle-title:before,.triagle-title:after{content: none;}
	.triagle-left, .triagle-right, .s-types:before, .s-types:after {transform: none;}
	.triagle-left, .triagle-right {top: 20px; height: calc(100% - 40px);}
	.s-vehicle{margin-top: 0;padding-top: 15px;background: none;}
	.vehicle__box{display: block;}
	.vehicle__box > div {width: 100%;max-width: 700px;margin: 0 auto 9px;}
	.vehicle__main {padding: 35px 20px 50px;}
	.vehicle__main:before,.vehicle__main:after{height: 100%;box-shadow: none;}
	.vehicle__main p {max-width: none;padding: 20px 0 30px;}
	.vehicle__back {display: block;padding: 40px 20px;color: #ccc}
	.vehicle__back h4{text-align: center;}
	.vehicle__back h4,.vehicle__back p,.vehicle__back div {max-width: 440px;margin: auto;}
	.vehicle__back:before,.vehicle__back:after{
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		background: rgba(35,33,33,.8);
		z-index: -1;
	}
	.vehicle__back:before {
		left: 0;
	    -ms-transform: skewY(3deg);
	    transform: skewY(3deg);
	    -ms-transform-origin: right top;
	    transform-origin: right top;
	}
	.vehicle__back:after{
		right: 0;
	    -ms-transform: skewY(-3deg);
	    transform: skewY(-3deg);
	    -ms-transform-origin: left top;
	    transform-origin: left top;
	}
}
@media (max-width: 800px){
	.triagle-title h2{font-size: 1.8em;}
}
@media (max-width: 767px){
	.category-page .header {min-height: 600px;}
	.category-page .title-container {padding: 250px 15px 30px;}

}
@media (max-width: 719px){
	.types__card {flex: 1 1 46%;max-width: 50%;}
}
@media (max-width: 670px){
	.title-container h1 {font-size: 2.2em;}
}
@media (max-width: 550px){
	.triagle-title img {top: -60px;}
	.salon__content{padding: 0;}
	.salon__content img {margin-bottom: 20px;}
	.s-salon .container{padding-top: 0;}
	.s-salon h2:before{content: none;}
	.types__card {flex: 1 1 94%; max-width: none;}
}
@media (max-width: 480px){
	.title-container h1{line-height: 1.1;}
	.s-salon h2 {padding-bottom: 0.7em;}
	.salon__adv-descr {max-width: 240px;}
	.salon__adv-item {padding: 15px 0;}
}
@media (max-width: 470px){
	.s-brand .col-xs-6 img{max-width: 112px;height: auto;}
	.brand__item {margin-bottom: 20px; padding: 28px 0 0; height: 80px;}
	.s-brand {padding: 60px 0 40px;}
	.front h3 {font-size: 1.39em;}
	.s-brand .services__link{margin-top: 15px;}
}
@media (max-width: 380px){
	.category-page .header {background-size: 265% auto;}
	.category-page .title-container {padding: 240px 2px 20px;}
	.title-container h1 {font-size: 2em;}
	.triagle-title {padding: 75px 0 10px;}
	.triagle-title img{top: -50px;width: 160px;height: auto;}
	.salon__adv-descr {max-width: 210px;}
	.s-types .container {padding: 0 15px;}
	.triagle-left, .triagle-right, .s-types:before, .s-types:after {display: none;content: none;}
	.vehicle__box{padding: 0 9px;}
}
@media (max-width: 360px){
	.category-page .header {background-size: 230% auto;}
	.category-page .header__vehicle {background-size: 320% auto; background-position: 50% 6%;}
	.title-container h1 {font-size: 1.643em;}
	.category-page .title-container {padding: 230px 2px 15px;}
	.salon__adv-item {display: block;margin: auto;}
	.salon__adv-item i{display: block;margin: 0 auto 10px;}
	.salon__adv-descr {max-width: none;}
	.salon__content-box {padding: 15px 15px 5px;}
	.vehicle__back div{padding: 8px;}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 .flip > div {background: #464343}
}