
@media(min-width: 1024px){ 
	.navbar {float: left; width: calc(100% - 395px); margin-left: 162px;}
	.navbar-toggle {display: none;} 
	#expand {display: block;}
	.navbar-nav{
		display: -ms-flexbox;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
		align-items:stretch;
		-ms-flex-pack: justify;
		padding: 29px 17px;
		position: relative;
	}
	.navbar-nav li{
		/*position: relative;*/
		display: -ms-flexbox;
		display: flex;
		align-self:stretch;  
		justify-content: space-around;
		align-items: center;
		margin-bottom: -2px;
	}
	a.top__link {
		width: 100%; 
		text-align: center; 
		padding: 4px 9px 8px;
	}

}
@media(min-width: 1200px){
	/*.logo img{margin-bottom: -3px;}*/
	/*.col-lg-offset-05{margin-left: 4.3%;}	*/
}

@media(min-width: 1440px){}

@media(min-width: 1900px){}

@media(max-width: 1600px){}

@media(max-width: 1366px){}

@media(max-width: 1280px){}

@media(max-width: 1199px){}

@media(max-width: 1023px){
	.navbar-collapse{padding: 30px 20px 10px;transition: padding 0s, height .2s cubic-bezier(.77,0,.175,1);}
	#justify  li{padding: 10px 0;border-top: 1px solid #ecebeb;margin: auto;}
	#justify  li:first-child{border-top: none;}
	.navbar-toggle {display: block;float: none;margin-left: 15px;}
	.navbar {width: 100%; margin-left: 0;}
	}
@media (max-width: 991px){}

@media (max-width: 969px){}

@media (max-width: 800px){}

@media (max-width: 800px) and (min-height: 1000px){}

@media (max-width: 767px){}

@media (max-width: 640px){}

@media (max-width: 550px){}

@media (max-width: 480px){}

@media (max-width: 479px){}

@media (max-width: 380px){}

@media (max-width: 360px){}