@media(min-width: 1023px){
	.header {height: 100vh;}
}
@media(min-width: 1200px){
	.main-page .container{padding-left: 15vw;}
}

@media(min-width: 1360px){
	.about__adv{padding-left: 70px;}
}
@media(min-width: 1600px){
	.container {width: 100%; max-width: 1400px;}
	.intro-slider__text-item h1, .intro-slider__text-item span{padding-bottom: 30px;}
	.about__brand {padding: 11vh 35px;}
	.about__adv {padding-left: 160px;padding-right: 50px;}
}

@media(min-width: 1900px) and (min-height: 796px){
	body{font-size: 15px;}
	.container {max-width: 1640px;}
	.intro-slider__container{padding-left: 15vw;}
	.intro-slider{width: 1300px;}
	.intro-slider__text-item em{line-height: 1.5;}
	.intro-slider__link {font-size: 18px; letter-spacing: .07em; width: 188px;}
	.top__contact a{width: 158px;}
	.about__adv-descr {max-width: 360px;}
	.s-services h2 {padding-left: 110px; padding-bottom: 70px;}
	.s-services .frame {width: 1240px;height: 530px;}
	.services__slide {width: 360px;min-width: 340px;}
	.services__slide.active {width: 420px;min-width: 400px;}
	.s-product .container {padding-top: 100px;}
	.s-product .frame:before {width: 226px; background: linear-gradient(to left,transparent,#464343 66%);}
	.title-box{padding-bottom: 80px;}
	.title-box em {font-size: 1.4em;}
	.product__slide {width: 320px; min-width: 320px;}
	.s-product .frame {width: 1200px;min-height: 550px;}
	.scrollbar {margin: 40px auto 70px;}
	.product__slide p {max-height: 100px; -webkit-line-clamp: 5;}
	.page-pop-up .form__file span{top: 18px;}
}
@media(min-width: 2560px){
	body{font-size: 18px;}
	.container {max-width: 1900px;}
	.intro-slider {width: 1600px;}
	.header {background-size: auto 80%;}
	.navbar{width: 200px;}
	.navbar-header {padding: 31px 8px 6px;}
	.top__contact{right: 300px;width: 600px;}
	.top__contact a{width: 220px;letter-spacing: .08em;}
	.intro-slider__container {padding-left: 8vw;}
	.intro-slider__text-item h1, .intro-slider__text-item span {font-size: 3.6em;}
	.intro-slider__text-item em {font-size: 1.64em;}
	.intro-slider__link-box {padding: 45px 0;}
	.intro-slider__link {font-size: 24px; letter-spacing: .1em; width: 240px; padding: 13px 0;}
	.intro-slider__text .owl-dots{top: 5px;}
	.intro-slider__text .owl-dot {margin-bottom: 15px;}
}
@media(max-width: 1440px){
	.intro-slider{width: 1100px;}
	.intro-slider__container{padding-left: 10vw;}
	.main-page .container {padding-left: 12vw;}
}
		@media(max-height: 750px){
			.about__brand {padding: 9vh 25px 6vh;}
			.about__brand img {display: block; margin: 30px auto;max-width: 220px;}
			.about__adv-descr{padding-bottom: 20px;}
		}

@media(max-width: 1366px){
	.main-page .container {padding-left: 11vw;}
	.about__brand img {display: block; margin: 30px auto;max-width: 220px;}
	.intro-slider {width: 1080px;}
}
@media(max-width: 1280px){
	.intro-slider__container{width: 1170px;padding-left: 13vw;}
	.navline__menu{left: 4vw;}
}
@media(max-width: 1199px){
	.main-page .container {padding-left: 80px;}
	.header:before,.s-about:before,.s-services:after{height: 90px;transform: rotate(3deg);}
	.header:after,.s-about:after,.s-services:before{height: 90px;transform: rotate(-3deg);}
	.logo {padding: 15px 20px 0 0;}
	.logo__link{width: 200px;}
	.intro-slider__container {width: 980px; padding-left: 13vw;}
	.intro-slider {width: 920px;}
	.intro-slider__text-box {margin-top: 30px;}
	.intro-slider__text-item h1, .intro-slider__text-item span {font-size: 2.2em;}
	.navline__item a span {display: none;}
	.navline__item {width: 40px; height: 40px;}
	.about__brand{padding: 13vh 25px 9vh;}
	.about__brand p{font-weight: 300;}
	.services__slide {width: 260px; min-width: 260px;}
	.services__slide.active {width: 300px; min-width: 300px;}
	.frame {width: 950px;}
	.s-product .container{padding-top: 20px;}
	.owl-item.active .intro-slider__link:before, .owl-item.active .intro-slider__link:after {width: 50%;}
	.prev:before{left: 40px;top: 43%;}
	.next:before{right: 23px;top: 43%;}
	.form__file,.form__btn-box{width: 50%;}
	.form input, .form textarea,.form__file {font-size: 16px;height: 70px;padding-left: 76px;}
	.form__file input{height: 70px;}
	.form__file span {top: 24px; left: 74px;}
	.form textarea{min-height: 141px;}
	.form__inp-box:before{top: 19px;left: 26px;}
	.form__textarea:before{top: 11px;}
	.form__tel:before {font-size: 23px; top: 22px;}
	.form__btn{min-height: 70px;}
	.footer-navbox {display: block;padding: 30px 0;}
	.footer-nav{width: 100%;max-width: 620px;margin: auto;}
	.footer__address {width: 100%;margin: auto;max-width: 500px;}
	.footer__address{padding: 10px 0 35px;}
}
@media(max-width: 1025px){
	.address__box:before, .address__box:after{height: 70px;}
}
@media(max-width: 1023px){
	.main-page .container {padding-left: 15px;padding-right: 15px;}
	.intro-slider__container{width: 100%;}
	.intro-slider{width: 100%;}
}
@media (max-width: 991px){
	section{overflow: hidden; flex-wrap: wrap;}
	.header{min-height: 900px;}
	.container {/*padding-left: 30px;padding-right: 30px;*/ width: 100%;}
	.s-contact .container {padding-left: 30px;padding-right: 30px;}
	.intro-slider__container {padding-top: 110px; padding-bottom: 70px;}
	.intro-slider__img-box,.intro-slider__text-box{float: none;width: 100%;max-width: 700px;margin-left: auto;margin-right: auto;}
	.intro-slider__img{max-width: 300px;margin: auto;}
	.is-scroll-down{display: none;}
	.s-about{background: none}
	.about__brand{padding: 35px;min-height: auto;margin-top: 40px; border: 1px solid #fff;background-color: #242424;}
	.about__brand,.about__adv{float: none;width: 100%;max-width: 600px;margin-left: auto;margin-right: auto;min-height: auto;}
	.about__brand img {margin: 10px auto 30px; max-width: 120px;}
	.about__brand:before{content: none;}
	.header:before,.header:after,.s-about:before,.s-about:after{box-shadow: none;}
	.about__adv-item i{height: 84px;width: 84px;min-width: 84px;}
	.about__adv-item i:before {width: 54px; height: 54px;}
	.about__adv-descr {max-width: 340px; padding-bottom: 40px;}
	.about__adv-descr p {padding-right: 0;}
	.navline{display: none;}
	.form > div:first-child{padding-left: 15px;}
}
			@media(max-height: 580px){
				.header{min-height: 580px;}
				.navline{display: none;}
			}

@media (max-width: 969px){
	.s-contact {background-size: 140% auto;}
	.contact__map{display: none;}
	.address__box address div {font-size: 1em;}
	.address__box address i {width: 40px; height: 40px; font-size: 23px; line-height: 47px;margin-right: 18px;}
	section,.s-product .container,.s-services .container{min-height: auto;padding-left: 0;padding-right: 0;}
	.s-product .row,.s-services .row,.wrap{width: 100%;margin: 0;}
	.frame {width: 100%;height: 457px;}
	.next:before{right: 0;}
	.prev:before {left: 0;}
	.gallery-paginator {right: 19px; bottom: 63px;}
}
@media (max-width: 800px){
	.header {min-height: 800px;}
	.intro-slider__container {padding-top: 96px; padding-bottom: 60px;}
	.product__slide {width: 270px; min-width: 270px;}
	.services__slide {width: 240px; min-width: 240px;}
	.services__slide.active {width: 280px; min-width: 280px;}
	.services__slide h3{padding: 15px;}
	.gallery-paginator{bottom: 97px;right: 20px;}
	.form input, .form textarea, .form__file {font-size: 15px;}
	.form > div:last-child{padding-right: 15px;}
	.page-pop-up h2 {font-size: 2em;padding-bottom: 20px;}
}
/*@media (max-width: 800px) and (min-height: 1000px){}*/

@media (max-width: 767px){
	.header {min-height: 724px;}
	.s-services .container{padding-bottom: 10px;}
	.address__box address{display: block;}
	.intro-slider__text-box {margin-top: 20px;}
	.address__box {padding: 60px 0 20px;}
	.address__box:before, .address__box:after {height: 40px; top: -14px;}
	.address__box address div{margin: 0 0 20px;}
	.form textarea {min-height: 110px;}
	.gallery-paginator > li{margin: 0 6px;}
	.s-product .frame{min-height: 480px; padding-bottom: 30px;}
	.form > div{padding-left: 15px;padding-right: 15px;}
}

@media (max-width: 719px){
	.logo{width: 206px;padding: 10px 0 0;}
	.top__contact{display: none;}
	.gallery-paginator{display: none;}
	.product__slide {width: 260px; min-width: 260px;}
	.product__slide.active {background: inherit;}
	.popup__remark,.popup__remark-2{display: none;}
	.popup__title:before{content: none;}
}

@media (max-width: 550px){
	.header{background-size: 110% auto;}
	.s-about .row {margin: auto;}
	.intro-slider__container{padding: 110px 15px 20px;}
	.intro-slider__text-item {padding-left: 80px;}
	.intro-slider__text-item h1, .intro-slider__text-item span{font-size: 2em;}
	.intro-slider__text .owl-dot span {width: 32px;}
	.intro-slider__text .owl-dot.active span {width: 50px;}
	.about__brand{padding: 20px 30px;margin-top: 20px;}
	.about__adv-item i {margin-right: 20px;}
	.s-contact {background-size: 180% auto;}
	.form__file, .form__btn-box {width: 100%;}
	.page-pop-up h2 {font-size: 1.7em;}
	.page-pop-up .form__file, .page-pop-up .form__btn-box {width: 100%;}
	.popup__form.container,.main-page .popup__form.container {padding: 70px 0 30px;}
	.page-pop-up .form textarea {min-height: 120px; resize: vertical;}
	.popup__select-category {font-size: 1.1em;padding: 0 30px 0 15px;margin-bottom: 2px;}
}

@media (max-width: 480px){
	.intro-slider__text-item {padding-left: 60px;}
	.intro-slider__img-box{width: 86%;}
	.intro-slider__text .owl-dots{left: 0;}
	.services__slide.active{width: 260px;max-width: 260px;}
	.about__adv{padding-left: 15px;}
	.about__adv-item i {margin-right: 25px;}
	.about__adv-descr{padding-bottom: 30px;}
	.prev:before, .next:before {border-top: 22px solid transparent; border-bottom: 22px solid transparent;}
	.prev:before {border-right: 22px solid #484545;}
	.next:before {border-left: 22px solid #484545;}
	.s-product .frame:before,.s-product .frame:after{width: 60px;}
	.form input, .form textarea, .form__file {text-align: center;padding-left: 66px;padding-right: 66px;}
	.form__file span{left: 50%; transform: translateX(-50%);}
	.header:after,.s-about:after,.s-services:before,.address__box:after{height: 60px;}
	.address__box {padding: 56px 0 20px;}
}

@media (max-width: 479px){
	.title-box {padding: 0 30px 30px;}
	.title-box h2,h2 {text-align: center;}
	.s-services h2{padding-left: 0;text-align: center;}
	.intro-slider__text-item h1, .intro-slider__text-item span{font-size: 1.7em;}
	.footer-navbox{padding: 24px 0;}
	.footer-nav{display: block;padding: 0 0 7px;}
	.footer-nav__link{padding: 7px;}
	.footer__address{display: none;}
	.i-footer__logo {width: 50px;height: 51px;}
	.s-contact {background-size: 230% auto;}
	.s-services .frame ul {margin-left: -16px;}
}

@media (max-width: 380px){
	.top,.navbar{position: relative;width: 100%;align-self: flex-start;}
	.logo{padding-top: 14px;}
	.navbar-header {padding: 6px 8px 6px;}
	.navbar-header>span{display: none;}
	.wrapper .main-menu-container {padding: 0;}
	.top__contact{display: block; position: relative;width: 100%;right: 0;text-align: center;}
	.top__contact a{float: none;display: inline-block;width: 136px;padding: 15px 10px 15px;}
	.logo {width: 60px;}
	.logo__link {width: 35px; height: 35px; background: url(../img/for-sprite/footer-logo.png) center no-repeat; background-size: cover;}
	.logo__link img{display: none;}
	header {min-height: 700px;}
	h2 {font-size: 2.1em;}
	.intro-slider__container {padding: 0 15px 20px;}
	.intro-slider__img-box {width: 80%;}
	.intro-slider__text-item em {font-size: 1em;}
	.header{background-position: center 23%;}
	.intro-slider__text-box{padding-right: 0;min-width: 290px;}
	.intro-slider__text-item {padding-left: 35px;min-width: 276px;}
	.intro-slider__text .owl-dots {left: -20px;top: -5px;}
	.intro-slider__text .owl-dot span {width: 28px; margin: auto; display: block; position: relative;}
	.intro-slider__text .owl-dot.active span {width: 40px;}
	.intro-slider__text-item h1, .intro-slider__text-item span {font-size: 1.6em;}
	.owl-item.active .intro-slider__link:before, .owl-item.active .intro-slider__link:after {width: 30%;}
	.about__adv {padding: 30px 0;}
	.about__brand{margin-top: 10px;padding: 20px;}
	.s-product .frame:before,.s-product .frame:after{content: none;}
	.address__box address{padding-top: 30px;}
	.page-pop-up h2{display: none;}
}
@media (max-width: 359px){
	.header {min-height: 568px;}
	.intro-slider__container {padding: 25px 15px 20px;}
	.intro-slider__text-item h1, .intro-slider__text-item span {font-size: 1.4em;}
	.navbar-header{padding: 5px;}
	.navbar-header>span{bottom: 13px;}
	.scrollbar {margin: 5px auto 30px;}
	.owl-item.active .intro-slider__link:before, .owl-item.active .intro-slider__link:after {width: 0;}
	.about__adv-item{display: block;}
	.about__adv-item i {margin: 0 auto 12px;text-align: center;}
	.prev, .next {width: 15px;}
	.s-product .frame:before, .s-product .frame:after {width: 15px;}
	.s-contact {background-size: 270% auto;}
	.form > div:first-child,.form > div:last-child{padding: 0;}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 .form__btn {justify-content: flex-start;}
 .form__btn span {padding-top: 30px;}
}