.add-img, .arr-left, .arr-right, .company, .jack, .marker, .message, .oil, .pdf, .subject, .tap, .tower{
	background: url(sprites.png) no-repeat;
}

.add-img{
	background-position: -20px -93px ;
	width: 56px;
	height: 50px;
}

.arr-left{
	background-position: -301px -99px ;
	width: 11px;
	height: 36px;
}

.arr-right{
	background-position: -338px -99px ;
	width: 11px;
	height: 36px;
}

.company{
	background-position: -169px -99px ;
	width: 14px;
	height: 13px;
}

.jack{
	background-position: -115px -99px ;
	width: 8px;
	height: 17px;
}

.marker{
	background-position: -251px -10px ;
	width: 34px;
	height: 44px;
}

.message{
	background-position: -205px -98px ;
	width: 15px;
	height: 14px;
}

.oil{
	background-position: -160px -8px ;
	width: 46px;
	height: 45px;
}

.pdf{
	background-position: -248px -100px ;
	width: 18px;
	height: 24px;
}

.subject{
	background-position: -141px -101px ;
	width: 15px;
	height: 15px;
}

.tap{
	background-position: -14px -15px ;
	width: 46px;
	height: 33px;
}

.tower{
	background-position: -81px -8px ;
	width: 47px;
	height: 45px;
}

