@media(min-width: 768px){
	.navbar-toggle {display: none} 
	#expand {display: block}
	.navbar-nav{padding: 0; width: 100%; display: -ms-flexbox; display: flex; flex-wrap: nowrap; justify-content: center; align-items: center; position: relative; }
	a.nav__link {padding: 9px;height: 60px; text-align: center;display:-ms-flexbox; display: flex;justify-content: center; align-items: center}
}
@media(max-height: 720px) and (max-width: 1366px){
	.intro__address {margin-bottom: 37px}
	.s-about {padding: 60px 0 30px}
	.box{padding: 35px 15px 55px}
	.box--mini{margin-bottom: 0;padding: 30px 15px}
	.box--white{padding: 40px 15px 30px;max-width: 730px}
	.s-events {padding: 100px 0 20px;margin-bottom: 40px}
	.s-rent {padding: 140px 0}
	.s-rent .title{resize: 2.5em}
	.rent__list {padding-top:.6em; padding-bottom: 1.6em}
	.s-packages {padding: 75px 0 40px}
}
@media(max-width: 1366px){
	.packages__list {padding-top: 30px}
	.packages__list-item{min-height: 550px;height: 100%}
	.form{max-width: 640px}
	label > span{margin-bottom: 10px}
	.form textarea {min-height: 170px}
	.form__btn {padding: 21px 49px; margin-top: 35px}
	.s-feedback {padding: 60px 0 55px}
	.s-contact{min-height: 736px}
	.contact__box {width: 450px; padding: 60px 25px}	
}
@media(max-width: 1199px){
	body{font-size: 17px}
	.title{font-size: 2em}
	.h3 {font-size: 1.8em}
	.s-about {padding: 45px 0 20px}
	.box {padding: 20px 15px 50px}
	.box--white {max-width: 700px; padding: 50px 30px 45px}
	.h2 + em{font-size: 1em}
	.s-events {padding: 90px 0 25px}
	.s-events .title{font-size: 3em}
	.s-rent .title {font-size: 2.4em}
	.s-rent {padding: 75px 0}
	.s-packages {padding: 60px 0 20px}
	.packages__list {padding-top: 20px}
	.packages__list-item{min-height: 470px;padding: 30px 16px 24px}
	.packages__list-item ul li{padding-bottom: .64em}
	.packages__price {padding-top: 0.4em; font-size: 1.6em}
	[type=date] {-webkit-appearance: none; -moz-appearance: none; appearance: none}
	.s-contact {padding: 54px 0;min-height: 575px}
	.contact__box{right: 30px}
	.contact__resize{right: 45px}
	.s-events p,.s-packages .container > p {font-size: 1em}
}
@media (max-width: 850px){
	.h3 {font-size: 1.6em}
	.navbar-nav li {padding: 0 16px}
	.inside__item{display: block;padding-left: 25px}
	.inside__item i{margin-bottom: 10px}
	.packages__list {padding: 0 6px}
	.packages__list > div {padding: 0 6px; margin-bottom: 12px}
	.packages__list-item {min-height: auto; padding: 30px 14px 22px}
	.packages__list-item ul {font-size: .766em}
	.packages__price{font-size: 1.4em}
}
@media(max-width: 767px){
	.top{overflow: visible!important;height: auto;box-shadow: 0 2px 20px rgba(15,13,23,.2)}
	.top + section, .top + div{margin-top: 0}
	.nav-wrap .container {padding: 0}
	.navbar-collapse{padding: 45px 20px 20px;transition:.6s ease}
	.collapsing {transition: .6s ease}
	#justify li{padding: 5px 0;margin: auto;opacity: 0; transform: translateX(16px)}
	.collapse.in #justify li{animation: .4s moveTohome ease forwards}
	.collapse.in #justify li:nth-child(2){animation-delay: .06s}
	.collapse.in #justify li:nth-child(3){animation-delay: .12s}
	.collapse.in #justify li:nth-child(4){animation-delay: .18s}
	.collapse.in #justify li:nth-child(5){animation-delay: .24s}
	.collapse.in #justify li:nth-child(6){animation-delay: .3s}
	.collapse.in #justify li:nth-child(7){animation-delay: .36s}
	.collapse.in #justify li:nth-child(8){animation-delay: .42s}
	@keyframes moveTohome { to { opacity: 1;transform: translateZ(0)}}
	.navbar-toggle {display: block;float: none;margin: 0;height: 44px;padding: 0 9px;position: absolute;right: 14px; top: 7px; border-radius: 0; z-index: 4;background: none;-webkit-tap-highlight-color: rgba(0,0,0,0);outline-color: transparent}
	.navbar {width: 100%; margin-left: 0;max-width: 100%;top: 0}
	.nav-wrap{border-bottom: none;padding: 0}
	a.nav__link {padding: 9px 4px; font-size: 0.94em;text-shadow: 0 1px 3px rgba(20,15,15,.3)}
	a.nav__link:after{border-bottom-width: 2px;left: 12px;right: 12px;box-shadow: 0 1px 3px rgba(20,15,15,.3)}
	.h1{font-size: 4em}
	.s-intro .h2 {font-size: 1.6em}
	.btn--sm {padding: 17px 36px 16px}
}
@media (max-width: 720px){
	.h2 {font-size: 2em}
	.title {font-size: 1.6em}
	.s-rent .title {font-size: 1.8em}
	.about__gallery{padding: 0 6px}
	.about__gallery-item {padding: 0 6px;margin-bottom: 12px}
	.inside__item{margin-bottom: 20px}
	.s-about {padding: 24px 0 10px}
	.inside__descr p {font-size: 0.9em}
	.box--white {max-width: 520px; background-color: rgba(255, 255, 255, 0.8)}
	.s-events {padding: 50px 0 20px; margin-bottom: 40px}
	.s-events .title {font-size: 2.6em}
	.s-events p{padding-bottom: 1.6em}
	.s-rent {padding: 40px 0}
	.s-rent .title {font-size: 2em; padding-bottom: .7em}
	.form {max-width: 600px}
	.form input, .form select, .form textarea{height: 54px;margin-bottom: 12px}
	.form textarea {min-height: 150px}
	label > span {margin-bottom: 8px}
	.form__btn{margin-top: 25px}
	.s-events .box {padding: 0 15px}
	.box--white {padding: 40px 20px 20px}
	.s-contact .container {max-width: 386px}
	.contact__box {width: 100%; padding: 50px 16px; background-color: rgba(255,255,255,.9);right: 0}
	.contact__resize{right: 15px}
	.contact__box > * {transition: .1s}
	.contact__box.hidden > * {transform: scale(.1); opacity: 0}
	.packages__list{max-width: 460px;margin: auto}
	.packages__list > div{flex: 0 0 100%;max-width: 100%}
}
@media (max-width: 575px){
	.h1 {font-size: 3.4em;text-shadow: 0 1px 3px rgba(20,15,15,.3)}
	.s-intro .h2 {font-size: 1.36em;text-shadow: 0 1px 3px rgba(20,15,15,.3)}
	.intro__address{text-shadow: 0 1px 3px rgba(20,15,15,.3)}
	.inside__item{text-align: center;margin-bottom: 15px}
	.inside__item i{margin: 0 0 6px}
	.inside__descr p{margin: auto}
	.box{padding: 20px 0 30px}
	.box--white {padding: 35px 15px 10px}
	.s-events .title {font-size: 2.2em}
	.s-feedback{padding: 40px 0}
}
@media (max-width: 479px){
	.input-group--mini{width: 100%}
	.input-group--mini + .input-group--mini {margin-left: 0}
}
@media (max-width: 420px){
	.h1 {font-size: 3em}
	.s-intro .h2 {font-size: 1.21em}
	.intro__address{margin-bottom: 30px}
	.s-about {padding: 12px 0 8px}
	.s-events{margin-bottom: 0}
	.s-events .title {font-size: 2em}
	.s-rent {padding: 0}
	.s-rent .title {font-size: 1.8em}
	.rent__list {padding-top: 0.4em; padding-bottom: 1em}
	.box--white {background-color: rgba(255, 255, 255, 0.7)}
	.s-packages {padding: 40px 0 20px}
	.packages__list,.packages__list > div{padding: 0}
	.small-pop-up .form {padding: 30px 15px 22px}
}
@media (max-width: 380px){
	.h1 {font-size: 2.44em}
	.s-intro .h2 {font-size: 1.04em; letter-spacing: .07em;padding-bottom: 2.2em}
	.intro__address {font-size: 1.2em; letter-spacing: .04em}
	.h2, .s-events .title{font-size: 1.8em}
	.s-contact .container {max-width: 340px}
	.contact__box{padding: 40px 15px}
	.contact__title {margin-top: 2em}
	.contact__tel{font-size: 1.5em}
	.s-contact {min-height: 536px}
}
@media (max-width: 359px){
	.h2, .h3, .title,.s-events .title {font-size: 1.5em}
	.s-rent .title {font-size: 1.6em}
	.form input, .form select, .form textarea{padding-left: 20px}
	.form__btn {padding: 17px 38px 16px}
	.form input, .form select, .form textarea {height: 50px;}
}