@font-face {
  font-family:'Lato';
  src: local('lato regular'), local('lato-regular'), url('../fonts/lato-regular.woff2') format('woff2'), url('../fonts/lato-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family:'Lato';
  src: local('lato bold'), local('lato-bold'), url('../fonts/lato-bold.woff2') format('woff2'), url('../fonts/lato-bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family:'Lato';
  src: local('lato black'), local('lato-black'), url('../fonts/lato-black.woff2') format('woff2'), url('../fonts/lato-black.woff') format('woff');
  font-weight: 900;
}
:root {
   --hov-color: #414141;
   --accent-color: #bfb0ba;
   --dark-color: #000205;
}
::selection {background: #bfb0ba;color: #fff}
::-webkit-scrollbar{width: 8px; height: 8px}
::-webkit-scrollbar-thumb {background: #bfb0ba; cursor: pointer; border-radius: 1px}
::-webkit-scrollbar-track-piece{background: #e6e6e6;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {font-size: 15px}

body {
	position: relative;
	color: #676767;
	font: 18px Lato,'Lato',Arial,sans-serif;
	line-height: 1.5;
	letter-spacing: .01em;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}
section {
	width: 100%;
	position: relative;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}
.h1 {
	padding-top: 60px;
	color: white;
	font-size: 4.44em;
	font-weight: 900;
	line-height: 1.1;
	text-align: center;
	text-transform: uppercase;
}
p {padding-bottom: 1.071em}

.box {padding: 44px 15px 60px}

.box--mini {
	max-width: 770px;
	margin: 0 auto 25px;
}
.box--white {
	max-width: 770px;
	padding: 62px 30px 56px;
	background-color: #fff;
	margin: 0 auto;
}
.h2 {
	display: block;
	width: 100%;
	color: #000205;
	font-size: 2.22em;
	font-weight: 900;
	text-align: center;
	padding-bottom: .5em;
}
.h2 + em {
	display: block;
	font-style: normal;
	text-align: center;
	width: 100%;
	max-width: 570px;
	margin: 0 auto;
	font-size: 1.11111em;
}
.title {
	position: relative;
	text-align: center;
	display: block;
	color: #000205;
	font-size: 2.22em;
	font-weight: 900;
	line-height: 1.2;
	padding-bottom: .5em;
	margin-bottom: .7em;
}
.h3 {
	font-weight: 900;
	font-size: 2.22em;
	padding-bottom: .7em;
	line-height: 1.2;
	max-width: 100%;
}
.title:after {
	content: ''; 
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 120px;
	transform: translateX(-50%);
	border-bottom: 2px solid;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
}
.btn {
	display: inline-block;
	border: none;
	text-align: center;
	white-space: nowrap;
	min-width: 230px;
	border-radius: 3em;
	line-height: 1;
	outline-color: transparent;
	cursor: pointer;
	transition: .3s;
}
.btn--sm {
	background-color: #fff;
	color: #414141;
	padding: 20px 40px 18px;
	font-size: 13px;
	font-weight: 900;
	letter-spacing: .17em;
	margin-top: .1em;
	text-transform: uppercase;
}
.btn--sm:hover {
	color: #fff;
	background-color: #bfb0ba;
}
/*=====================
	Header
======================*/
.top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #bfb0ba;
	z-index: 99;
}
.top + section,.top + div {margin-top: 60px}

.navbar{
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
}
.navbar-nav {z-index: 999}

.navbar-collapse{padding: 0}

.navbar-nav li {
	display:block;
	text-align:center;
	padding: 0 21px;
}
.collapse.in ul>li,.collapsing ul>li {float:none}

.navbar-nav>li>a {line-height: 1.2}

.navbar-toggle{
	float: none;
	margin: 0;
	height: 70px;
	padding: 6px 12px 0;
	position: absolute;
	right: 15px;
	top: -70px;
	border-radius: 0;
	z-index: 4;
}
.navbar-toggle .icon-bar {
	background-color: #4f4352;
	box-shadow: 0 0 5px rgba(240,240,240,0.4);
	transition:.25s cubic-bezier(.77,0,.175,1);
	transform-origin: left top;
	width: 25px;
}
.navbar-toggle .icon-bar +.icon-bar {margin-top: 6px}

[aria-expanded=true] .icon-bar:first-child {
	transform:rotate(45deg) translateY(-1px);
	transition:transform .24s ease;
}
[aria-expanded=true] .icon-bar:nth-child(2) {
	opacity:0;
	width: 0;
	transition: .3s
}
[aria-expanded=true] .icon-bar:last-child {
	transform: rotate(-45deg) translateX(-1px);
	transition:transform .24s ease;
}
a.nav__link {
	position: relative;
	display: inline-block;	
	color: #fff;
	font-size: .7em;
	font-weight: 900;
	letter-spacing: .08em;
	text-align: center;
	text-transform: uppercase;
	transition: .3s; 
}
a.nav__link:hover{color: #414141}

a.nav__link:after {
	content: ''; 
	position: absolute; 
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 4px solid;
	transform: scaleX(0);
	transform-origin: 3% center;
	opacity: .1;
	transition: transform .3s ease, opacity .4s;
}
.active a.nav__link:after {
	transform: scaleX(1);
	opacity: 1;
}

/*==========================
	intro-section
===========================*/
.s-intro {
	background: url(../img/intro.jpg) center no-repeat; 
	background-size: cover;
	padding: 68px 0 25px;
	text-align: center;
	color: #fff;
}
.logo{
	display: inline-block;
	text-align: center;
	z-index: 4;
}
.logo__link{display: inline-block}

.logo img {width: 100%}

.s-intro .h2 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .11em;
	padding-bottom: 1.7em;
}
.intro__address {
	font-size: 1.33em;
	margin-bottom: 65px;
}
.js-scroll-down {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-repeat: no-repeat;
	background-size: 24px 14px;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid' width='24' height='14' viewBox='0 0 24 14'%3E%3Cdefs%3E%3Cstyle%3E .cls-2 %7B fill: %23ffffff; %7D %3C/style%3E%3C/defs%3E%3Cpath d='M22.547,0.160 C22.547,0.160 24.000,1.703 24.000,1.703 C24.000,1.703 12.000,14.031 12.000,14.031 C12.000,14.031 -0.000,1.703 -0.000,1.703 C-0.000,1.703 1.594,0.015 1.594,0.015 C1.594,0.015 12.000,10.950 12.000,10.950 C12.000,10.950 22.547,0.160 22.547,0.160 Z' id='path-1' class='cls-2' fill-rule='evenodd'/%3E%3C/svg%3E");
}
/*===============================
  about
================================*/
.s-about {padding: 80px 0 36px}

.about__gallery-item {margin-bottom: 30px}

.about__gallery-item img {
	object-fit: cover;
	min-height: 100%;
}
.inside__item {
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px;
}
.inside__item i {
	display: inline-block;
	width: 74px;
	min-width: 74px;
	height: 74px;
	margin-bottom: 20px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 30px;
}
.inside__item:nth-child(1) i {background-image: url(../img/icon-1.png)}
.inside__item:nth-child(2) i {background-image: url(../img/icon-2.png)}
.inside__item:nth-child(3) i {background-image: url(../img/icon-3.png)}
.inside__item:nth-child(4) i {background-image: url(../img/icon-4.png)}

.inside__descr b {
	display: block;
	color: #000205;
	font-size: 1.22em;
	font-weight: 900;
	padding-bottom: .5em;
}
.inside__descr p {
	max-width: 405px;
}
/*===============================
 -events
================================*/
.s-events {
	padding: 210px 0 27px;
	background: url(../img/events.jpg) center no-repeat; 
	background-size: cover;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
}
.s-events .title {
	color: inherit;
	font-size: 3.33em;
}
.s-events p {
	font-size: 1.11111em;
	padding-bottom: 2.2em;
}

/*===============================
 -rent
================================*/
.s-rent {
	padding: 200px 0;
	background: url(../img/rent.jpg) center no-repeat; 
	background-size: cover;
	text-align: center;
}
.s-rent .title {
	text-transform: uppercase;
	font-size: 2.8em;
}

.rent__list {
	list-style: none;
	color: #000205;
	font-size: 1.11111em;
	padding-top: .8em;
	padding-bottom: 1.8em;	
}
.rent__list-item {
	display: block;
	padding-bottom: .4em;
}
.rent__remark {
	font-size: 0.8333em;
}
/*===============================
 -packages
================================*/
.s-packages {
	padding: 88px 0 60px;
}
.s-packages .title {
	text-transform: uppercase;
	padding-bottom: .9em;
	margin-bottom: .9em;
}
.s-packages .container > p {
	font-size: 1.1111em;
	max-width: 670px;
	margin: auto;
	text-align: center;
}
.packages__list {padding-top: 57px}

.packages__list > div {margin-bottom: 30px}

.packages__list-item {
	position: relative;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 40px 20px 25px;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column wrap;
	min-height: 570px;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}
.packages__list > div:nth-child(1) .packages__list-item{background-image: url(../img/packages/1.jpg)}
.packages__list > div:nth-child(2) .packages__list-item{background-image: url(../img/packages/2.jpg)}
.packages__list > div:nth-child(3) .packages__list-item{background-image: url(../img/packages/3.jpg)}
.packages__list > div:nth-child(4) .packages__list-item{background-image: url(../img/packages/4.jpg)}
.packages__list > div:nth-child(5) .packages__list-item{background-image: url(../img/packages/5.jpg)}
.packages__list > div:nth-child(6) .packages__list-item{background-image: url(../img/packages/6.jpg)}
.packages__list > div:nth-child(7) .packages__list-item{background-image: url(../img/packages/7.jpg)}
.packages__list > div:nth-child(8) .packages__list-item{background-image: url(../img/packages/8.jpg)}

.packages__list-item ul {
	list-style: none;
	display: block;
	font-size: .88em;
	will-change: filter;
}
.packages__list-item ul li {
	line-height: 1.3;
	padding-bottom: .74em;
}
.packages__price {
	display: block;
	padding-top: .5em;
	padding-bottom: .4em;
	font-size: 1.66em;
}
.packages__remark {
	font-size: .77em;
	padding-bottom: .3em;
}
.wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to top,rgba(72,64,64,.8),rgba(72,64,64,.4));
	opacity: 0;
	transition: .35s;
}
.packages__list-item:hover .wrap{
	opacity: 1;
}
.wrap > .btn {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 1px 28px 1px rgba(21,18,18,.4);
	transition: .35s ease;
}
.packages__list-item:hover .wrap > .btn {top: 50%}

.packages__list-item:hover ul {
	filter: blur(0.5px);
}
/*===============================
  Заказать мероприятие
================================*/

.s-feedback {
	padding: 71px 0 68px;
	background-color: #e3e3e3;
}
.s-feedback .h3,.small-pop-up .h3 {
	color: #000205;
	text-align: center;
}
.form {
	padding: 0 15px;
	width: 100%;
	max-width: 660px;
	margin: auto;
}
label {
	display: block;
	width: 100%;
}
.input-group--mini {
	display: inline-block;
	width: calc(50% - 15px);
}
.input-group--mini + .input-group--mini {margin-left: 25px}

label > span {
	display: block;
	color: #000205;
	margin-left: 8px;
	margin-bottom: 12px;
	line-height: 1;
}
.form input,.form select,.form textarea {
	display: block;
	width: 100%;
	height: 60px;
	background-color: white;
	border-radius: 10px;
	letter-spacing: .03em;
	color: #746e77;
	border: 1px solid #e0e0e0;
	padding-left: 30px;
	padding-right: 15px;
	margin-bottom: 20px;
	transition: .4s ease;
}
option:checked, option:hover {
    color: white;
    background-color: #bfb0ba;
}

.form textarea {
	padding: 15px 15px 15px 30px;
	resize: vertical;
	min-height: 180px;
}
.form input:focus,.form textarea:focus,.form select:focus{
	border: 1px solid #ddd;
	outline-color: transparent;
	box-shadow: none;
}
.form__date {
	background: url(../img/date.png) 93% center no-repeat; 
	background-size: 24px;
}
.form__time {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/time.png) 93% center no-repeat; 
	background-size: 24px;
	outline-color: transparent;
}
select::-ms-expand {display: none}

.form__btn {
	position: relative;
	margin: auto;
	padding: 24px 49px;
	margin-top: 40px;
	min-width: 230px;
	background-color: #262729;
	border-radius: 4em;
	border: none;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .16em;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .4s;
	z-index: 1;
	outline-color: transparent;
	cursor: pointer;
}
.form__btn:hover {
	background-color: #363739;
}
.form__remark {
	margin-top: 30px;
	text-align: center;
	font-size: .7777em;
}
/*========================
 contact - section
=========================*/
.s-contact {
	padding: 114px 0;
	background-color: #eee;
	min-height: 746px;
}
#map {
  position: absolute!important;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.s-contact .container {
  position: relative;
  height: 100%;
  pointer-events: none;
}
.contact__box {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 60px rgba(34,13,23,.2);
  float: right;
  width: 470px;
  text-align: center;
  padding: 65px 30px;
  pointer-events: auto; 
}
.contact__box .h3 {
	position: relative;
	text-align: center;
	color: #000205;
	padding-bottom: .6em;
	margin-bottom: 1em;
}
.contact__box .h3:after {
	content: ''; 
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 120px;
	transform: translateX(-50%);
	border-bottom: 2px solid;
}
.contact__title {
	margin-top: 2.4em;
	margin-bottom: .6em;
	color: #000205;
	font-weight: 900;
	text-transform: uppercase;
	font-size: .7777em;
	letter-spacing: .3em;
}
.contact__tel {
	font-weight: 900;
	color: #000205;
	font-size: 1.66em;
}
.contact__mail {
	text-decoration: underline;
	color: #000205;
}
.contact__resize {
	background-color: #fff;
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M8.93 25.9c0 0 5.656 6.1 5.656 6.1s-14.586 0-14.586 0c0 0 0-14.586 0-14.586s6.102 5.658 6.102 5.658c0 0 16.968-16.972 16.968-16.972s-5.656-6.1-5.656-6.1c0 0 14.586 0 14.586 0s0 14.584 0 14.584c0 0-6.102-5.656-6.102-5.656s-16.968 16.972-16.968 16.972z'%3E%3C/path%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	position: absolute;
	top: 0;
	right: 15px;
	width: 44px;
	height: 44px;
	padding: 13px;
	opacity: .9;
	pointer-events: auto;
	cursor: pointer;
	transition: .3s;
}
.contact__resize:hover {opacity: 1}
/*===============================
  popup
================================*/
.mfp-bg {background-image: linear-gradient(to top,rgba(72,64,64,.8),rgba(72,64,64,.4))}

.mfp-fade.mfp-bg.mfp-ready{opacity: .94}

.mfp-close-btn-in .mfp-close{
	color: #000;
	opacity: 1;
	width: 50px;
	height: 50px;
	line-height: 50px;
	right: 5px;
	top: 3px;
	font-size: 36px;
	transition: .3s;
}
.mfp-close-btn-in .mfp-close:hover {color: #bfb0ba}

.small-pop-up {
	position: relative;
	width: 100%;
	max-width: 620px;
	margin: auto;
}
.small-pop-up .form {
	background-color: #e3e3e3;
	padding: 32px 30px;
}
.small-pop-up .form__btn {margin-top: 20px}

.small-pop-up .form__remark {margin-top: 15px}
