@-ms-viewport {
  width: device-width; }

html {
  font-family: sans-serif;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a, button {
  border-radius: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

section {
  width: 100%;
  position: relative; }

a, a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: top; }

svg {
  max-width: 100%; }

address {
  line-height: inherit;
  font-style: normal; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

@font-face {
  font-family: 'Cera';
  src: local("Cera"), local("cera"), url("../fonts/Cera-Regular.woff2") format("woff2"), url("../fonts/Cera-Regular.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'Circe-Bold';
  src: local("Circe-Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
  font-weight: normal; }

.top {
  width: 100%;
  color: #fff; }
  .top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .top .container:before {
      content: '';
      position: absolute;
      top: 0;
      right: 102%;
      display: block;
      width: 40%;
      height: 144px;
      opacity: 0.78;
      background-color: #2998cc;
      -webkit-transform: skewX(-25deg);
              transform: skewX(-25deg); }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: "Circe-Bold", arial, sans-serif;
  padding-right: 10%; }
  .nav li {
    list-style: none; }

.nav__link {
  padding: 5px 16px;
  margin: 0 5px;
  font-size: 0.92857em;
  transition: .4s;
  display: inline-block;
  white-space: nowrap; }

::-moz-selection {
  background: #007941;
  color: #fff; }

::selection {
  background: #007941;
  color: #fff; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: #bbb;
  cursor: pointer;
  border-radius: 1px; }

::-webkit-scrollbar-track-piece {
  background: #e6e6e6;
  cursor: pointer; }

::-webkit-scrollbar-corner {
  background: transparent;
  border: none; }

html {
  font-size: 14px; }

body {
  position: relative;
  color: #2e3847;
  font: 14px 'Cera',arial,sans-serif;
  line-height: 1.43;
  letter-spacing: .02em;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh; }

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1160px; }

.btn {
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  outline-color: transparent;
  transition: .3s ease;
  cursor: pointer;
  color: #fff;
  border: 2px solid currentColor;
  border-radius: 6px;
  background-color: #fff;
  padding: 21px 26px 20px;
  font-family: "Circe-Bold", arial, sans-serif;
  font-size: 0.92857em;
  line-height: 1;
  letter-spacing: .04em;
  text-transform: uppercase;
  min-width: 168px; }

.btn-outline {
  background-color: transparent; }
  .btn-outline:hover {
    background-color: #fff; }

.btn-outline-invert {
  background-color: transparent;
  color: #433386; }
  .btn-outline-invert:hover {
    background-color: #433386;
    border-color: #433386;
    color: #fff; }

.h1 {
  font-family: "Circe-Bold", arial, sans-serif; }
