:root {
   --accent-color: #6aa21f;
   --hov-color: #90b85a;
   --font-family:'futura-new',helvetica,sans-serif;;
}
@font-face {
  font-family:'futura-new';
  src: local('FuturaNewBook'), local('FuturaNewBook-Regular'), url('../fonts/FuturaNewBook-Reg.woff2') format('woff2'), url('../fonts/FuturaNewBook-Reg.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family:'futura-new';
  src: local('Futura New Medium'), local('Futura New Medium'), url('../fonts/FuturaNewMedium-Reg.woff2') format('woff2'), url('../fonts/FuturaNewMedium-Reg.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family:'futura-new';
  src: local('Futura New Bold'), local('Futura New Bold'), url('../fonts/FuturaNewBold-Reg.woff2') format('woff2'), url('../fonts/FuturaNewBold-Reg.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot');
  src: url('../fonts/Circe-Bold.woff') format('woff'),
       url('../fonts/Circe-Bold.ttf') format('truetype'),
       url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg'),
       url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: url('../fonts/Circe-Regular.woff') format('woff'),
       url('../fonts/Circe-Regular.ttf') format('truetype'),
       url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg'),
       url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
.loader {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #111 url(../img/loader.jpg) center no-repeat;
	background-size: cover;
	z-index: 9999;
	pointer-events: none;
}
.loader__counter {
	position: absolute;
	bottom: 60px;
	right: 50px;
	font-size: 48px;
	height: 1em;
	line-height: 1em;
	display: inline-block;
	overflow: hidden;
	font-weight: 700;
	font-family: var(--font-family);
	color: #6aa21f;
}
.loader__counter:after {
	position: relative;
	width: 100%;
	content: "0%\A 19%\A 34%\A 39%\A 48%\A 53%\A 64%\A 71%\A 90%\A 99%\A";
	white-space: pre;
	animation: counter 3.2s steps(9) forwards;
}
@keyframes counter { 
	0% { top: 0; } 
	100% { top: -9em; opacity: .6;} 
}
.loader:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 10px;
	background-color: rgba(254,254,254,.6);
	width: 0%;
	animation: load 3s ease forwards;
}
@keyframes load {
	0% {width: 0%;}
	14% {width: 10%;}
	28% {width: 22%;}
	32% {width: 36%;}
	48% {width: 48%;}
	62% {width: 53%;}
	71% {width: 64%;}
	86% {width: 71%;}
	91% {width: 98%;}
	100% {width: 100%;}
}
::-webkit-scrollbar{width: 8px; height: 8px}
::-webkit-scrollbar-thumb {background: #bbb; cursor: pointer; border-radius: 1px}
::-webkit-scrollbar-track-piece{background: #e6e6e6;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {font-size: 14px}

body {
	position: relative;
	/*color: #2b200f;*/
	color: #160901;
	font-family: 'Circe','futura-new',helvetica,sans-serif;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: .02em;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	overflow: hidden;
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 1376px;
	min-height: 100vh;
	margin-bottom: 40px;
	border-bottom: 1px solid #e9e2dc;
}
section {
	width: 100%;
	position: relative;
	padding-top: 40px;
	padding-bottom: 20px;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}
h1 {
	font-size: 2.14em;
	letter-spacing: .05em;
	font-family: var(--font-family);
	line-height: 1.36;
}
h2 {
	display: block;
	color: var(--accent-color);
	font-family: var(--font-family);
	font-size: 2.66em;
	padding-bottom: .06em;
}
h3 {
	color: #2b200f;
	font-size: 1em;
	padding-bottom: .3em;
}
p {
	padding-bottom: 1.071em;
	/*font-size: 1.05556em;*/
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1090px;
}
.is-accent {
	color: #749f3a;
	display: inline-block;
	padding: 0 7px;
	text-align: center;
	min-width: 44px;
	vertical-align: middle;
}
@keyframes moveTohome { to { opacity: 1;transform: translateZ(0)} }
/*=====================
	#top
======================*/
.top {
	position: fixed;  
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;	
}
.top__container {
	background-color: rgba(0,0,0,.4);
	padding: 7px 20px;
	max-width: 1840px;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	transition: .4s;
}
.logo{
	display: block;
	text-align: center;
	width: 190px;
	font-size: 1.11em;
	font-family: var(--font-family);
	color: #fff;
	z-index: 4;
	margin-right: 9px;
}
.logo__link{
	display: inline-block;
	color: #fff;	
}
.logo img {width: 100%}

.logo span {
	display: block;
	margin-left: -11px;
	line-height: .9;
	line-height: 1;
}
.top__request {
	display:-ms-flexbox; 
	display: flex;
	align-items: center;
	color: #fff
}
.top__request i {
	display: inline-block;
	width: 21px;
	min-width: 21px;
	height: 35px;
	margin-right: 7px;
}
.top__request .is-accent {font-size: 2.5em}

.top__request span{
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
}
.top__request .is-accent {letter-spacing: -.06em}

.navbar{
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
}
.navbar-nav {z-index: 999}

.navbar-collapse{padding: 0}

.navbar-nav li {
	display:block;
	text-align:center
}
.collapse.in ul>li,.collapsing ul>li {float:none}

.navbar-nav>li>a {line-height: 1.2}

.navbar-toggle{
	float: none;
	margin: 0;
	height: 70px;
	padding: 6px 12px 0;
	position: absolute;
	right: 15px;
	top: -70px;
	border-radius: 0;
	outline: 0;
	z-index: 4;
}
.navbar-toggle .icon-bar {
	background-color: #fff; 
	transition:.25s cubic-bezier(.77,0,.175,1);
	transform-origin: left top;
	width: 25px;
}
.navbar-toggle .icon-bar +.icon-bar {margin-top: 6px}

[aria-expanded=true] .icon-bar:first-child {
	transform:rotate(45deg) translateY(-1px);
	transition:transform .24s ease;
}
[aria-expanded=true] .icon-bar:nth-child(2) {
	opacity:0;
	width: 0;
	transition: .3s
}
[aria-expanded=true] .icon-bar:last-child {
	transform: rotate(-45deg) translateX(-1px);
	transition:transform .24s ease;
}
a.top__link {
	position: relative;
	display: inline-block;
	padding: 7px 10px;
	color: #fff;
	font-size: 1em;
	text-align: left;
	transition: .3s; 
}
a.top__link:before {
	content: ''; 
	position: absolute; 
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #749f3a;
	transform-origin: right top;
	transform: scale(0,1);
	transition: color 0.1s,transform .34s cubic-bezier(.25,.46,.45,.94);
}
a.top__link:hover:before{
	transform-origin: left top;
	transform: scale(1,1);
}
.top__contact {
	display:-ms-flexbox; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 433px;
	text-align: center;
}
.top__phone a {
	font-weight: 700;
	transition: .4s;
}
.top__phone a:hover {opacity: .7}

.top__phone {margin-right: 5%}

.top__phone a{color: #fff}

.top__phone span {
	display: block;
	font-size: 12px;
	color: #fff;
}
.btn-lg {
	position: relative;
	display: inline-block;
	background-color: #6aa21f;
	border-radius: 4px;
	color: #fff;
	line-height: 1;
	padding: 19px 26px;
	text-align: center;
	text-shadow: 0 0 18px rgba(0,0,0,.4);
	transition: .4s;
	z-index: 9;
}
.btn-lg:hover {background-color: #75ad2a}

.btn-alert {
	background-color: #fd3d3d;
	padding: 19px 30px;
	text-shadow: 0 0 3px rgba(0,0,0,.26);
}
.btn-alert:hover {background-color: #e04949}
/*==========================
	intro-section
===========================*/
.s-intro {
	min-height: 100vh;
	padding: 0;
	overflow: hidden;
	/*background: url(../img/intro.jpg);*/
	background-color: #f2f2f2;
	background-size: cover;
}
.intro-slider {width: 100vw}

.slide{outline-color: transparent}

.intro-slider .slide {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display:-ms-flexbox; 
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 230px 40px;
	transition: opacity 1.2s linear !important;
}
.slide__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-position: center;
	background-size: cover;
	will-change:transform;
	transform: rotate(.6deg) scale(1.06);
	transition: transform 5s 2s;
}
.slick-active .slide__bg {
	transform: rotate(0deg) scale(1);
	transition: transform 7s;
}
.slide__text {
	position: relative;
	max-width: 999px;
	padding: 0 15px;
	will-change:transform;
	opacity: 0;
	transition: opacity .5s;
}
.slick-active .slide__text {
	opacity: 1;
	transition: opacity 6s;
	/*mix-blend-mode: overlay;*/
}
.slide__text .h1 {
	display: block;
	color: #fab046;
	font-size: 5.11em;
	font-weight: 700;
	font-family: var(--font-family);
	line-height: 1.18;
	text-transform: uppercase;
	margin-bottom: .4em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2),0 0 38px rgba(0,0,0,.26);
	letter-spacing: .03em;
	transition: letter-spacing 3s 2s;
}
.slick-active .slide__text .h1 {
	letter-spacing: inherit;
	transition: letter-spacing 5s .3s;
}
.slide__text p {
	color: #fff;
	font-size: 30px;
	padding-bottom: 2em;
}

.slick-prev-lg,.slick-next-lg{
	color: #fff;
	position: absolute;
	top: 0;
	width: 57px;
	height: 57px;
	padding: 12px;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(1,1,1,.1);
	border: 1px solid #fff;
	transition: .3s;
	outline: 0;
}
.slick-prev-lg {right: 0}

.slick-next-lg {right: 80px}

.slick-prev-lg:hover,.slick-next-lg:hover {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}
.slick-prev-lg svg,.slick-next-lg svg {
	display: inline-block;
	width: 100%;
	fill: currentColor;
}
.intro-navigation {
	position: absolute;
	list-style: none;
	top: 32%;
	width: 1376px;
	left: 50%;
	transform: translateX(-50%);
}
.intro-navigation a {
	color: #fff;
	display: inline-block;
	padding: 5px;
	text-shadow: 0 0 8px rgba(0,0,0,.3);
	margin-top: 110px;
	font-size: 1.3em;
}
.intro-navigation a:hover {opacity: .7}

.intro-navigation a svg {
	display: inline-block;
	margin-left: 10px;
	fill: currentColor;
	width: 20px;
	height: 22px;
	vertical-align: middle;
	animation: bounce 1s ease infinite;
}
@keyframes bounce {
	from{transform: translateY(0)}
	50%{transform: translateY(-5px)}
	to{transform: translateY(0)}
}
/*===============================
  about
================================*/
.s-about {
	background-color: #e9e2dc;
	min-height: 500px;
}
.title {
	position: relative;
	padding: .8em 0;
	margin-top: 2em;
	margin-bottom: 2em;
	min-height: 93px;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}
.title:before {
	content: ''; 
	position: absolute; 
	top: 0;
	left: -45px;
	width: 2px;
	height: 100%;
	background-color: #6f7961;
}
.title em {
	display: block;
	font-weight: 500;
	font-style: normal;
	max-width: 682px;
	padding-top: .6em;
	padding-bottom: .6em;
}
.about__statistic {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 55px;
}
.about__statistic p {margin-bottom: 0.8em}

.about__statistic b {
	display: block;
	color: var(--accent-color);
	font-weight: normal;
	font-size: 3.33em;
	line-height: 1;
}
.about__history {
	max-width: 292px;
	margin: auto;
}
.about__history h4 {
	color: #7d856f;
	font-size: 1.33em;
	margin-bottom: .4em;
}
.about__history a {
	float: right;
	font-size: .92em;
	color: inherit;
}
.about__history a:hover{color: var(--accent-color)}

.about__history a svg {
	fill: currentColor;
	width: 23px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}
.video-box {position: relative}

.s-about .video-box {max-width: 480px}

video {width: 100%;cursor: pointer}

.video-play-icon {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAilBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9coCyy0Jzt9OhxrEhipDX3+vXh7NfV5snI3bi51aWpy5Cawn2NumuAs1sMpqklAAAAH3RSTlMAB9y5/c6Mck9KCvpb7ua1EN7Z15chHBflmxHxtJ5c7stHKAAAASxJREFUSMeVltlygzAMRRUbjNkJ2QhdRJvuy///XicNM6Xmitjn+YxHyJYu5NJYozdlnpcbbWxDi6yKOuIJkS5WopwlHc/okgzbqWKISlEdWxbZzio6xLxAfPhv7xQvonZTe7/mK6z3k5bEfJX4r0FH9uBIIyl7kY4tVH66urQzYU+S38M7X706H1+wy4PkF0Sk2WWQfE3URHNd8qOGLANd8i0ZoIu+oVusY7+mFuvYb+kG69gvibGO/Rzqop/jYkbe58W0ov70Bj4VNHK0X1EjjaCfXuA1WayfHhlg8RMbvqEd9fABD1/PjNBwPIbPnCH35+Gr2OFDHL6w0Q5cHGFrKWjp3QWu1LCFHRYHYWETFmWBQYljuAI3n2QLIa9hyMv01tSXX4ja2J4cfgBkPsYtvcgbvwAAAABJRU5ErkJggg==') center no-repeat;	
	border: 1px solid var(--accent-color);
	transform: translate(-50%, -50%);
	opacity: .8;
	transition: .2s;
	pointer-events: none;
}
video:hover + .video-play-icon {
	border-color: #fff;
	box-shadow: 0 0 28px rgba(0,0,0,.16);
}
.play .video-play-icon {opacity: 0}

.slogan__slider {padding-left: 4%}

.slogan__slider h4 {
	color: #768069;
	padding-bottom: .3em;
}
.slogan__slider .slide ul {
	list-style: none;
	padding-bottom: .4em;
}
.slogan__slider .slick-dots {
	list-style: none;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 100%;
	width: 94%;
	padding-bottom: 60px;
}
.slick-dots li {width: auto;height: auto}

.slick-next:before, .slick-prev:before{content: none}

.slogan__slider .slick-dots i {
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 48px;
	height: 48px;
	border: 1px solid var(--accent-color);
	color: inherit;
	font-style: normal;
	font-family: var(--font-family);
	border-radius: 50%;
	transition: .4s;
}
.slogan__slider .slick-active i {
	font-weight: 500;
	color: #fff;
	background-color: var(--accent-color);
}
.slogan__slider .slick-prev,.slogan__slider .slick-next {
	top: 48%;
	width: 38px;
	height: 38px;
	display: -ms-flexbox;
	display: flex;
	padding: 8px;
	color: var(--accent-color);
	border-radius: 50%;
	border: 1px solid var(--accent-color);
	transition: .3s;
}
.slogan__slider .slick-prev {left: -40px}
.slogan__slider .slick-next {right: -40px}

.slogan__slider .slick-prev:hover,.slogan__slider .slick-next:hover {
	background-color: #749f3a;
	color: #fff;
}
.slogan__slider .slick-prev svg,.slogan__slider .slick-next svg {
	display: inline-block;
	width: 100px;
	fill: currentColor;
}
/*===============================
  s-equipment
================================*/
.s-equipment {
	margin-bottom: 20px;
	padding-top: 15px;
	background-color: #e9e2dc;
}
.equipment__item {
	text-align: center;
	margin-bottom: 30px;
}
.equipment__item i {
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	width: 69px;
	height: 69px;
	background-color: #6f7961;
	border-radius: 11px;
	color: rgba(255,255,255,.7);
}
.equipment__item i svg {
	width: 53px;
	height: 52px;
	fill: currentColor;
	display: inline-block;
}
.equipment__item h5 {
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	min-height: 32px;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.equipment__item b {
	font-size: 3.33em;
	font-weight: normal;
	letter-spacing: -.04em;
	color: var(--accent-color);
}
.equipment__subscribe {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 362px;
	width: 100%;
	max-width: 1022px;
	padding: 20px;
	margin: 0 auto -50px;
	background: url(../video/poster5.jpg) center no-repeat;
	border-radius: 9px;
	overflow: hidden;
}
.equipment__subscribe-offer {
	color: #fff;
	padding: 15px;
}
.equipment__subscribe-offer h4 {
	font-size: 1.1em;
	padding-bottom: .3em;
}
.equipment__subscribe > div {
	width: 45%;
	max-width: 372px;
}
.equipment__subscribe-form {
	background-color: #749f3a;
	border-radius: 4px;
	padding: 8px;
	width: 45%;
	max-width: 385px;
}
.equipment__subscribe-form input[type=email] {
	background-color: #e9e2dc;
	border-radius: 4px;
	height: 46px;
	text-align: center;
	border: none;
	width: calc(100% - 58px);
	float: left;
	font-size: 16px;
	font-weight: 700;
	outline-color: var(--accent-color);
}
.equipment__subscribe-form input[type=email]:focus {background-color: #fff}

.form__btn {
	min-width: 46px;
	height: 46px;
	background-color: #e9e2dc;
	border-radius: 4px;
	border: none;
	float: right;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: inherit;
	outline-color: var(--accent-color);
	transition: .4s;
}
.form__btn:hover {
	background-color: var(--hov-color);
	color: #fff
}
.form__btn svg {
	fill: currentColor;
	width: 23px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}
/*===============================
  services
================================*/
.s-services .row {
	padding-top: 30px;
}
.services__item {
	padding: 56px calc(2% + 15px);
	border: 1px solid #ddd;
	margin-bottom: -1px;
	margin-right: -1px;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: border .3s;
}
.services__item:hover {
	z-index: 1;
	border-color: var(--accent-color);
}
.services__item img {border: 1px solid #ddd}

.services__descr {
	padding: 8px 5px 8px calc(4% + 13px);
}
.services__descr h3{line-height: 1.1;margin-right: -10px}

.services__descr p {
	margin-top: 4px;
	margin-bottom: 21px;
	padding: 0;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 55px;
}
.btn-box {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
}
.btn-sm {
	border-radius: 4px;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	flex-grow: 1;
	max-width: 62%;
	min-width: 50%;
	color: inherit;
}
.btn-light {
	border: 1px solid #ddd;
	border-radius: 4px 0 0 4px;
	margin-right: -1px;
}
.btn-dark {
	background-color: #6f7961;
	color: #fff;
}
.btn-sm:hover{
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	color: #fff;
}
.btn-accent {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	color: #fff;
	max-width: 74%;
}
.btn-accent:hover{opacity: .88}

.btn-sm svg,.btn-lg svg {
	display: inline-block;
	fill: currentColor;
	margin-left: 9px;
	width: 18px;
	height: 16px;
	vertical-align: middle;
}

/*===============================
 brand
================================*/
.s-brand {
	padding-bottom: 116px;
	background-image: url(../img/brands/brands-bg.jpg);
	background-repeat: no-repeat;
	background-position: 100% 48%;
	box-shadow: inset 0 80px 80px -80px #fff;
}
.brand__item {
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px 15px;
	margin-bottom: 30px;
}
.is-aligner {
	padding-top: 46px;
	text-align: center;
}
/*===============================
  s-testimon
================================*/
.s-testimon{background-color: #e9e2dc}

.testimon__name {
	font-size: 1.2em;
	color: inherit;
	padding-right: 15px;
	display: inline-block;
	margin: 8px auto 30px;
}
.testimon__name i {
	display: inline-block;
	vertical-align: -4px;
	margin-right: 9px;
	width: 30px;
	height: 30px;
	padding: 3px;
	color: #6f7961;
}
.testimon__name i svg {
	width: 100%;
	display: inline-block;
	fill: currentColor;
}
.s-testimon .video-box {border-radius: 7px;overflow: hidden}
/*==========================
	recom
===========================*/
.s-recom {padding-bottom: 50px}

.recom__quantity {font-size: 3.33em}

.recom-video-slider {
	background: url(../img/bg-image-feedback.jpg) center no-repeat;
	background-size: cover;
	/*margin-bottom: -5px*/
}
.recom-video-slider .slide {
	min-height: 450px;
	padding: 40px 15px 40px 70px;
	display:-ms-flexbox; 
	display: flex;
	align-items: center;
}
.recom-video-slider .slide .temp {max-width: 780px;}

.recom-video-slider .slide .temp h4 {
	font-size: 1.8em;
	line-height: 1.1;
	color: #fff;
	padding-bottom: .6em;
}
.recom-video-slider .slide .temp p {
	font-size: 1.4em;
	color: #fff;
	text-shadow: 0 0 29px rgba(0,0,0,.9);
}
.recom-brand-slider {padding: 0 130px}

.recom-brand-slider .slick-prev,.recom-brand-slider .slick-next {
	width: 131px;
	height: 100%;
	background-color: #fff;
	display:-ms-flexbox; 
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	color: #333;
	transition: .3s;
}
.recom-brand-slider .slick-prev:hover ,.recom-brand-slider .slick-next:hover {color: var(--accent-color)}

.recom-brand-slider .slick-prev{left: 0}
.recom-brand-slider .slick-next{right: 0}

.recom-brand-slider .slick-prev svg,.recom-brand-slider .slick-next svg{
	display: inline-block;
	fill: currentColor;
	width: 30px;
	height: 30px;
}
.recom-brand-slider .slick-track{display:-ms-flexbox; display: flex}

.recom-brand-slider .slide {
	display:-ms-flexbox; 
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 144px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-right: -1px;
	flex-grow: 1;
	transition: .3s;
	cursor: pointer;
}
.recom-brand-slider .slick-center,.recom-brand-slider .slick-slide:hover {
	box-shadow: inset 0 -1px var(--accent-color);
}
/*==========================
	s-callback
===========================*/
.s-callback {
	background: url(../img/subscribe-2-bg.png) center no-repeat; 
	background-size: cover;
	height: 497px;
	color: #fff;
	display:-ms-flexbox; 
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.callback__phrase {
	text-align: center;
	font-size: 1.66em;
}
.line-through {
	white-space: nowrap;
	text-decoration: line-through;
}

.s-callback .btn-lg {width: 290px}
/*========================
 footer
=========================*/
.s-footer {
	padding-top: 50px;
	display:-ms-flexbox; 
	display: flex;
}
.footer__logo{
	width: 106px;
	min-height: 270px;
	border-top: 1px solid #e9e2dc;
	border-right: 1px solid #e9e2dc;
	display:-ms-flexbox; 
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
}
.footer__box {
	flex-grow: 1;
}
.footer__box .container {
	padding-top: 40px;
	max-width: 100%;
	border-top: 1px solid #e9e2dc;
}
.footer__contact {
	max-width: 360px;
	padding: 0 18px 0 calc(3% + 15px);
}
.footer__contact a,.footer__address a,.pop-up__contact a {
	color: inherit;
	display: inline-block;
	padding: 3px;
	margin-bottom: 26px;
}
.footer__contact i,.footer__address i,.pop-up__contact i {
	display: inline-block;
	width: 18px;
	height: 20px;
	margin-right: 19px;
	vertical-align: middle;
}
.footer__contact i svg,.footer__address i svg,.pop-up__contact i svg {fill: #6f7961}

.footer__address {max-width: 386px}

.footer__address b {
	display: block;
	font-weight: 500;
	padding-bottom: 9px;
}
.footer__address address {
	padding-left: 42px;
	padding-bottom: 26px;
}
.footer__soc {
	display:-ms-flexbox; 
	display: flex;
	justify-content: space-around;
	max-width: 210px;
	padding-left: 11%;
}
.footer__soc a {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	padding: 2px;
}
.s-footer a:hover {opacity: .8}

.footer__subscribe {
	padding-left: 20px;
	padding-bottom: 13px;
}
.footer-form{
	width: 100%;
	max-width: 385px;
}
.footer-form input[type=email] {
	background-color: #fff;
	height: 46px;
	padding-left: 30px;
	border: none;
	width: calc(100% - 131px);
	margin-right: -1px;
	float: left;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #dcdcdc;
	outline-color: #efe;
}
.footer-form .form__btn {
	color: var(--accent-color);
	font-family: var(--font-family);
	width: 132px;
	letter-spacing: .04em;
	float: right;
	background-color: #e9e2dc;
	border-color: #e9e2dc;
	font-size: 14px;
	font-weight: 700;
}
.footer-form .form__btn:hover{
	background-color: var(--accent-color);
	color: #fff;
}
.form__btn svg {	
	width: 16px;
	height: 14px;
}
.form__btn span + svg {margin-left: 6px;margin-right: 0}

.footer__up {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
	-ms-transform: rotate(0.5turn);
	transform: rotate(0.5turn);
	display: inline-block;
	height: 100%;
	width: 55px;
	color: #111;
	font-weight: 700;
	font-size: .8em;
	border-right: 1px solid #e9e2dc;
	display:-ms-flexbox; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__up:hover{color: var(--accent-color)}

.footer__up svg {
	display: inline-block;
	margin-left: -4px;
	margin-top: 8px;
	width: 22px;
	height: 24px;
	transform: rotate(90deg);
	fill: currentColor;
}
.footer__bottom {
	position: relative;
	border-top: 1px solid #e9e2dc;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	padding: 20px 4%;
}
.footer__copy {padding-right: 6%; min-width: 30%}

.footer__card span {white-space: nowrap}

.footer__card i {
	display: inline-block;
	margin-left: 23px;
	width: 37px;
	height: 28px;
	vertical-align: middle;
	background-image: url(../img/card.png);
	background-repeat: no-repeat;
}
.footer__card i:nth-of-type(1){background-position: 0 0}
.footer__card i:nth-of-type(2){background-position: -72px 0}
.footer__card i:nth-of-type(3){background-position: -141px 0}
.footer__card i:nth-of-type(4){background-position: -212px -1px}

.footer__webland {
	position: absolute;
	right: 14px;
	top: 19px;
	height: 30px;
	width: 30px;
	padding: 2px;
}
.footer__webland svg {fill: #555}

/*===============================
  popup
================================*/
.mfp-container{padding: 0}

.mfp-fade.mfp-bg.mfp-ready, .mfp-rotate-bottom.mfp-bg.mfp-ready {opacity: 0.92}

.mfp-preloader {
	font-size: 1.6em;
	color: #fff;
	letter-spacing: .08em;
}
.mfp-close-btn-in .mfp-close {
	font-size: inherit;
	font-family: var(--font-family);
	color: inherit;
	width: 124px;
	right: 8px;
	top: 12px;
	transition: .3s;
	opacity: 1;
}
.mfp-close-btn-in .mfp-close:hover {opacity: .8}

.mfp-close-btn-in .mfp-close span {
	font-size: 24px;
	color: #fff;
	display: inline-block;
	padding: 4px;
	border-radius: 50%;
	background-color: var(--accent-color);
	width: 28px;
	height: 28px;	
	line-height: 20px;
	vertical-align: middle;
	margin-left: 8px;
	pointer-events: none;
}
.big-pop-up {
	position: relative;
	background-color: #fff;
	width: 100%;
	max-width: 1374px;
	margin: auto;
	padding: 75px 80px 50px;
}
.page-pop-up {
	position: relative;
	width: 100%;
	max-width: 1920px;
	margin: auto;
	display:-ms-flexbox; 
	display: flex;
	min-height: 100vh;
}
.pop-up__bg-box {width: calc(100% - 760px)}

.pop-up__bg-fixed {
	position: fixed;
	height: 100%;
	width: inherit;
	max-width: inherit;
	display:-ms-flexbox; 
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.pop-up__logo {
	display: block;
	text-align: center;
	width: 300px;
}
div.pop-up__logo span {font-size: 1.1em}

.pop-up__logo-dark {
	width: 300px;
	margin:0 auto 50px;
}
div.pop-up__logo-dark span {
	color: #2b200f;
	font-size: 1.2em;
}
.pop-up__content {
	position: relative;
	width: 80%;
	max-width: 760px;
	background-color: #fff;
	padding: 75px 28px 40px calc(3.2% + 20px);
}
.pop-up__content h2 {
	font-size: 2.4em;
	padding-bottom: .5em;
	line-height: 1.2;
}
.pop-up__content  h4 {
	color: #768069;
	padding-top: .2em;
	padding-bottom: .8em;
	letter-spacing: .04em;
}
.pop-up__content .btn-box {padding: 50px 0 45px}

.pop-up__content .btn-lg {min-width: 32%}

.pop-up__content .btn-lg:not(:last-of-type){margin-right: 5%}

.pop-up__contact b {
	display: block;
	padding-bottom: 1.4em;
	padding-left: .1em;
}
.pop-up__content strong {
	position: relative;
	font-size: 24px;
	line-height: 1.1;
	display: block;
	max-width: 500px;
	margin: 50px auto;
	padding-left: 45px;
}
.pop-up__content strong:before {
	content: ' ! ';
	font-weight: 700;
	color: var(--accent-color);
	font-size: 2.8em;
	line-height: 1;
	position: absolute;
	top: -10px;
	left: 0
}
.pop-up__contact a:not(:last-of-type) {margin-right: 30px}

.pop-up__content ul {
	list-style-type: decimal;
	padding-left: 18px;
	font-size: .92em;
	margin-bottom: 1em;
}
.pop-up__content ul > li {padding-bottom: .4em}

.pop-up__content ol {
	list-style: none;
	counter-reset: list;
	margin-bottom: 40px;
	margin-top: 15px;
	max-width: 525px;
}
.pop-up__content ol > li {
	position: relative;
	padding-bottom: 20px;
	padding-left: 44px;
}
.pop-up__content ol > li:before {
	content: counter(list);
	counter-increment:list;
	display: inline-block;
	width: 28px;
	height: 28px;
	font-weight: 500;
	text-align: center;
	line-height: 28px;
	border-radius: 50%;
	background-color: var(--accent-color);
	color: #fff;
	position: absolute;
	top: -2px;
	left: 0;
}
.pop-up__content ol li > ul {
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 2px;
	padding-top: 13px;
	margin-bottom: 0;
}

/*------small popup------*/
.small-pop-up {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: auto;
}
.pop-up__remark{
	position: absolute;
	left: 20px;
	top: 240px;
	color: #fff;
	width: 320px;
}
.pop-up__remark-inner {
	position: fixed;
	width: inherit;
}
.pop-up__remark h2 {
	color: #fff;
	font-family: inherit;
	font-size: 2.3em;
	line-height: 1;
	padding-bottom: .5em;
}
.pop-up__remark h3 {
	color: #fff;
	font-size: 1.5em;
}
.pop-up__remark h3 span {font-size: 1.4em;}

.pop-up__small-partners {
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 0;
	margin: 0 -40px;
}
.pop-up__small-partners div {
	padding: 24px;
	flex: 0 0 25%;
	max-width: 25%;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.pop-up__form-box {
	background-color: #fff;
	width: 100%;
	max-width: 710px;
	margin: auto;
	padding: 92px 104px 25px;
}
.form div {position: relative}

.form div svg {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 18px;
	left: 22px;
	pointer-events: none;
	fill: #6f7961;
}
.form {padding-bottom: 46px}

.form + .pop-up__contact {text-align: center}

.form input,.form textarea {
	display: block;
	width: 100%;
	height: 59px;
	letter-spacing: .03em;
	font-weight: 700;
	font-size: .92em;
	color: #333;
	border: 1px solid #dcdcdc;
	background-color: #fff;
	padding: 16px 15px 16px 66px;
	margin-bottom: 27px;
	outline-color: transparent;
	transition: .3s ease;
}
.form__name input {text-transform: uppercase}

.form textarea {
	resize: vertical;
	min-height: 180px;
}
.form input:focus,.form textarea:focus{
	border: 1px solid var(--accent-color);
	outline-color: transparent;
	box-shadow: none;
}
.form input:focus + svg,.form textarea:focus + svg {fill: var(--accent-color)}

.form__btn-lg {
	display: block;
	width: 100%;
	text-align: center;
	padding: 18px;
	font-weight: 500;
	color: #fff;
	letter-spacing: .06em;
	background-color: var(--accent-color);
	border: none;
	outline-color: transparent;
	transition: .3s;
}
.form__btn-lg:hover {background-color: #75ad2a}

.temp {
	font-size: .92em;
	padding: 15px 0;
}