<div class="wrapper">
	<!-- intro -->
	<section class="s-intro">
		<div class="intro__wrap">
			<div class="intro__title-box">
				<h1 class="h1"><span class="first-letter">Virginia</span> Travel For&nbsp;Kids</h1>
				<a href="#" class="btn btn-outline-invert"><svg viewBox="0 0 32 32"><use xlink:href="#i-cloud"/></svg>Button text</a>
				<a href="#" class="btn btn-outline"><svg viewBox="0 0 32 32"><use xlink:href="#i-cloud"/></svg>Button text</a>
				<a href="#" class="btn btn-outline"><svg viewBox="0 0 32 32"><use xlink:href="#i-play"/></svg>Watch video</a>
			</div>
			<div class="intro__timer-box">
				<img src="assets/img/Man.png" srcset="Man@2x.png 2x" alt="">
				<div class="intro__timer">
					<h3 class="timer__title">Title Block</h3>
					<div class="timer" data-countdown="2018/09/30"></div>
				</div>
			</div>
		</div>
	</section>

	<!-- quote -->
	<section class="s-quote">
		<div class="quote-slider-box">
			<div class="quote-slider">
				<div>
					<div class="quote-slider__ava">
						<img src="assets/img/guitarist.png" alt="person">
					</div>
					<div class="quote-slider__content">
						<div class="content__text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="content__author">
							<i style="background-image: url(assets/img/logo-round.png)"></i>
							<div>
								<div class="content__author--name">Roy Rivera</div>
								<div class="content__author--spec">FrontEnd Developer <br>S-PRO</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="quote-slider__ava">
						<img src="assets/img/guitarist.png" alt="person">
					</div>
					<div class="quote-slider__content">
						<div class="content__text">
							<p>Dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="content__author">
							<i style="background-image: url(assets/img/logo-round.png)"></i>
							<div>
								<div class="content__author--name">John Smith</div>
								<div class="content__author--spec">Co-founder <br>Google</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="quote-slider__ava">
						<img src="assets/img/guitarist.png" alt="person">
					</div>
					<div class="quote-slider__content">
						<div class="content__text">						
							<p>Ramet, consectetur adipiscing elit, sed do eiusmod  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="content__author">
							<i style="background-image: url(assets/img/logo-round.png)"></i>
							<div>
								<div class="content__author--name">Don Pedro</div>
								<div class="content__author--spec">Project Manager <br>S-PRO</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<span class='pagingInfo'></span>
		</div>
	</section>

	<!-- timeline -->
	<section class="s-timeline">
		<h2 class="h2" data-subtext="roadmap"><span class="first-letter">Party</span> Jokes Startling But Unnecessary</h2>
		<div class="timeline__container">
			<div class="timeline__item timeline__item--left timeline__item--ready">
				<div class="timeline__inner">
					<h4 class="h4">S1 2018</h4>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Sed do eiusmod tempor incididunt</li>
						<li>Ut enim ad minim veniam</li>
					</ul>
				</div>
			</div>
			<div class="timeline__item timeline__item--right">
				<div class="timeline__inner">
					<h4 class="h4">S2 2018</h4>
					<ul>
						<li>Consectetur adipiscing elit</li>
						<li>Sed do eiusmod tempor incididunt</li>
						<li>Ut enim ad minim veniam</li>
					</ul>
				</div>
			</div>
			<div class="timeline__item timeline__item--left">
				<div class="timeline__inner">
					<h4 class="h4">S3 2018</h4>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
						<li>Ut enim ad minim veniam, quis nostrud exercitation</li>
					</ul>
				</div>
			</div>
			<div class="timeline__item timeline__item--right">
				<div class="timeline__inner">
					<h4 class="h4">S1 2019</h4>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Sed do eiusmod tempor incididunt</li>
						<li>Ut enim ad minim veniam</li>
					</ul>
				</div>
			</div>
			<div class="timeline__item timeline__item--left">
				<div class="timeline__inner">
					<h4 class="h4">S2 2019</h4>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
						<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
					</ul>
				</div>
			</div>
			<div class="timeline__item timeline__item--right">
				<div class="timeline__inner">
					<h4 class="h4">S3 2019</h4>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
						<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
					</ul>
				</div>
			</div>
			<div class="timeline__item timeline__item--left">
				<div class="timeline__inner">
					<h4 class="h4">S4 2019</h4>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
						<li>Ut enim ad minim veniam, quis nostrud exercitation</li>
					</ul>
				</div>
			</div>
			<div class="timeline__item timeline__item--last">
				<div class="timeline__inner">
					<h4 class="h4">2020</h4>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>