<!-- F o o t e r -->
	<footer class="s-footer">
		<div class="footer__soc">
			<div class="container">
				<a href="#" class="logo">
					<img src="assets/img/logo.svg" alt="logo">
				</a>
				<ul class="soc-list">
					<li><a href="#" target="_blank" rel="noopener"><svg viewBox="0 0 32 32"><use xlink:href="#i-telegram"/></svg></a></li>
					<li><a href="#" target="_blank" rel="noopener"><svg viewBox="0 0 32 32"><use xlink:href="#i-tw"/></svg></a></li>
					<li><a href="#" target="_blank" rel="noopener"><svg viewBox="0 0 32 32"><use xlink:href="#i-in"/></svg></a></li>
					<li><a href="#" target="_blank" rel="noopener"><svg viewBox="0 0 32 32"><use xlink:href="#i-fb"/></svg></a></li>
					<li><a href="#" target="_blank" rel="noopener"><svg viewBox="0 0 32 32"><use xlink:href="#i-g"/></svg></a></li>
					<li><a href="#" target="_blank" rel="noopener"><svg viewBox="0 0 32 32"><use xlink:href="#i-reddit"/></svg></a></li>
					<li><a href="#" target="_blank" rel="noopener"><svg viewBox="0 0 32 32"><use xlink:href="#i-bitcoin"/></svg></a></li>
					<li><a href="#" target="_blank" rel="noopener"><svg viewBox="0 0 32 32"><use xlink:href="#i-github"/></svg></a></li>
				</ul>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="container">
				<ul class="footer__nav">
					<li><a class="footer__nav-link" href="#">Privacy Policy</a></li>
					<li><a class="footer__nav-link" href="#">Terms & Conditions</a></li>
					<li><a class="footer__nav-link" href="#">Tokensale Agreement</a></li>
				</ul>
				<div class="footer__copy">&copy; 2018 S-PRO - All rights reserved</div>
			</div>
		</div>
	</footer>
	script(src = path.js + "/scripts.min.js")