.loader {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #dbd1d0 url(../img/screen-saver.jpg) center no-repeat;
	background-size: cover;
	z-index: 9999;
	pointer-events: none;
}
.loader_inner {
	content: "";
	position: absolute;
	border-radius: 100%;
	right: 26px;
	bottom: 26px;
	width: 38px;
	height: 38px;
	border: 6px solid rgba(255,255,255,0.5);
	border-left-color: #fff;
	border-top-color: #fff;
	animation: spin .6s infinite linear;
}
@keyframes spin {to {transform: rotate(359deg)}}

@font-face {
  font-family:'futura-new';
  src: local('Futura New Medium'), local('Futura New Medium'), url('../fonts/FuturaNewMedium-Reg.woff2') format('woff2'), url('../fonts/FuturaNewMedium-Reg.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family:'Fritz Quadrata Cyrillic';
  src: local('Fritz Quadrata Cyrillic'), local('Fritz Quadrata Cyrillic'), url('../fonts/fritzquadratacyrillic.woff2') format('woff2'), url('../fonts/fritzquadratacyrillic.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family:'DelphianC';
  src: local('DelphianC'), local('DelphianC'), url('../fonts/DelphianC.woff2') format('woff2'), url('../fonts/DelphianC.woff') format('woff');
  font-weight: normal;
}
:root {
   --accent-color: #8c7f76;
   --accent-color2: #f0dbca;
   --font-family1: 'DelphianC';
   --font-family2: 'futura-new';
}
::-webkit-scrollbar{width: 8px; height: 8px}
::-webkit-scrollbar-thumb {background:#8c7f76; cursor: pointer; border-radius: 4px}
::-webkit-scrollbar-track-piece{background:#bdbdbd;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {font-size: 16px}

body {
	position: relative;
	color: #f3f3f3;
	font: 24px 'Fritz Quadrata Cyrillic',Helvetica,Arial,sans-serif;
	line-height: 1.4;
	letter-spacing: .01em;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100vh;
}
section {
	width: 100%;
	position: relative;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}
h1 {
	font-size: 2.14em;
	letter-spacing: .05em;
	line-height: 1.36;
}
h2 {
	font-size: 2.2em;
	font-weight: 400;
	font-family:'DelphianC';
	text-align: center;
	padding-bottom: .6em;
}
h3 {
	font-size: 44px;
	font-weight: normal;
	letter-spacing: .08em;
	padding-top: .6em;
	padding-bottom: .6em;
}
h4{font-weight: normal}

p {padding-bottom: 1.071em}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1360px;
}
.container-lg {max-width: 1500px}

.container-xl {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 96%;
	max-width: 1700px;
}
.text-center {text-align: center}
/*=====================
	Header
======================*/
.top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.top .container-xl {
	padding: 44px 15px;
	display:-ms-flexbox; 
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.logo{
	position: absolute;
	left: 3%;
	top: 0;
	display: block;
	text-align: center;
	z-index: 4;
}
.logo a {display: block}

.logo img {width: 100%}

.top__lang {
	position: relative;
	width: 91px;
	height: 44px;
	margin-left: 40px;
	z-index: 998;
}
.top__lang-arrow {
	position: absolute;
	right: 13px;
	top: 7px;
	width: 14px;
	height: 14px;
	z-index: 2;
}
.top__lang-arrow svg {fill: #fff}

.lang__list {
	position: absolute;
	padding: 6px 9px 0;
	width: 100%;
	transition: .3s;
	background-color: transparent;	
}
.top__lang:hover .lang__list {background-color: rgba(1,1,1,.3)}

.top__lang a {
	display: block;
	padding: 6px 7px;
	height: 44px;
	width: 44px;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s;
}
.top__lang a:not(:last-of-type){margin-bottom: 4px}

.top__lang a:first-of-type,.top__lang:hover .lang__list a{
	visibility: visible;
	opacity: 1;
}
.top__lang a i {
	display: inline-block;
	width: 30px;
	height: 20px;
	border-radius: 1px;
	background-position: center;
	background-repeat: no-repeat;
}
.lang__ru {background-image: url(../img/ru.png)}
.lang__en {background-image: url(../img/en.png)}

.navbar{
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
}
.navbar-nav {
	text-transform: uppercase;
	z-index: 999
}
.navbar-collapse{padding: 0}

.navbar-nav li {
	display:block;
	text-align:center;
	transition: .3s;
}
.navbar-nav .collapse li {background-color: transparent}

.collapse.in ul>li,.collapsing ul>li {float:none}

.navbar-nav>li>a {
	line-height: 1.2;
	padding: 8px 16px;
}
.navbar-toggle{
	float: none;
	margin: 0;
	height: 70px;
	padding: 6px 12px 0;
	position: absolute;
	right: 15px;
	top: -70px;
	border-radius: 0;
	z-index: 4;
}
.navbar-toggle .icon-bar {
	background-color: #fff; 
	transition:.25s cubic-bezier(.77,0,.175,1);
	transform-origin: left top;
	box-shadow: .4px 3px 2px rgba(1,2,2,.4);
	width: 32px;
	height: 3px;
}
.navbar-toggle .icon-bar +.icon-bar {margin-top: 6px}

[aria-expanded=true] .icon-bar:first-child {
	transform: rotate(44deg) translate(2px,-4px);
	transition:transform .24s ease;
}
[aria-expanded=true] .icon-bar:nth-child(2) {
	opacity:0;
	width: 0;
	transition: .3s
}
[aria-expanded=true] .icon-bar:last-child {
	transform: rotate(-45deg) translate(-1px,3px);
	transition:transform .24s ease;
	box-shadow: -1px 0px 2px rgba(1,2,2,.4);
}
.navbar-nav a {
	position: relative;
	display: inline-block;
	text-shadow: .4px 3px 1.8px rgba(1,2,2,.6);
	color: #fff;
	font-family: 'futura-new';
	font-size: 30px;
	padding: 9px 6px;
	text-align: center;
	transition: .3s; 
}
.submenu {position: relative}

/*==========================
	intro-section
===========================*/
.s-intro {
	position: relative;
	min-height: 60vh;
	max-height: 94vh;
	padding: 194px 0;
	display:-ms-flexbox; 
	display: flex;
	align-items: center;
	justify-content: center;
	-ms-flex-pack: start;
}
.s-intro .container-xl {
	z-index: 2;
	margin-bottom: -300px;
}
.intro-bg-slider {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.intro-bg-slider .slick-list,.intro-bg-slider  .slick-slider, .slick-track {height: 100%}

.slide__bg {
	width: 100%;
	width: 100vw;
	height: 100%;
}
.slide__bg:before {
	content: '';
	position: relative;
	pointer-events: none;
	display: block;
	width: 100vh;
	height: 99vh;
	z-index: -1;
	background-color: transparent;
}
.slide__bg .slide__bg-zoom {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	width: 100vw;
	height: 100%;
	background-position: center;
	background-size: auto 104%;
	background-size: auto 94vh;
	background-repeat: no-repeat;
	will-change:transform;
	transform: translate3d(-50%,-50%,-660px) scale(1.06);
	transition: transform 5s 2s;
}
.slick-active.slide__bg .slide__bg-zoom{
	transform: translate3d(-50%,-50%,-660px) scale(1);
	transition: transform 7s;
}
.slide__content-border {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 10px;
	right: 10px;
	height: 580px;
	/*background-color: #f0dbca;*/
	border: 5px solid rgba(189,189,189,.8);
	box-shadow: 1px 9px 16px 1.4px rgba(1,2,2,.41);	
}
.slide__content-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-size: auto 104%;*/
	background-size: auto 94vh;
	background-repeat: no-repeat;
	background-position: center -227px;
	will-change:transform;
	transform: scale(1.12);
	transition: transform 5s 2s;
}
.slick-active .slide__content-bg{
	transform: scale(1);
	transition: transform 7.5s;
}
.slide__content-bg:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(38,38,38,.27);
}
.slide__content {
	position: relative;
	display:-ms-flexbox; 
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.slide__content-pict {
	position: relative;
	width: 46%;
	padding: 190px 20px 0;
	float: left;
}
.slide__content-pict img {width: 100%}

.slide__content-text {
	position: relative;
	width: 53.3%;
	padding: 129px 40px 99px;
	min-height: 580px;
	float: right;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	-ms-flex-pack: start;
}
.h1 {
	font-size: 44px;
	font-weight: 400;
	padding-bottom: 1em;
	letter-spacing: 0;
	line-height: 1.2;
	text-shadow: .4px 3px 4px rgba(1,2,2,.4);
}
.intro-content-slider .slick-dots {
	width: 53.3%;
	right: 0;
	bottom: 320px;
	text-align: left;
	padding: 0 32px;
	transform: translateZ(50px);
}
.slick-dots li {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 1px;
	background-color: rgba(254,254,254,0);
	background-clip: padding-box;
	border-radius: 10px;
	margin: 0 11px;
	transition: .3s;
}
.slick-dots li:hover{background-color: rgba(254,254,254,1)}

.slick-dots li.slick-active {background-color: #f0dbca}

.slick-dots  li svg {
	display: block;
	position: relative;
	z-index: 10;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	fill: none;
	stroke: #fff;
	stroke-width: 4;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 39 39;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset .5s .05s, opacity .3s;
}
.slick-dots li.slick-active svg {
	opacity: 0;
	stroke-dashoffset: 39;
}
/*===============================
  a n i m a t i o n s
================================*/
.cliptrapez {
	will-change: clip-path;
	opacity: 1;
   -webkit-clip-path: polygon(0 0,1% 0,0 100%,0 100%);
   clip-path: polygon(0 0,1% 0,0 100%,0 100%);
}
.cliptrapez.anim-play {animation: 2s cliptrapez ease forwards}

@keyframes cliptrapez {
  to { opacity: 1;
   -webkit-clip-path: polygon(0 0,140% 0,100% 100%,0 100%);
   clip-path: polygon(0 0,140% 0,100% 100%,0 100%)}
}
.enter-y {
	transform: translateY(50px);
	opacity: 0;
	transition: opacity 1s,transform 1.2s cubic-bezier(.165,.84,.44,1);
}
.enter--x {
	transform: translateX(-50px);
	opacity: 0;
	transition: opacity 1s,transform 1.2s cubic-bezier(.165,.84,.44,1);
}
.enter-x {
	transform: translateX(50px);
	opacity: 0;
	transition: opacity 1s,transform 1.2s cubic-bezier(.165,.84,.44,1);
}
.enter-x.anim-play,.enter--x.anim-play,.enter-y.anim-play {
	opacity: 1;
	transform: translate(0);
	transition-delay: .1s;
}
/*===============================
  s-brand
================================*/
.s-brand {
	padding-top: 134px;
	padding-bottom: 400px;
	margin-bottom: -400px;
	background: url(../img/texture.jpg) center no-repeat;
	background-size: cover;
}
.is-brand {
	display: block;
	margin: 0 auto 25px;
	text-align: center;
	opacity: .48;	
}
.s-brand .is-brand {
	width: 100%;
	max-width: 520px;
	padding: 0 15px;	
}
.is-type-text {padding: 40px 0 30px}

.brand__video {
	position: relative;
	width: 96%;
	max-width: 1300px;
	margin: auto;
	margin-top: 84px;
}
.brand__video img {box-shadow: 1px 9px 17px 4px rgba(1,2,2,.41)}

.brand__video-trigger {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 68px;
	height: 68px;
	margin: -34px 0 0 -34px;
	background-color: #97897f;
	text-align: center;
	border: none;
	color: #fff;
	border-radius: 50%;
	transition: .3s;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-flex-pack:start;
	align-items: center;
	outline-color: transparent;
}
.brand__video-trigger:hover {opacity: .7}

.brand__video-trigger svg {
	display: inline-block;
	width: 20px;
	height: 21px;
	fill: currentColor;
	margin: auto;
}
/*==========================
	product
===========================*/
.screen-wrap {
	background: url(../img/screen-saver.jpg) center no-repeat; 
	background-size: cover;
	min-height: 70vh;
}
.s-product {padding: 84px 0 90px}

.product-slider .slide {
	padding: 0 44px 30px;
	text-align: center;
}
.product__item {
	position: relative;
	display: block;
	max-width: 380px;
	margin: auto;
	color: #fff;
	background-color: #030303;
	border: 5px solid #bdbdbd;
	box-shadow: 1px 9px 17px 4px rgba(1,2,2,.4);
	overflow: hidden;
	transition: .6s;
}
.product__item:hover {
	box-shadow: 1px 9px 17px 3px rgba(1,2,2,.4);
	border-color:#8c7f76;
	transition: .4s;
}
.product__item img{
	transform-origin: center 60%;
	transition: .6s ease;
}
.product__item:hover img{transform: scale(1.04)}

.product__item-descr {
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	padding: 0 2%;
	background-color: transparent;
	transition: .6s;
}
.product__item:hover .product__item-descr {
	background-color: #8c7f76;
	transition: .4s;	
}
.product__item-descr div {
	display: block;
	position: relative;
	overflow: hidden;
	text-align: center;
	width: 97%;
	margin: auto;
}
.product__item-descr h4 {
	display: inline-block;
	position: relative;
	text-align: center;
	min-width: 52%;
	font-family: 'DelphianC';
	font-size: 1.9em;
	text-shadow: 0 0 14px #333;
	line-height: 1;
	padding: 6px 8px 0;
}
.product__item-descr h4:before,.product__item-descr h4:after {
	content: '';
	display: block;
	position: absolute;
	top: 19px;
	height: 9px;
	width: 200px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	z-index: 2;
}
.product__item-descr h4:before{right: 100%}
.product__item-descr h4:after{left: 100%}

.slick-arrow {
	width: 44px;
	height: 44px;
	z-index: 2;
	opacity: .8;
	transition: .3s;
}
.slick-arrow:hover{opacity: 1}

.slick-arrow:before{content: none}

.slick-arrow svg {fill: #fff}

.product-slider .slick-prev {
	left: 50%;
	margin-left: -285px;
}
.product-slider .slick-next {
	right: 50%;
	margin-right: -285px;
}
/*==========================
	a w a r d s
===========================*/
.s-awards {padding: 20px 0 80px}

.s-awards .row {justify-content: center}

.awards__item {text-align: center}

.awards__slider-box {padding: 70px 44px 0}

.awards-slider .slide {
	position: relative;
	padding: 70px;
	text-align: center;
}
.awards-slider .slide i {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	opacity: .4;
	-webkit-clip-path: polygon(0 0,1% 0,0 100%,0 100%);
	clip-path: polygon(0 0,1% 0,0 100%,0 100%);
}
.awards-slider .slide.slick-active i{animation: 3s cliptrapez ease .2s forwards}

.awards-slider .slide p {
	transform: scale(.9);
	transition: .3s;
}
.awards-slider .slide.slick-active p{
	transform: scale(1);
	transition: .3s ease .6s
}
@keyframes cliptrapez {
  to { 
   -webkit-clip-path: polygon(0 0,140% 0,100% 100%,0 100%);
   clip-path: polygon(0 0,140% 0,100% 100%,0 100%)}
}
.awards-slider .slide p {
	padding-top: .8em;
	padding-bottom: .4em;
}
/*==========================
	footer
===========================*/
.s-footer{
	position: relative;
	padding: 54px 0;
	background: url(../img/texture.jpg) center bottom no-repeat; 
	background-size: 100% auto;
	z-index: 700;
}
.footer__callback-trigger {
	color: #fff;
	display:-ms-flexbox; 
	display: flex;
	align-items: center;
}
.footer__callback-trigger:hover{opacity: .7}

.footer__callback-trigger i {
	display: inline-block;
	margin-left: 40px;
	width: 85px;
	height: 80px;
	vertical-align: middle;
}
.footer__callback-trigger i svg {fill: #fff}

.footer__soc {
	padding: 30px 0;
	text-align: center;
}
.footer__soc a{display: inline-block}

.footer__soc a:hover{opacity: .6}

.footer__soc i {
	display: inline-block;
	margin: 0 9px;
	width: 42px;
	height: 42px;
	background-size: cover;
}
.footer__contacts {padding-top: 12px}

.footer__contacts a {
	display: inline-block;
	color: #fff;
	margin-bottom: 30px;
	white-space: nowrap;
}
.footer__contacts a i {
	display: inline-block;
	vertical-align: -9px;
	width: 34px;
	height: 30px;
	margin-right: 50px;
}
.footer__contacts a span {
	display: inline-block;
	position: relative;
}
.footer__contacts a span:before {
	content: ''; 
	position: absolute; 
	bottom: -4px;
	left: 15%;
	width: 70%;
	height: 2px;
	background-color: #fff;
	transform-origin: right top;
	transform: scale(0,1);
	transition: color 0.1s,transform .34s cubic-bezier(.25,.46,.45,.94);
}
.footer__contacts a:hover span:before{
	transform-origin: left top;
	transform: scale(1,1);
}
.footer__up {
	position: absolute;
	bottom: -30px;
	width: 50px;
	height: 50px;
	right: 50%;
	margin-right: -25px;
}
.footer__up:hover{opacity: .6}
/*========================
 contact - section
=========================*/
.form {padding: 20px calc(9% + 15px)}

.form > span {
	display: block;
	position: relative;
	margin-bottom: 40px;
}
.popup__header {
	padding: 10px;
	background: url(../img/texture.jpg) center bottom no-repeat;
	text-align: center;
	margin-bottom: 30px;
}
.popup__header h3 {
    font-size: 1.6em;
    letter-spacing: 0
 }
.form input,.form textarea {
	display: block;
	width: 100%;
	height: 60px;
	letter-spacing: .01em;
	border: none;
	border-bottom: 3px solid #796957;
	background-color: transparent;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
	outline-color: transparent;
	transition: .4s ease;
}
.form textarea {
	padding: 15px 15px 15px 60px;
	resize: vertical;
	min-height: 84px;
}
.form input:focus,.form textarea:focus{
	background-color: rgba(254,254,254,.1);
	outline-color: transparent;
	box-shadow: none;
}
.form input + label,.form textarea + label {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 30px;
}
.form label span {
	position: absolute;
	display: inline-block;
	color: #111;
	user-select: none;
	white-space: nowrap;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	transition: .4s ease;
}
.form input:focus + label span,.form textarea:focus + label span,input.focused + label span,textarea.focused + label span{
	color: #8c7f76;
	transform: translate(-50%,-26px) scale(.8);
}
.form__btn {
	position: relative;
	min-height: 60px;
	width: 100%;
	max-width: 280px;
	margin: auto;
	background: transparent;
	border: none;
	border-bottom: 3px solid #796957;
	text-align: center;
	color: #807c7a;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: .1em;
	text-align: center;
	transition: .4s;
	outline-color: transparent;
	z-index: 1;
}
.form__btn:hover {color:#504c4a}

/*===============================
  popup
================================*/
.mfp-bg {background-color: #8c7f76}

.mfp-iframe-holder .mfp-content {max-width: 1020px}

.mfp-close-btn-in .mfp-close{
	color: #fff;
	opacity: 1;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	right: 20px;
	top: 30px;
	padding: 0;
	font-size: 42px;
	font-family: 'futura-new';
	transition: .3s;
}
.mfp-close-btn-in .mfp-close:hover {color: #8c7f76}

.mfp-iframe-scaler .mfp-close {
	background-color: rgba(0,0,0,.9);
	border-radius: 3px;
	right: 0;
	top: 0;
}
.small-pop-up {
	position: relative;
	width: 100%;
	max-width: 784px;
	background-color: #fcfcfc;
	margin: auto;
	padding: 0 0 50px;
}
.is-dark-text {
	padding: 40px;
	color: #333;
	text-align: center;
}
/*==========================
	s-category
===========================*/
.s-category {
	padding-top: 239px;
	min-height: 90vh;	
	background: #ded5d0 url(../img/Category/bg1.jpg) center top no-repeat;
	background-size: 100% auto;
}
.category__container {
	padding: 80px 15px 30px;
	max-width: 1600px;
}
.title__box {
	position: relative;
	padding: 40px 15px;
	width: 100%;
}
.title__pict {
	position: absolute;
	width: 254px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-56%);
	opacity: .8;
}
.title__pict img {max-height: 190px}

.title {
	position: relative;
	font-family: 'DelphianC';
	text-shadow: .4px 3px 3.8px rgba(1, 2, 2, .65);
	font-size: 2.4em;
	text-transform: uppercase;
	text-align: center;
}
.category__item {
	display:-ms-flexbox; 
	display: flex;
	justify-content: center;
	align-items: flex-end;
	max-width: 540px;
	margin-bottom: 88px;
}
/*.before-anim .category__item {
	opacity: 0;
	transform: scale(.8);
}
.before-anim.anim-play .category__item {animation: zoom 1s cubic-bezier(.77,0,.175,1) forwards}

@keyframes zoom {to{opacity: 1;transform: scale(1)}}

.anim-play.before-anim .col-md-4:nth-of-type(1) .category__item{animation-delay: .2s}
.anim-play.before-anim .col-md-4:nth-of-type(2) .category__item{animation-delay: .3s}
.anim-play.before-anim .col-md-4:nth-of-type(3) .category__item{animation-delay:.4s}
.anim-play.before-anim .col-md-4:nth-of-type(4) .category__item{animation-delay: .5s}
.anim-play.before-anim .col-md-4:nth-of-type(5) .category__item{animation-delay: .6s}
.anim-play.before-anim .col-md-4:nth-of-type(6) .category__item{animation-delay: .7s}
.anim-play.before-anim .col-md-4:nth-of-type(7) .category__item{animation-delay: .8s}
.anim-play.before-anim .col-md-4:nth-of-type(8) .category__item{animation-delay: .9s}
.anim-play.before-anim .col-md-4:nth-of-type(9) .category__item{animation-delay: 1s}
.anim-play.before-anim .col-md-4:nth-of-type(10) .category__item{animation-delay: 1.1s}
.anim-play.before-anim .col-md-4:nth-of-type(11) .category__item{animation-delay: 1.2s}
.anim-play.before-anim .col-md-4:nth-of-type(12) .category__item{animation-delay: 1.3s}
.anim-play.before-anim .col-md-4:nth-of-type(13) .category__item{animation-delay: 1.4s}
.anim-play.before-anim .col-md-4:nth-of-type(14) .category__item{animation-delay: 1.5s}
.anim-play.before-anim .col-md-4:nth-of-type(15) .category__item{animation-delay: 1.6s}*/

.category__pict {
	margin-right: -5px;
	padding-right: 15px;
	width: 58%;
	/*transform: matrix(1,0,0,1,0,0);*/
	transform: translateZ(0);
	transition: .4s;
}
.category__item:hover .category__pict {transform: matrix(1.17,-0.02,0.1,1.17,-2,0)}

.category__descr {width: 42%}

.category__descr .is-brand {
	margin: 0 0 8px;
	max-width: 150px;
	padding-left: 2px;
	transition: .4s;
	opacity: .38
}
.category__item:hover .is-brand {opacity: .9}

.category__descr h5 {
	color: #4f4337;
	font-size: 1.2em;
	font-weight: 400;
	padding-bottom: .4em;
	line-height: 1;
}
/*===============================
  item
================================*/
.title-item__pict {
	display: block;
	margin: 0 auto 20px;
	max-width: 74px;
}
.title-item {
	font-family: 'DelphianC';
	text-shadow: -1px 1px #fff, 0px 1px #fff, 0.4px 4px 4px rgba(1,2,2,.65);
	color: #fff;
	font-size: 2.9em;
	letter-spacing: .02em;
	word-spacing: -.3em;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}
.title-item__bread-crumbs {
	padding-top: 20px;
	padding-bottom: 35px;
	font-family: 'DelphianC';
	text-align: center;
	word-spacing: -3px;
}
.title-item__bread-crumbs a,.title-item__bread-crumbs span,.four-zero-four a {
	text-shadow: 0px 1px #fff,.2px 2px 2px rgba(1,2,2,.65);
	color: #fff
}
.title-item__bread-crumbs a:hover {
	color: #d5862f;
	text-shadow:0 0;
}
.title-item__bread-crumbs a:after {
	content: ' | ';
	color: #fff;
	display: inline-block;
	margin-left: 18px;
	vertical-align: middle;
}
.title-item__bread-crumbs a:hover:after{color: #fff}

.title-item__country {
	text-align: center;
	color: #565452;
	padding-bottom: 35px;
}
.title-item__country i{
	width: 29px;
	height: 20px;
	display: inline-block;
	vertical-align: -1px;
	margin-right: 30px;
	background-position: center;
	background-repeat: no-repeat;
}
.title-item__country i.ru{background-image: url(../img/ru.png)}
.title-item__country i.en{background-image: url(../img/en.png)}
.title-item__country i.it{background-image: url(../img/it.png)}
.title-item__country i.by{background-image: url(../img/by.png)}
.title-item__country i.be{background-image: url(../img/be.png)}
.title-item__country i.ch{background-image: url(../img/ch.png)}

.category-row p {
	color: #565452;
	text-align: center;
	max-width: 566px;
	margin: auto;
}
.item__formats {text-align: center}

.item__spoiler {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #565452;
	color: #000;
}
.item__spoiler i {
	display: inline-block;
	width: 22px;
	height: 26px;
	padding: 2px;
	vertical-align: middle;
	margin-left: 26px;
	opacity: .75;
	transition: opacity .3s,transform .2s;
}
.item__spoiler:hover i {opacity: 1}

.item__spoiler[aria-expanded=true] i {transform: rotate(-180deg)}

.item__spoiler i svg {fill: currentColor}

.item__formats ul {
	list-style: none;
	color: #565452;
	transition: height .4s;
}
.item__formats ul li {padding-bottom: 20px}

.item__nav {
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0 30px;
}
.item__nav a {
	color: #565452;
	max-width: 48%;
	font-size: .82em;
	line-height: 1;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.item__nav a:nth-of-type(2){
	text-align: right;
	justify-content: flex-end;
}
.item__nav a i {
	display: inline-block;
	vertical-align: middle;
	width: 38px;
	min-width: 38px;
	height: 38px;
	padding: 5px;
	opacity: .5;
	transition: .4s;
}
.item__nav a:hover i{opacity: 1}

.item__nav a:first-of-type i{margin-right: 26px}
.item__nav a:last-of-type i{margin-left: 26px}

.item-slider .slide{padding: 0 15px 20px 30px}

.item-slider .slide img,.item-slider-thumb .slide img {margin: auto}

.item-slider-thumb .slick-track {margin: auto}

.item-slider-thumb .slide {
	opacity: .36;
	text-align: center;
	color: #565452;
	cursor: pointer;
	transform: scale(.9);
	transition: .4s;
}
.item-slider-thumb .slide.slick-center {
	transform: scale(1);
	opacity: 1;
}
.item-slider-thumb .slide div {
	min-height: 114px;
	width: 130px;
	margin: auto;
}
.s-four-zero-four{
	background: #ded5d0 url(../img/Category/bg1.jpg) center top no-repeat;
	background-size: 100% auto;
	min-height: 92vh;
	padding: 320px 0 150px;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.s-four-zero-four img {opacity: .6}

.four-zero-four {
	padding-top: 56px;
	text-align: center;
	color: #4f4337;
	font-size: 1.2em;
}
.four-zero-four__title {font-size: 80px}

.four-zero-four a {
	display: block;
	margin-top: 20px;
	font-family: 'futura-new';
}
.four-zero-four a:hover{opacity: .6}

/*up*/
.js-scroll-up {
	position: fixed;
	bottom: 26px;
	right: 30px;
	width: 62px;
	height: 62px;
	background-color: rgba(254,254,254,.9);
	text-align: center;
	border: none;
	color: #97897f;
	border-radius: 50%;
	transition: .3s;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-flex-pack:start;
	align-items: center;
	outline-color: transparent;
	transition: .4s;
}
.in-viewport .js-scroll-up {opacity: 0;pointer-events: none;}

.js-scroll-up:hover {background-color: #f0dbca;color: #71665d;}

.js-scroll-up svg {
	display: inline-block;
	transform: rotate(-90deg);
	width: 20px;
	height: 21px;
	fill: currentColor;
	margin: auto;
}

/*
Theme Name: Laime
Version: 1.0
*/
.footer__soc a[href^="https://www.instagram.com/"] i {background-image: url(img/svg/ins.svg)}
.footer__soc a[href^="https://www.facebook.com/"] i {background-image: url(img/svg/fb.svg)}
.navbar-nav {text-transform: uppercase}

.category-row .content p { max-width: 1200px}
.content { color: #565452; }
.content img.alignleft {padding-right: 24px}
.content img.alignright {padding-left: 24px}
.alignleft {float: left}
.alignright {float: right}
.aligncenter {text-align: center}