:root {
   --accent-color: #ce202e;
}
::-webkit-scrollbar{width: 8px; height: 8px}
::-webkit-scrollbar-thumb {background: #bbb; cursor: pointer; border-radius: 1px}
::-webkit-scrollbar-track-piece{background: #e6e6e6;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {font-size: 14px}

body {
	position: relative;
	color: #333;
	font: 16px 'Open Sans',Arial,sans-serif;
	line-height: 1.3;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100vh;
}
section {
	width: 100%;
	position: relative;
	padding: 22px 0 9px;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	user-select: none;
	transition: .3s;
}
h1 {
	display: block;
	font-size: 50px;
	font-weight: normal;
	color: #4d4d4d;
	line-height: 1.36;
	padding: .2em 0 .1em .06em;
	margin-bottom: .6em;
	border-bottom: 2px solid #ce202e;
}
h2 {
	display: block;
	font-size: 40px;
	font-weight: normal;
	color: #4d4d4d;
	line-height: 1.2;
	padding: 0 0 .16em .06em;
	margin-bottom: .6em;
	border-bottom: 2px solid #4d4d4d;
}
h3 {
	font-size: 1.56em;
	padding-bottom: .7em;
}
p {padding-bottom: 1.071em}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
}

/*=====================
	Header
======================*/
.top {border-bottom: 2px solid #b5b5b5}

.logo{
	display: block;
	z-index: 4;
	padding: 23px 0;
	width: 340px;
}
.logo__link {display: block}

.logo img {
	display: inline-block;
	width: 105px;
	height: 43px;
	margin-top: 4px;
	vertical-align: top;
}
.logo__link span {
	padding-left: 12px;
	color: #ce202e;
	font-size: 14px;
	line-height: 1.1;
	display: inline-block
}
.logo__link span b {
	color: #4d4d4d;
	font-size: 29px;
	font-weight: 400;
}
.is-accent {color: #ce202e}

.sm-btn {
	min-width: 200px;
	display: inline-block;
	background-color: #ce202e;
	color: #fff;
	font-size: 15px;
	padding: 6px;
	border-radius: 6px;
	text-align: center;
}
.sm-btn:hover{background-color: #ee0000}

.sm-btn:focus{color: #fff}

.top__contact {
	position: absolute;
	right: 15px;
	top: 20px;
	width: 370px;
}
.top__contact-item {
	margin-bottom: 10px;
	border-radius: 2em;
	padding: 5px 6px;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
}
.top__contact-item:first-of-type{background-color: #0d539d}
.top__contact-item:last-of-type{background-color: #ce202e}

.top__contact-station {
	float: left;
	font-size: 13px;
}
.top__contact-station:before {
	content: '';
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-right: 3px;
	background: url(../img/sprites.png) -8px -10px no-repeat;
	vertical-align: -2px;
}
.top__contact-tel {float: right}

.top__contact-tel:before {
	content: '';
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-right: 3px;
	background: url(../img/sprites.png) -131px -10px no-repeat;
	vertical-align: -2px;
}
.navbar{
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
}
.navbar-nav {z-index: 999}

.navbar-collapse{padding: 0}

.navbar-nav li {
	display:block;
	position: relative;
}
.collapse.in ul>li,.collapsing ul>li {float:none}

.navbar-nav>li>a {line-height: 1.2}

.navbar-toggle{
	float: none;
	margin: 0;
	padding: 6px 12px 0;
	position: absolute;
	right: 15px;
	top: -70px;
	border-radius: 4px;
	border: 2px solid #666;
	z-index: 4;
}
.navbar-toggle .icon-bar {
	background-color: #666; 
	transition:.25s cubic-bezier(.77,0,.175,1);
	transform-origin: left top;
	width: 25px;
}
.navbar-toggle .icon-bar +.icon-bar {margin-top: 6px}

[aria-expanded=true] .icon-bar:first-child {
	transform: rotate(45deg) translate(4px,-3px);
	transition:transform .24s ease;
}
[aria-expanded=true] .icon-bar:nth-child(2) {
	opacity:0;
	width: 0;
	transition: .3s
}
[aria-expanded=true] .icon-bar:last-child {
	transform: rotate(-45deg) translate(1px,4px);
	transition:transform .24s ease;
}
a.top__link {
	position: relative;
	display: inline-block;
	padding: 3px 5px 3px 1px;
	font-size: 20px;
	text-align: left;
	color: #4d4d4d;
	background-color: #e6e6e6;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	transition: .3s; 
}
a.top__link:hover,.active >.top__link{
	background-color: #ce202e;
	color: #fff;
}
.navbar-nav li ul li a {
	display: block;
	white-space: nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 11px;
}
.search__box {
	margin-top: 30px;
	width: 100%;
	background-color: #f2f2f2;
	padding: 10px;
}
.search__form {
	position: relative;
	float: left;
	width: 64%;
	padding-right: 20px;
}
.search__form input {
	outline-color: transparent;
	padding-left: 40px;
	display: block;
	font-size: 14px;
	width: 100%;
	height: 30px;
	border: 1px solid #b5b5b5;
	background: #fff url(../img/sprites.png) -157px -4px no-repeat;
}
.search__form [type=submit] {
	position: absolute;
	width: 40px;
	height: 30px;
	top: 0;
	left: 0;
	font-style: normal;
	line-height: 20px;
	opacity: 0;
	display: none;
}
.search__btn-box {
	float: right;
	width: 36%;
}
.search__btn-box a:first-of-type{
	float: left;
	margin-right: 4%;
}
.search__btn-box a:last-of-type{float: right}

.dark__btn {
	display: block;
	color: #fff;
	background-color: #666;
	text-align: center;
	border-radius: 3px;
	width: 48%;
	padding: 3px;
	font-size: 15px;
	line-height: 24px;
}
.dark__btn:hover{background-color: #888}

.accent__btn {
	display: block;
	color: #fff;
	background-color: #ce202e;
	text-align: center;
	border-radius: 3px;
	width: 48%;
	padding: 3px;
	font-size: 15px;
	line-height: 24px;
}
.accent__btn:hover{background-color: #ee0000}

.top__every-day {
	position: absolute;
	top: 20px;
	left: 34%;
	color: #666;
	width: 312px;
	text-align: center;
}
.top__every-day div{
	font-weight: 300;
	color: #666;
	font-size: 26px;
	margin-bottom: 7px;
	line-height: 1;
}
.accent__sm-btn,.dark__sm-btn {
	position: relative;
	min-width: 46%;
	text-align: center;
	border-radius: 2em;
	padding: 5px 28px 5px 5px;
	color: #fff;
	font-size: 13px;
	transition: .3s;
}
.accent__sm-btn {
	float: left;
	background-color: #ce202e;
}
.dark__sm-btn {
	float: right;
	background-color: #4d4d4d
}
.accent__sm-btn:hover,.dark__sm-btn:hover{opacity: .8}

.accent__sm-btn:after,.dark__sm-btn:after{
	content: ''; 
	position: absolute; 
	top: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
}
.accent__sm-btn:after {background-position: -103px -125px}
.dark__sm-btn:after {background-position: -135px -126px}

/*=============================
	services|actions - section
=============================*/
.services__item,.actions__item,.programs__item {
	position: relative;
	display: block;
	margin: 0 auto 30px;
	text-align: center;
	color: #4d4d4d;
	border: 1px solid #ccc;
	transition: .3s;
}
.actions__item.is-accent-bg{
	background-color: #ce202e;
	color: #fff;
}
.services__item:hover,.actions__item:hover,.programs__item:hover {box-shadow: 0 2px 9px 1px rgba(0,0,0,.2)}

.services__discount {
	position: absolute;
	top: 0;
	left: 3%;
	width: 94%;
	color: #808080;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	padding: 4px;
}
.actions__offer {
	min-height: 74px;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 3px 9px;
	color: #4d4d4d;
	font-weight: 700;
}
.services__pict {
	margin-top: 30px;
	min-height: 249px
}
.services__pict img {
	display: block;
	width: 100%;
}
.services__descr {
	min-height: 75px;
	padding: 0 5px
}
.actions__descr {
	min-height: 66px;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
}
.services__descr h3 {
	padding-top: 10px;
	padding-bottom: .1em;
	font-size: 16px;
	transition: .3s;
}
.services__descr p,.actions__descr p,.programs__item p {
	font-size: 12px;
	transition: .3s;
	padding-bottom: .5em;
}
.services__item:hover h3,.services__item:hover p {color: #ce202e}

.services__price,.actions__price {
	border-top: 1px solid #ccc;
	margin: 0 7px;
	padding: 7px 0 8px;
	min-height: 36px;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 700;
}
.actions__price{color: #ce202e;}
.is-accent-bg .actions__price,.is-accent-bg .actions__offer{color: #fff;border-top-color: #fff;}
/*===============================
 s-footer
================================*/
.s-footer {
	margin-top: 69px;
	padding: 35px 0 28px;
	background-color: #f2f2f2;
	border-top: 5px solid #999;
}
.footer__remark {
	color: #ccc;
	font-size: 60px;
	line-height: 0.6;
	text-align: center;
	padding-bottom: .9em;
}
.footer__address {
	color: #4d4d4d;
	font-size: 13px;
	line-height: 1.84;
}
.footer__address-1 {margin-bottom: 20px}

.footer__address b {font-size: 22px}
.footer__address-1 b,.footer__address-1 span {color: #0d539d}
.footer__address-2 b,.footer__address-2 span {color: #ce202e}

.footer__soc {
	padding-top: 3px;
	text-align: center;
}
.footer__soc-box a {
	display: inline-block;
	margin: 0 13px;
	width: 51px;
	height: 51px;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	filter: grayscale(100%);
	opacity: .5;
	transition: .3s;
}
.footer__soc-box a:hover {
	filter: grayscale(0);
	opacity: 1;
}
.footer__soc-box .vk{background-position: -14px -48px}
.footer__soc-box .yt{background-position: -76px -49px}
.footer__soc-box .fb{background-position: -139px -49px}

.footer__soc-remark {
	color: #ccc;
	font-size: 22px;
	font-weight: 700;
}
.footer__link {
	color: #0072bb;
	font-size: 13px;
	text-decoration: underline;
	display: block;
	margin-top: 30px;
}
.footer__copy {text-align: right}

.footer__copy-self {
	color: #666;
	font-size: 22px;
	font-weight: 700;
	padding-bottom: .7em;
}
.footer__copy-text {
	color: #666;
	font-size: 11px;
	padding-bottom: 1.4em
}
.footer__copy-rek {
	margin-top: 70px;
	color: #999;
}
.footer__copy-rek a {
	text-decoration: underline;
	color: #ce202e;
}

/*===============================
 - p o p u p
================================*/
.mfp-close-btn-in .mfp-close {
	background-color: #fff;
	color: #ce202e;
	border-radius: 50%;
	top: -16px;
	right: 0;
	width: 38px;
	height: 38px;
	padding: 0;
	text-align: center;
	line-height: 36px;
	font-size: 36px;
	font-family: inherit;
	transition: .3s;
}
.mfp-close-btn-in .mfp-close:hover {color: #ce202e}

.small-pop-up {
	position: relative;
	width: 100%;
	max-width: 420px;
	background-color: #fff;
	margin: 40px auto;
	padding: 50px 30px 20px;
	border-radius: 12px;
}
.popup__title {
	position: absolute;
	border-radius: 2em;
	color: #fff;
	font-size: 18px;
	padding: 7px 12px 7px 40px;
	text-align: center;
	font-variant: small-caps;
	top: -15px;
	left: 0;
	width: 100%;
}
#popup-subscribe .popup__title{background-color: #4d4d4d}

#popup-call .popup__title{background-color: #ce202e}

.popup__title:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 4px;	
	width: 32px;
	height: 32px;
}
#popup-subscribe .popup__title:before {background: url(../img/sprites.png) -44px -118px no-repeat;}

#popup-call .popup__title:before {background: url(../img/sprites.png) 0 -117px no-repeat;}

.form__select {
	display: block;
	width: 100%;
	height: 30px;
	border: 1px solid #b5b5b5;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	margin: 0 auto 20px;
	padding: 2px 9px;
	background: #f2f2f2 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKVJREFUeNpi9PX13c3AwODCQBrYwwQk0oH4GwmaQGrTmTZt2nQPyGgkQWMjSA8TlNMHxOeJ0HQeqpYBrBFowh8glQrEf/FoAsmlQtUywGwEaT4LpCbi0TgRqoYBRSMU1AHxAyyaHkDlGLBqBJr4FUhlYNGYAZVjwGUjSPNOILUUSWgpVIwBr0YoKATit1BciE0B4////7Hq9PPzi4O6YBE2eYAAAwDvLDkoWZjYrAAAAABJRU5ErkJggg==') 98% center no-repeat;
	background-size: 14px 11px;
	cursor: pointer;
}
.form__popup input,.form input, textarea{
	display: block;
	width: 100%;
	height: 32px;
	border: 1px solid #b7b7b7;
	border-radius: 3px;
	font-size: 13px;
	margin: 0 auto 20px;
	padding: 4px 9px;
}
.form input{background-color: #f2f2f2}

textarea{min-height: 74px}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
	background-color: #ce202e;
	border-color: #ce202e;
}
.flatpickr-day{line-height: 38px}

select:focus,input:focus,textarea:focus {outline: 0}

.form__popup span {
	color: #808080;
	font-size: 12px;
}
label {
	display: block;
	display:-ms-flexbox; 
	display: flex;
	align-items: center;
	margin-bottom: 23px;
}
.form__popup [type="checkbox"],.form [type="checkbox"] {
	display: inline-block;
	float: left;
	width: 26px;
	max-width: 26px;
	height: 26px;
	background: #f2f2f2;
	/*-webkit-appearance: none;*/
	/*-moz-appearance: none;*/
	/*appearance: none;*/
	border-radius: 3px;
	margin: 4px 11px 2px 0;
	border: 1px solid #b5b5b5;
	outline-color: #82070f;
}
.form__popup input:focus:invalid,.form input:focus:invalid,.form__popup [type="checkbox"]:focus:invalid,.form [type="checkbox"]:focus:invalid {border-color: #ce202e}

label span {
	display: inline-block;
	float: left;
	max-width:87%;
}
label a {
	color: #0072bb;
	font-size: 15px;
	text-decoration: underline;
}
label a:hover {text-decoration: none}

.form__btn {
	display: block;
	width: 100%;
	max-width: 400px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: .04em;
	text-transform: uppercase;
	padding: 6px;
	color: #fff;
	background-color: #999;
	text-align: center;
	border-radius: 2em;
	border: none;
	transition: .3s;
}
.form__btn:hover {background-color: #ce202e}

/*--------------------------------*/
.s-type p {
	line-height: 1.66;
	padding-bottom: 1.1em;
}
.s-type strong {
	display: block;
	padding-bottom: 1.07em;
}
.type__price {
	width: 100%;
	background-color: var(--accent-color);
	color: #fff;
	text-align: center;
	font-size: 23px;
	font-weight: 700;
	padding: 8px;
}
.s-type .btn {
	display: inline-block;
	min-width: 200px;
	margin-top: 10px;
}

.other-services__item {
	position: relative;
	display: block;
	padding-bottom: 52px;
	margin-bottom: 30px;
	color: #4d4d4d;
	border: 1px solid #ccc;
	transition: .3s;
}
.other-services__item:hover {box-shadow: 0 2px 9px 1px rgba(0,0,0,.2)}

.other-services__categ {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 8px;
}
.other-services__item h3 {
	line-height: 1.28;
	font-size: 15px;
	padding-bottom: 0;
	transition: .3s;
}
.other-services__item:hover h3 {color: #ce202e}

.faq__item {
	margin-bottom: 6px;
	border: 1px solid #ccc
}
.faq__visible {
	position: relative;
	padding: 10px 37px;
	color: #4d4d4d;
	background-color: #fff;
	transition: .3s;
	cursor: pointer;
}
.faq__visible.opened {
	color: #fff;
	background-color: #ce202e;
}
.faq__visible:before{
	content: ''; 
	position: absolute; 
	top: 15px;
	left: 11px;
	border-top: 12px solid #808080;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	transition: .3s;
}
.faq__visible.opened:before {border-top-color: #fff;}

.faq__hidden {
	padding: 25px 6% 15px;
	margin-bottom: 30px;
	line-height: 1.44;
	background-image: linear-gradient(to right,#ce202e,#ce202e);
	background-position: center bottom;
	background-size: 89% 2px;
	background-repeat: no-repeat;
}
.faq__hidden h4 {
	color: #808080;
	font-size: 25px;
	padding-bottom: .4em;
}

/*multiple accordion*/
.analyzes__list {width: calc(100% - 200px);}

.analyzes__list > li {margin-bottom: 15px;}

.analyzes__list ul {
	display: none;
	margin: 0;
	padding: 0;
}
.analyzes__list ul li {
	clear: both;
	margin: 0;
	padding: 0 0 0 35px;
	transition: .2s;
}
.analyzes__list li a {
	position: relative;
	display: block;
	padding: 5px 37px;
	margin-bottom: 6px;
	cursor: pointer;
}
.analyzes__list ul li.opened >a{background-color: #e6e6e6}

.analyzes__list li > a i{
	position: absolute; 
	top: 10px;
	left: 11px;
	border-top: 12px solid #808080;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	transition: .2s;
}
.analyzes__list li.opened > a i {border-top-color: #ce202e;}

.analyzes__list h5 {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	user-select: none;
}
.analyzes__list h6 {
	color: #666;
	font-size: 16px;
	font-weight: 400;
	user-select: none;
}
.analyzes__list ul li .analyzes__price {
	color: #666;
	background-color: #e6e6e6;
	font-size: 13px;
}
.analyzes__list ul li.opened  >.analyzes__price {
	color: #fff;
	background-color: #ce202e
}
.analyzes__price + ul li{
	margin-top: -6px;
	background-color: #e6e6e6
}
div.analyzes__content {
	font-size: 13px;
	padding: 15px 9px;
	margin-bottom: 6px;
	background-color: #e6e6e6
}
.analyzes__price i {display: none;}

.analyzes__price b {
	display: block;
	width: 130px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -160px;
	color: inherit;
	background-color: inherit;
	font-size: 16px;
	font-weight: 400;
	padding: 3px 0 2px 9px;
}
.analyzes__content h6 {
	color: #222;
	font-weight: 400;
	font-size: 20px;
	padding-bottom: .5em;
	padding-top: .4em;
}
.is-fake-li {
	display: list-item;
	font-style: normal;
	margin-bottom: -3px;
	line-height: 1;	
}
.actions__list {
	list-style-type: disc;
	list-style-position: inside;
	font-style: italic;
	font-size: 15px;
	padding-top: 11px;
	padding-bottom: 9px;
}
.actions__list li {margin-bottom: 9px;}

/**/
.bread-crumbs {
	width: 100%;
	max-width: 1200px;
	margin: 45px auto 20px;
	padding: 0 15px;
	font-size: 14px;
}
.bread-crumbs a {
	background-color: #ce202e;
	color: #fff;
	display: inline-block;
	padding: 1px 7px;
	border-radius: 2px;
	margin-right: 12px;
	transition: .3s;
}
.bread-crumbs a:hover{opacity: .8;}

.phase__item {
	max-width: 1010px;
	margin-bottom: 20px;
}
.phase__num {
	background-color: #ce202e;
	color: #fff;
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 1.2em;
	border-radius: 2px;
}
.form__remark {
	color: #ce202e;
	font-size: 13px;
	font-weight: 700;
	border-bottom: 1px solid;
	padding-bottom: .5em;
	margin-bottom: .7em;
}
.form__remark + p {
	color: #808080;
	font-size: 13px;
	max-width: 550px;
	line-height: 1.7;
}
.form input, .form select {margin-bottom: 9px;}

.btn {
	min-width: 270px;
	text-align: center;
	background-color: #777;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 4px;
	transition: .3s;
}
.btn:hover{background-color: #ce202e;}

.s-volunteer .col-sm-6 {margin-bottom: 30px;}

.programs__item h3 {
	padding-top: 10px;
	padding-bottom: .1em;
	font-size: 16px;
	transition: .3s;
}
.programs__desc {min-height: 96px;padding: 5px;}

.is-accent-bg {
	color: #fff;
	background-color: #ce202e;
}
.is-dark-bg{
	color: #fff;
	background-color: #4d4d4d;
}
.program-poster__box {
	display:-ms-flexbox; 
	display: flex;
	flex-wrap: wrap;
	/*background: url(../img/programs/strip2.png);*/
	background: repeating-linear-gradient(-45deg,#dfdfdf, #dfdfdf 1px,transparent 2px,transparent 4.6px);
}
.program-poster__box div {width: 50%;}

.program-poster__box div:last-of-type{
	display:-ms-flexbox; 
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 12px;
	background-color: rgba(177,0,9,.83)
}
.program-poster__box div:last-of-type strong {
	color: #fff;
	font-size: 59px;
	font-weight: 300;
	text-align: center;
	line-height: 1.24;
}
.program-poster__exp-row {
	padding-top: 50px;
	display:-ms-flexbox; 
	display: flex;
	flex-wrap: wrap;
}
.program-poster__exp {
	margin-bottom: 30px;
	text-align: center;
}
.program-poster__exp h4 {
	font-size: 18px;
	position: relative;
	z-index: 1;
}
.program-poster__exp i {
	display: block;
	border-bottom: 2px solid #999;
	background-repeat: no-repeat;
	background-position: center;
	height: 154px;
	margin: 0 auto 19px;
	max-width: 228px;
}
.program-poster__exp-row .col-xs-6:nth-child(1) i{background-image: url(../img/programs/Icon-01.svg);}
.program-poster__exp-row .col-xs-6:nth-child(2) i{background-image: url(../img/programs/Icon-02.svg);}
.program-poster__exp-row .col-xs-6:nth-child(3) i{background-image: url(../img/programs/Icon-03.svg);}
.program-poster__exp-row .col-xs-6:nth-child(4) i{background-image: url(../img/programs/Icon-04.svg);}

.program-poster__exp p {max-width: 230px;margin: auto;}

.pricing__box {margin-bottom: 40px;}

.pricing__box a {
	position: relative;
	display: block;
	color: #0071bc;
	font-weight: 700;
	padding: 12px 15px 12px 7px;
	border-bottom: 1px solid #ddd;
	text-decoration: underline;
	width: 70%;
	transition: .3s;
}
.pricing__box a:hover{color: #ce202e;}

b.pricing__value {
	position: absolute;
	width: 37.4%;
	top: 0;
	left: 105%;
	border-bottom: inherit;
	padding: inherit;
	text-align: center;
	color: #4d4d4d;
	transition: .3s;
}
.pricing__box a:hover .pricing__value{color: #ce202e;}

/*-- slider -gallery --*/
.s-gallery {padding-bottom: 50px;}

.photo-slider .slide {
	display: block;
	color: #4d4d4d;
	font-size: 13px;
}
.photo-slider .slide span {
	display: block;
	padding-top: 7px;
}
.slick-slide{
	padding: 0 15px;
	transition: .3s;
}
.slick-next, .slick-prev {
	font-size: 0;
	line-height: 0;
	top: 43%;
	width: 41px;
	height: 41px;
	padding: 1px;
	display: block;
	text-align: center;
	background-color: rgba(255,255,255,.8);
	border-radius: 52%;
	z-index: 7;
	transition: .2s;
}
.slick-next {right: 14px;}
.slick-prev{left: 14px;}

.slick-next:hover, .slick-prev:hover,.slick-next:focus, .slick-prev:focus {background-color: rgba(255,255,255,1)}

.slick-next svg, .slick-prev svg {display: inline-block;}

.slick-next:before, .slick-prev:before {content: none;}

.mfp-counter{display: none;}

.mfp-title{font-size: 14px;
	font-weight: 300;
	padding-right: 0;
}
.mfp-arrow{width: 60px;}

.mfp-arrow-left:before {margin-left: 0;}

.mfp-arrow-left:after {margin-left: 6px;}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close{
	top: 8px;
	right: -28px;
}
.s-contacts {
	padding: 0;
	position: relative;
	height: 600px;
}
/*.s-contacts ~ .s-footer {margin-top: 0;}*/

#map {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.contacts__content {
	width: 50%;
	position: relative;
	z-index: 2;
	background-color: rgba(1,67,140,.82);
	height: 100%;
	overflow: hidden;
}
.contacts__address {
	width: 100%;
	max-width: 500px;
	padding: 5px 15px 0;
	float: right;
	color: #fff;
	font-size: 14px;
}
.contacts__address b {
	display: block;
	font-size: 25px;
	padding-bottom: .38em;
	padding-top: .64em;
}
.contacts__address span {
	display: block;
}
.contacts__address a{color: #fff;}
