.loader {
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	pointer-events: none;
}
.decolines--fixed {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	top: 0;
	left: 0;
	pointer-events: none;
}
.decoline {
	position: absolute;
	width: 20vw;
	height: 100vh;
	top: 0;
	background-color: #f6f6f5;
	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	opacity: 1;
	transform-origin: 50% 100% 0px;
	transform: scaleY(1);
	animation: 1.2s decoline forwards;
	will-change: transform;
}
@keyframes decoline {
	from {transform: scaleY(1)}
	to {transform: scaleY(0)}
}
.decoline:nth-child(1){left: 0%;animation-delay: .36s}
.decoline:nth-child(2){left: 20%;animation-delay: .18s}
.decoline:nth-child(3){left: 40%;animation-delay: 0s}
.decoline:nth-child(4){left: 60%;animation-delay: .18s}
.decoline:nth-child(5){left: 80%;animation-delay: .36s}

.js-loading .decoline,.js-loading .intro {animation-play-state: paused !important}

:root {
   --accent-color: #ffd421;
   --accent-color2: #e0d8b9;
   --hov-color: #ffdb44;
   --font-family:'Roboto Slab',Georgia,serif;
}
::-webkit-scrollbar{width: 8px; height: 8px}
::-webkit-scrollbar-thumb {background: #bbb; cursor: pointer; border-radius: 1px}
::-webkit-scrollbar-track-piece{background: #f6f6f5;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {font-size: 14px}

body {
	position: relative;
	color: #000;
	font: 16px 'Open Sans','Noto Sans',Roboto,arial,sans-serif;
	line-height: 1.5;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	width: 100%;
	overflow: hidden;
}
section {
	width: 100%;
	position: relative;
	padding: 64px 0;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}
h1 {
	font-size: 3.75em;
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 1.2;
	padding-bottom: .55em;
}
.h2-box {
	text-align: center;
}
h2 {
	display: inline-block;
	text-align: left;
	min-width: 470px;
	max-width: 790px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 3.125em;
	line-height: 1.2;
	text-shadow: -1px 0 5px #fff;
	padding-bottom: 1em;
}
h3{
	color: #3b041e;
	font-family: var(--font-family);
	font-size: 1.75em;
	font-weight: 700;
	line-height: 1.2;
}
h4{
	font-size: 1.875em;
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 1.2;
	padding-bottom: .3em;
}
p {
	padding-bottom: 1.071em;
	color: #58565c;
}
svg {max-width: 100%}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
}
.lines {
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.lines:before {
	content: ''; 
	position: absolute; 
	top: 0;
	left: 50%;
	height: 100%;
	transform: translateX(-50%);
	width: 1238px;
	background-image: repeating-linear-gradient(to left, transparent, transparent 300px,#e9e9e9 300px, #e9e9e9 301px);
	/*border-left: 1px solid #e9e9e9;*/
	box-shadow: inset -2px 0 #fff;
	z-index: -1;
}
/*=====================
	Header
======================*/
.header {border-bottom: 1px solid #e9e9e9}

.header .row {
	height: 122px;
	justify-content: space-between;
	align-items: center;
}
.header .row:before {
	content: '';
	display: block;
	width: 34%;
}
.header__logo {
	position: absolute;
	top: 39px;
	left: 20px;
	z-index: 1;
}
.header__logo-before,.header__logo-after {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
.header__logo-before:before,.header__logo-after:before {
	content: '';
	position: absolute;
	transform: rotate(30deg);
	transform-origin: right center;
	border-radius: 30em;
}
.header__logo-before:before{
	top: 133%;
	right: -12em;
	width: 91em;
	height: 36em;
	background-color: #f6f6f5;
}
.header__logo-after:before {
	top: -67%;
	right: -62px;
	width: 55em;
	height: 23em;
	background-color: #3b041e;
}
.header__address {
	color: #706d75;
	font-size: .875em;
	line-height: 1.3;
}
.header__contact {text-align: right}

.contact-tel {
	display: block;
	color: #1d1b20;
	font-size: 1.5em;
	line-height: 1.2;
	white-space: nowrap;
	margin-bottom: .1em;
}
.contact-tel:hover {opacity: .6}

.contact-tel svg {
	display: inline-block;
	width: 12px;
	height: auto;
	margin-right: 4px;
}
.contact-callback {
	display: inline-block;
	color: #b4924b;
	padding-right: .1em;
	padding-bottom: .08em;
	border-bottom: 2px dotted;
}
.contact-callback:hover{color: #826324}

.top {
	position: fixed;  
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	transform: translateY(-100%);
	transition: .6s;
}
.slideInDown {
	transform: translateY(0%);
	opacity: 1;
}
.top__navbar {
	width: 100%;
	min-height: 50px;
	background-color: #3b041e;
}
.top__navbar .container {
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	padding: 9px 15px;
}
.logo{
	min-width: 200px;
	z-index: 4;
}
.logo__link{display: inline-block}

.navbar{
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
}
.navbar-nav {z-index: 999}

.navbar-collapse{padding: 0}

.navbar-nav li {
	display:block;
	text-align:center
}
.collapse.in ul>li,.collapsing ul>li {float:none}

.navbar-nav>li>a {line-height: 1.2}

.navbar-toggle{
	float: none;
	margin: 0;
	height: 70px;
	padding: 6px 12px 0;
	position: absolute;
	right: 15px;
	top: -70px;
	border-radius: 0;
	z-index: 4;
}
.navbar-toggle .icon-bar {
	background-color: #dbac51; 
	transition:.25s cubic-bezier(.77,0,.175,1);
	transform-origin: left top;
	width: 25px;
}
.navbar-toggle .icon-bar +.icon-bar {margin-top: 6px}

.icon-bar:nth-child(2){width: 20px}

[aria-expanded=true] .icon-bar:first-child {
	transform:rotate(45deg) translateY(-1px);
	transition:transform .24s ease;
}
[aria-expanded=true] .icon-bar:nth-child(2) {
	opacity:0;
	width: 0;
	transition: .3s
}
[aria-expanded=true] .icon-bar:last-child {
	transform: rotate(-45deg) translateX(-1px);
	transition:transform .24s ease;
}
.navbar-nav a {
	position: relative;
	display: inline-block;
	padding: 9px 6px;
	font-size: 1em;
	color: #d0c083;
	font-size: .8125em;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	transition: .3s; 
}
.navbar-nav a:hover{color: #ffd421}

.js-scroll-up:before {
	content: '';
	display: inline-block;
	border-bottom: 10px solid currentColor;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	margin-right: 17px;
	vertical-align: -1px;
}
.top__contacts {
	padding: 9px 0;
	box-shadow: inset 0 -1px 0 #ebebeb;
}
.top__contacts .row {
	text-align: center;
}
.top__contacts .row > div:last-of-type {
	max-width: 220px;
	text-align: right;
}
.top-tel {
	color: #1d1b20;
	font-size: 1.125em;
}
/*==========================
	intro-section
===========================*/
.s-intro {
	min-height: 90vh;
	padding-bottom: 140px;
}
.intro__title {z-index: 3}

.s-intro strong {
	display: block;
	font-weight: 400;
	font-family: var(--font-family);
	font-size: 2.5em;
	margin-bottom: .2em;
}
.s-intro strong svg {
	display: inline-block;
	width: .7em;
	height: .6em;
	margin-right: .1em;
}
.offset--1 {
	will-change: transform;
	margin-right: -8.333333%;
	padding-top: 98px;
	padding-right: 0;
}
.mt--230 {z-index: 10}

.intro-slider-box {padding-top: 0}

#intro-slider .slick-slide {
	outline-color: transparent;
	padding: 0 43px 80px 0;
	text-align: center;
	transition: opacity .4s;
}
#intro-slider .slick-slide img {
	box-shadow: 38px 38px 60px rgba(34,13,23,.2);
	opacity: 0;
	transform: translateX(-100px) scale(.5);
	transition: opacity .4s, transform .5s;
}
#intro-slider .slick-current {
	transition: opacity .2s!important;
	z-index: 1;
}
#intro-slider .slick-current img {
	transform: translateZ(0);
	opacity: 1;
	transition: opacity 0s, transform .6s;
}
#intro-slider .slick-current + .slick-slide{
	opacity: .88!important;
}
#intro-slider .slick-current + .slick-slide img {
	transform: translateX(300px) scale(.7);
	box-shadow: none;
	opacity: 1;
	transition: opacity .4s, transform .64s ease;
}
.s-intro .slick-dots{
	padding-left: 40px;
	bottom: 23px
}
.slick-dots li button {
	width: 14px;
	height: 14px;
	border: 2px solid transparent;
	padding: 4px;
	margin: auto;
	border-radius: 50%;
	background-color: #acaab2;
	background-clip: padding-box;
	border: 2px solid transparent;
	cursor: pointer;
	transition: .2s;
}
.slick-dots li button:hover {background-color: #aeacb5}

.slick-dots li.slick-active button {
	border-color: #3b041e;
	background-color: transparent;
}
.slick-dots li button:before{content: none}

.intro__decor i {
	position: absolute;
	pointer-events: none;
	background-position: center;
	background-size: cover;
	z-index: 2;
	will-change:transform;
}
.intro__decor i:nth-of-type(1){
	width: 235px;
	height: 504px;
	top: 15%;
	left: 0;
}
.intro__decor i:nth-of-type(2){
	width: 286px;
	height: 424px;
	top: 43%;
	right: 0;
}
.intro__decor i:nth-of-type(3){
	width: 178px;
	height: 178px;
	top: 20px;
	right: 20%;
}
.intro__decor i:nth-of-type(4){
	width: 161px;
	height: 161px;
	right: 42%;
	bottom: 29%;
}
.intro__decor i:nth-of-type(5){
	width: 100px;
	height: 100px;
	bottom: 17%;
	right: 21%;
	z-index: -1;
}
/*===============================
  list
================================*/
.s-list .col-md-3:nth-of-type(even) {margin-top: 138px}

.list__item {
	width: 98%;
	max-width: 250px;
	height: 220px;
	position: relative;
	padding: 40px 0;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	background-color: #fff;
}
.list__item svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.polyline2 {
	stroke-dasharray: 884;
	stroke-dashoffset:884;
	transition: .4s 1s;
}
.list__item:hover .polyline2 {
	stroke-dashoffset: 0;
	transition: .7s ease;
}
/*===============================
  advant
================================*/
.s-advant {padding-bottom: 0}

.advant__pict {
	margin-top: 150px;
	z-index: 2;
	will-change:transform;
}
.advant__pict img{box-shadow: 42px 42px 60px rgba(34,13,23,.2)}

.advant__text {
	padding: 68px 15px 60px;
	z-index: 1;
}
.advant__text:before {
	content: '';
	width: 170%;
	height: 100%;
	background-color: #f6f6f5;
	position: absolute;
	top: 0;
	left: 40%;
	transform: translateX(-50%);
	z-index: -1;
}
.advant__text:after {
	content: '';
	position: absolute;
	width: 85%;
	height: 100%;
	border-left: 1px solid #e5e5e0;
	border-right: 1px solid #e5e5e0;
	top: 0;
	left: -15px;
	z-index: -1;
}
.advant__text-item {margin-bottom: 30px}

.advant__text-item i {
	display: block;
	width: 49px;
	height: 49px;
	background-position: 0 center;
	background-size: cover;
	margin-bottom: 9px;
}
.advant__text-item h4{max-width: 288px}

.btn-gold {
	display: inline-block;
	color: #9c9888;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	padding: 15px 42px;
	background-color: transparent;
	border: 2px solid #c3beaa;
}
.btn-gold:hover {
	background-color: #e0d8b9;
	border-color: #e0d8b9;
	color: #7e785f;
}
/*==========================
	e t a p s
===========================*/
.s-etaps {
	padding-top: 80px;
	padding-bottom: 60px;
	min-height: 90vh;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.s-etaps .row {position: relative}

.etaps-img-slider .slick-dots {
	position: absolute;
	bottom: 0;
	top: -8px;
	width: 52px;
	left: -80px;
	height: 100%;
	max-height: 240px;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	pointer-events: auto!important;
}
.etaps-img-slider .slick-dots li {
	display: block;
	width: auto;
	height: auto;
	padding: 3px 0;
	margin: 0;
	overflow: hidden;
	font-family: var(--font-family);
	opacity: .6;
	text-align: right;
	transition: .2s;
}
.etaps-img-slider .slick-dots li:hover {opacity: .8}

.etaps-img-slider .slick-dots .slick-active {opacity: 1}

.etaps-img-slider .slick-dots li i {
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	margin-top: -1px;
}
.etaps-img-slider .slick-dots .slick-active i{transform: scale(1.4)}

.etaps-img-slider .slick-dots li:after {
	content: '';
	display: inline-block;
	width: 15px;
	height: 2px;
	margin-left: 12px;
	background-color: #282927;
	vertical-align: middle;
	transition: .3s;
}
.etaps-img-slider .slick-dots .slick-active:after{width: 30px}

/*steps*/
.etaps-steps-slider-box {
	margin-top: -570px;
	pointer-events: none;
}
.disablewheel {pointer-events: none!important}

.etaps-steps-slider .slide {
	min-height: 540px;
	margin: 50px 0;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity .2s;
}
.etaps-steps-slider .slide.slick-active{
	opacity: 1;
	transition: opacity .3s cubic-bezier(.4,0,.2,1) .3s;
}
.s-etaps .form-box {/*margin: 64px 0;*/margin: 0}

.s-etaps .form {pointer-events: auto}

.s-etaps .form-box h4 {
	position: relative;
	text-align: left;
	letter-spacing: -0.3px;
	margin-right: -20px;
	margin-bottom: .5em;
	padding-bottom: .5em;
}
.s-etaps .form-box h4:after {
	content: ''; 
	position: absolute; 
	bottom: 0;
	left: 0;
	width: 100px;
	height: 3px;
	background-color: #cfcfcf;
}
.s-etaps .form-box p {
	text-align: left;
	padding-bottom: 0;
	margin-right: -20px;
}
.s-etaps .form-box__remark {font-size: 1.875em}
/*==========================
	c l i e n t s
===========================*/
.s-clients {
	max-width: 1400px;
	margin: auto;
	background-color: #f6f6f5;
	padding-bottom: 20px;
}
.clients__box {text-align: justify}

.clients__item {
	display: inline-block;
	padding: 5px 0;
	margin: 0 calc(3% + 11px) 60px 0;
	vertical-align: middle;
	filter: grayscale(98%) opacity(0.5) brightness(102%);
	transition: .4s;
}
.before-anim .clients__item {
	opacity: 0;
	transform: scale(.8);
}
.anim-play.before-anim .clients__item {animation: zoom 1s cubic-bezier(.77,0,.175,1) forwards;}

@keyframes zoom {to{opacity: 1;transform: scale(1);}}

.anim-play.before-anim .clients__item:nth-of-type(1){animation-delay: .08s}
.anim-play.before-anim .clients__item:nth-of-type(2){animation-delay: .16s}
.anim-play.before-anim .clients__item:nth-of-type(3){animation-delay:.24s}
.anim-play.before-anim .clients__item:nth-of-type(4){animation-delay: .32s}
.anim-play.before-anim .clients__item:nth-of-type(5){animation-delay: .4s}
.anim-play.before-anim .clients__item:nth-of-type(6){animation-delay: .48s}
.anim-play.before-anim .clients__item:nth-of-type(7){animation-delay: .56s}
.anim-play.before-anim .clients__item:nth-of-type(8){animation-delay: .64s}
.anim-play.before-anim .clients__item:nth-of-type(9){animation-delay: .72s}
.anim-play.before-anim .clients__item:nth-of-type(10){animation-delay: .80s}
.anim-play.before-anim .clients__item:nth-of-type(11){animation-delay: .88s}
.anim-play.before-anim .clients__item:nth-of-type(12){animation-delay: .96s}
.anim-play.before-anim .clients__item:nth-of-type(13){animation-delay: 1.04s}
.anim-play.before-anim .clients__item:nth-of-type(14){animation-delay: 1.12s}
.anim-play.before-anim .clients__item:nth-of-type(15){animation-delay: 1.2s}
.anim-play.before-anim .clients__item:nth-of-type(16){animation-delay: 1.28s}
.anim-play.before-anim .clients__item:nth-of-type(17){animation-delay: 1.36s}
.anim-play.before-anim .clients__item:nth-of-type(18){animation-delay: 1.44s}
.anim-play.before-anim .clients__item:nth-of-type(19){animation-delay: 1.52s}
.anim-play.before-anim .clients__item:nth-of-type(20){animation-delay: 1.6s}
.anim-play.before-anim .clients__item:nth-of-type(21){animation-delay: 1.68s}

.clients__item:last-child{margin-right: 0}

.clients__item:hover {filter: none}

/*==========================
	a n y
===========================*/
.s-any {padding: 99px 0 170px;transition: .8s}

.s-any.before-anim {opacity: 0}

.s-any.before-anim.anim-play {opacity: 1}

.any-slider-row,.any-slider {
	margin-right: -15px;
	margin-left: -15px;
}
/*.slick-slide img {margin: auto}*/

.any-slider .slide {
	padding: 0 15px 50px;
}
.any-slider .slide img{box-shadow: 13px 21px 32px -10px rgba(34,13,23,.2)}
/*========================
 contact - section
=========================*/
.s-contact {padding: 50px 0}

.form-box {
	position: relative;
	max-width: 670px;
	padding: 30px 50px 40px;	
	text-align: center;
	background-color: #f6f6f5;
	box-shadow: 42px 42px 60px rgba(34,13,23,.2);
	z-index: 1;
}
.form-box strong {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 2.25em;
	display: block;
	line-height: 1.2;
}
.form-box__remark {
	font-family: var(--font-family);
	font-size: 1.375em;
	line-height: 1.2;
}
.form {
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding-top: 1.8em;
}
.form input {
	display: block;
	flex: 0 0 47.3%;
	max-width: 47.3%;
	height: 60px;
	color: #9e9ba3;
	letter-spacing: .04em;
	background-color: #fff;
	border: 2px solid #eaeae8;
	padding: 10px 20px;
	margin-bottom: 20px;
	text-align: center;
	transition: .4s ease;
}
.form input:focus{
	border-color: #e9e9e9;
	outline-color: transparent;
	box-shadow: none;
}
.form__btn {
	position: relative;
	height: 59px;
	flex: 0 0 47.3%;
	max-width: 47.3%;
	border: none;
	background-color: #ffd421;
	box-shadow: 1px 1px 2px rgba(178,145,14,.65);
	text-align: center;
	color: #593908;
	font-weight: 700;
	letter-spacing: .03em;
	display: -ms-flexbox;
	display: flex;
	align-self:stretch;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: .4s;
	z-index: 1;
}
.form__btn:hover {
	color: #774c08;
	background-color: #ffdb44;
	box-shadow: 1px 1px 1px rgba(178,145,14,.6);
}
/*==========================
	s-contact
===========================*/
.s-contact {
	padding: 90px 0;
	background-color: #cfe4bd;
	min-height: 794px;
}
#map {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.s-contact .container {
  position: relative;
  height: 100%;
  pointer-events: none;
}
.contact__box {
  position: relative;
  overflow: hidden;
  background-color: #f6f6f5;
  box-shadow: 42.4px 42.4px 60px rgba(34,13,23,.2);
  float: right;
  pointer-events: auto; 
}
.contact__text {
  width: 500px;
  text-align: center;
  float: right;
}
.contact__text h2 {
	display: block;
	line-height: 1;
	padding-bottom: .2em;
	min-width: auto;
}
.contact__address {
	text-align: left;
	padding: 38px 78px 30px;
}
.contact__address address {
	display: block;
	padding: 15px 20px;
	background-color: #e9e9e5;
	margin: 16px 0 22px;	
}
.s-contact .header__contact {
	text-align: center;
	max-width: 100%;
}
.s-contact .form-box {
	box-shadow: none;
	max-width: 100%;
	padding: 17px 78px 50px;
	border-top: 1px solid #dfdfdf;
}
.s-contact .form {
	display: block;
	padding-top: 1.4em;
}
.s-contact .form input {
	width: 100%;
	max-width: 270px;
	margin: 0 auto 20px;
}
.s-contact .form__btn {
	width: 100%;
	max-width: 270px;
	margin: auto;
}
.contact__resize {
	background-color: #f6f6f5;
	position: absolute;
	top: 0;
	right: 15px;
	width: 44px;
	height: 44px;
	padding: 13px;
	opacity: .9;
	pointer-events: auto;
	cursor: pointer;
	transition: .3s;
}
.contact__resize:hover {opacity: 1}
/*==========================
	s-footer
===========================*/
.s-footer {
	padding: 18px 0;
	background-color: #3b041e;
	text-align: center;
	color: #8a6d7b;
}
.s-footer .row > div {
	width: 33.3333%;
	padding: 0 15px;
}
.footer__logo {
	padding-top: 7px;
	display:-ms-flexbox; 
	display: flex;
	align-items: center;
}
.footer__copy {font-size: 14px}

/*===============================
  popup
================================*/
.mfp-bg {background-color: #f2f2f2}

.mfp-fade.mfp-bg.mfp-ready{opacity: .94}

.mfp-close-btn-in .mfp-close{
	color: #000;
	opacity: 1;
	width: 50px;
	height: 50px;
	line-height: 50px;
	right: 5px;
	top: 3px;
	font-size: 36px;
	font-family: var(--font-family);
	transition: .3s;
}
.mfp-close-btn-in .mfp-close:hover {color: var(--accent-color)}

.small-pop-up {
	position: relative;
	width: 100%;
	max-width: 620px;
	margin: auto;
}
.small-pop-up .form-box {
	padding-top: 50px;
	box-shadow: 18px 22px 60px rgba(34,13,23,.26);
}