@media(min-width: 992px){
	.order-md-last,.text-md-right {text-align: right}
	.s-contact-request .request__form {padding: 28px 50px 30px 35px}
	.s-contact-request:before {content: ''; position: absolute; top: 0;right: 50%;width: 50vw;height: 100%;background-color: rgba(0,128,202,.85);z-index: 8}
}
@media(min-width: 1024px){
	.navbar {max-width: calc(100% - 395px);float: left}
	.navbar-toggle {display: none} 
	#expand {display: block}
	.navbar-nav{padding: 6px 0; width: 100%; display: -ms-flexbox; display: flex; flex-wrap: nowrap; justify-content: space-between; align-items:stretch; -ms-flex-pack: justify; position: relative; }
	.navbar-nav li{margin-bottom: -2px; margin-right: 6px; display: -ms-flexbox; display: flex; align-self:stretch; justify-content: space-around; align-items: center; }
	a.top__link {padding: 7px; width: 100%; text-align: center}
	.header__services--list{display: block!important;height: auto!important; transform: scaleY(0.9);transform-origin: center top; opacity: 0;visibility: hidden; transition: .6s .5s}
	.header__services .col-4:hover .header__services--list{transform: scaleY(1);opacity: 1;visibility: visible; transition: .3s .3s}
	.s-type-descr .col-md-7 {padding-right: 40px}
	.request__label-box {display:-ms-flexbox; display: flex; justify-content: space-between}
	.request__label-box .request__label {width: 46%}
}
@media(min-width: 1366px){
	.slick-prev {left: -66px}
	.slick-next {right: -66px}
}
@media(min-width: 1400px){
	.slick-prev {left: -105px} 
	.slick-next {right: -105px} 
}
@media(max-width: 1281px){
	.h2 {margin-left: 44px}
	.s-services .h2{margin-left: 51px}
	.aux__header h2{margin-left: 0}
}
@media(max-width: 1279px){
	.why__item p{font-size: 1em}
	.slick-next {right: 0}
	.slick-prev {left: 0}
	.s-ask{padding-bottom: 0}
	.s-ask .container{width: 97%;top: -20px}
	.s-statistic {padding: 40px 0 41px}
	.statistic__value {font-size: 4em}
	.h3[data-text]:before {content: none}
}
@media(max-width: 1150px){
	.header__services--list{columns: 3 auto}
	.navbar {max-width: calc(100% - 270px)}
	.footer__bottom{padding: 16px}
	.s-services .btn-outlined{right: 14px;top: 4px}
	.s-other-service {padding: 26px 15px 20px}
	.s-other-service .container{margin-bottom: 16px}
	.other-service__item {padding: 26px 20px 26px 20px}
	.other-service__item .h3 {font-size: 1.9em}
	.other-service__price-box b{font-size: 1.9em}
	.other-service__price-category{font-size: 1.3em}
	.other-service__price-box i {margin: 11px 16px 0}
}
@media(max-width: 1025px){
	.navbar {max-width: calc(100% - 250px)}
	.s-intro{padding-bottom: 0}
	.intro-slider{padding: 0;border: 0}
	.intro-slider .slick-dots {bottom: 51px; left: 50px}
	.brands-slider .slide{height: 170px}
	.s-services{padding: 14px 0}
	.slick-next, .slick-prev{width: 44px;height: 44px}
	.h2 {padding-bottom: 0.3em}
	.s-why {padding: 30px 0 10px}
	.h3 {font-size: 2em}
	.s-argum .col-md-6 p, .s-ask .col-md-6 p {line-height: 1.7; font-size: 1em}
	.spoiler {padding: 14px 25px 14px 8px}
	.spoiler:after{right: 3px}
	.s-footer .col-md-6 {padding-left: 30px}
	.s-specific .col-lg-8 {padding: 26px 33px}
}
@media(max-width: 1023px){
	.top{top: 0;background-color:#fff;overflow: visible!important;min-height: 43px;padding-bottom: 2px}
	.top .right {float: none;position: absolute;right: 10px;top: 1px}
	.header__services--list ul{opacity: 0;transition: .2s}
	.header__services--list.collapse.in ul{opacity: 1}
	.navbar-collapse{padding: 15px 20px 10px;transition: padding 0s, height .6s ease}
	a.top__link{font-size: 1.3em;color: #000}
	a.top__link:before {background-color: #000}
	.navbar-nav>li>a {line-height: 1}
	.navbar-toggle {display: block;float: none;margin: 0;height: 40px; padding: 1px 9px 0;position: absolute; right: auto;left: 6px; top: 2px; border-radius: 0; z-index: 4;background: none;-webkit-tap-highlight-color: rgba(0,0,0,0);outline-color: transparent}
	.navbar {width: 100%; margin-left: 0;max-width: 100%;position: relative;background-color: rgba(255,255,255,.96)}
	.s-why .col-md-4 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%}
	.s-footer .col-md-6 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%}
	.s-argum .col-md-6 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;padding: 28px 21px 22px}
	.s-argum .is-invert:before {width: 100%;background: #0875b6}
	.footer__list-box {padding-top: 20px}
}
@media (max-width: 991px){
	.header__contacts .row .header__logo {min-width: 230px}
	.s-statistic .col-sm-6 {margin-bottom: 30px}
	.s-contact-request{background-color: rgba(0,128,202,.85)}
	.s-contact-request .request__box{margin: auto}
	#map {position: relative;width: 100%;height: 250px}
	.s-contact {padding: 20px 10px 10px}
	.s-contact .col-lg-6 p{max-width: 800px}
	.s-contact .col-lg-6 p:last-of-type + br {display: none}
	.s-other-service .col{padding: 12px;display: -ms-flexbox; display: flex;justify-content: center;align-items: center}
}
@media (max-width: 969px){
	.header__contacts .row .header__logo{width: 100%;flex: 0 0 100%; max-width: 100%;padding-bottom: 0}
	.header__services .col-4 i{display: none}
	.spoiler .is-accent{max-width: 100%}
	.s-ask .col-md-6 {flex: 0 0 100%; max-width: 100%}
	.s-ask .col-md-6:last-of-type{padding: 0}
	.s-ask .container {max-width: 700px}
	.s-ask .form{float: none;margin: auto;max-width: 100%}
	.form input:not([type=checkbox]){max-width: 588px}
}
@media (max-width: 800px){
	.h1 {font-size: 2.2em}
	.header__services .col-4{padding: 0 9px}
	.header__contacts .row > div{padding: 19px 15px}
	.navbar-collapse {padding: 65px 20px 10px}
	.header__services--list {columns: 2 auto}
	.intro-slider__content{margin: auto}
	.intro-slider .slick-dots{left: 50%;transform: translateX(-50%)}
	.garant__descr i{width: 160px;height: 160px; min-width: 160px; background-size: 100px;margin-right: 40px;margin-bottom: 9px}
	.other-service__item .h3,.other-service__price-box b {font-size: 1.6em}
	.other-service__price-category {font-size: 1.2em}
	.other-service__price-box{padding-bottom: 15px}
}
@media (max-width: 767px){
	.spoiler span:first-of-type{padding-bottom: .4em}
	.header__contacts .row > div{min-width: 31%}
	.s-type-descr {padding: 34px 0 28px}
	.s-type-descr .order-md-last {margin-bottom: 20px}
	.s-specific .container{box-shadow: none}
	.specific__logo{padding: 25px 20px 22px;border-right: none;width: 100%}
	.s-specific {padding: 30px 0 0}
	.s-other-service .col {padding: 20px 15px 9px}
}
@media (max-width: 720px){
	.brands-slider .slide {height: 160px; padding: 30px 36px}
	.s-ask .container{top: -15px}
	.s-request:before{content: none}
}
@media (max-width: 690px){
	.header__contacts .row .header__logo{order: -2;flex: 0 0 55%;max-width: 55%}
	.header__contacts .row .header__tel{max-width: 35%;order:-1;padding-bottom: 5px}
	.header__contacts .row > div{min-width: 36%;flex: 0 0 auto}
	.header__contacts .row .header__tel b{font-size: 22px}
}
@media (max-width: 670px){
	.s-why .row {display: block;padding-top: 20px}
	.s-why .col-md-4 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 460px;width: 100%;margin: 0 auto 20px}
	.header__services .col-4 {width: 100%;flex: 0 0 100%; max-width: 100%;border: none; border-bottom: 1px solid rgba(238,238,238,.15)}
	.header__services .col-4:first-of-type {border-left: none}
	.spoiler {height: auto;padding: 13px 20px 8px 8px}
	.header__services--list {position: relative; top: 0}
	.callme__box{display: block}
	.callme__icon{display: block;margin: 0 auto 22px}
	.callme__form{margin: auto}
	.callme__form--remark{text-align: center}
	.price__box a {padding: 10px 47px 10px 13px}
	.price__box a:after{width: 40px}
	.request__box {width: 100%; padding: 32px 0 28px}
}
@media (max-width: 600px){
	.h1 {font-size: 2em}
	.h2 {font-size: 2.4em}
	.h3 {font-size: 1.8em}
	.brands-slider .slide {height: 140px}
	.header__services--list {columns: 1}
	.intro-slider__content{width: 100%;max-width: 330px}
	.s-why-mini .col-sm-4 { flex: 0 0 50%; max-width: 50%}
	.s-garant{padding: 0}
	.garant__box{box-shadow: 0 5px 16px rgba(0,0,0,.09)}
	.garant__descr {display: block; padding: 10px 14px 20px}
	.garant__descr i{margin: 0 auto 15px;width: 110px;height: 110px;min-width: 110px; background-size: 68px}
	.price__box a:after{content: none}
	.price__box a{padding: 10px 13px;font-size: 1em}
	.price__box a b{font-size: 1em;display: inline-block; min-width: 95px}
}
@media (max-width: 576px){
	.s-statistic {padding: 30px 0 22px}
	.footer__contacts, .footer__contacts + address{float: none;width: 100%}
	.footer__address span br, .footer__days span br {display: none}
	.footer__address:before, .footer__days:before {margin-top: 0}
	.footer__list-box {padding-top: 40px}
	.s-services .btn-outlined {right: 11px; top: 2px;padding: 6px 25px}
	.request__form{padding: 28px 34px}
	.other-service__item .h3, .other-service__price-box b {font-size: 1.4em;line-height: 1.2}
}
@media (max-width: 520px){
	.header__contacts .row .header__logo, .header__contacts .row .header__tel, .header__contacts .row > div{flex: 0 0 100%;max-width: 100%}
	.header__contacts .row .header__logo{padding: 22px 15px 5px}
	.header__contacts .row .header__tel{padding-bottom: 10px}
	.header__contacts .row .header__address{padding-bottom: 0}
	.header__contacts .row > div br {display: none}
	.header__address:before, .header__days:before, .footer__address:before, .footer__days:before{margin-top: 0}
	.callme__form{padding: 0}
	.btn-invert {min-width: 150px}
	.s-price {padding: 30px 0 10px;border-bottom: 0}
	.s-type-descr {padding: 30px 0 20px}
	.garant__title{display: block}
	.garant__title h3 {padding: 14px;text-align: center}
	.garant__title:before, .garant__title:after{content: none}
	.s-brands-others {padding: 36px 0 11px}
}
@media (max-width: 480px){
	.brands-slider .slide{padding: 24px}
	.intro-slider .slide{padding: 20px 10px}
	.footer__list{columns: auto}
	.spoiler span:first-of-type {padding-bottom: 0}
	.header__contacts .row .header__logo {padding: 26px 15px 0}
	.btn {min-width: 180px;padding: 13px 16px}
	.statistic__value {font-size: 3.6em}
	.intro-slider__content{min-height: 264px;padding: 40px 30px 64px}
	.intro-slider .slick-dots {bottom: 39px}
	.form-group{display: block}
	.callme__form input{display: block;margin-bottom: 15px;width: 100%}
	.form-group .btn-invert{margin-left: 0;min-width: 170px}
	.why-mini__item{padding: 9px}
	.aux__header h2{font-size: 2.1em}
	.request__box h3 {padding: 0 0 .7em; text-align: center}
	.request__form{padding: 26px}
	.request__label input{font-size: 16px}
	.other-service__price-box i{width: 0;min-width: 0;margin: 0 9px}
	.other-service__item {padding: 16px 14px 25px 20px}
}
@media (max-width: 380px){
	a.top__link {font-size: 1.2em}
	.aux__header {padding: 18px 0 20px}
	.header__services--list{padding: 18px 18px 16px;}
	.s-ask .container {top: -10px}
	.s-statistic {padding: 26px 0 5px}
	.h3 {font-size: 1.6em}
	.s-ask .form{padding: 24px 20px}
	.s-ask .col-md-6:first-of-type {padding: 30px 15px 15px 31px}
	.brands-slider .slide {height: 125px}
	.services-slider .slide {padding: 70px 9px 12px}
	.services-slider__text{left: 9px;right: 9px}
	.s-why-mini .col-sm-4{padding: 0 8px;margin-bottom: 16px}
	.s-why-mini {padding: 24px 0 8px}
	.why-mini__item {padding: 7px 5px 10px}
	.why-mini__item i{margin-bottom: 0}
	.callme__form--remark {font-size: 1.4em}
	.price__box a {padding: 10px 11px}
	.price__box a span {padding-right: 17px}
	.price__box {padding: 10px 8px 0}
	.request__form {padding: 22px}
	.top .right{right: 6px}
	.aux__header h2 {font-size: 1.8em}
	.s-specific .col-lg-8 {padding: 24px 16px}
	.other-service__item .h3, .other-service__price-box b{font-size: 1.3em;color: #111}
	.s-other-service{padding: 15px 11px}
}
@media (max-width: 359px){
	.services-slider .slide {padding: 66px 10px 11px}
	.services-slider__text{left: 10px;right: 10px;padding: 17px 18px 24px}
	.services-slider__text h3{font-size: 22px}
	.h1 {font-size: 1.8em}
	.h2 {font-size: 2.2em}
	.h3 {font-size: 1.3em}
	.why__item {padding: 19px 19px 14px}
	.brands-slider .slide {height: 100px; padding: 22px}
	.s-footer .justify-content-between {justify-content: center}
	.footer__bottom .col-auto {padding-bottom: 8px}
	.s-services .h2 {margin-left: 30px}
	[data-text]:before {top: 3px; left: -24px}
	.s-services .btn-outlined {right: 7px}
	.why-mini__item {padding: 6px 4px 8px}
	.callme__form--remark {font-size: 1.3em}
	.form-group .btn-invert{width: 100%}
	.garant__descr{padding: 9px 14px}
	.request__box{padding: 28px 0 22px}
	.request__form {padding: 20px 15px 22px}
	.request__form label[for=agree] {padding: 8px 0 4px}
	.request__form label[for=agree] span {font-size: 0.92em}
	.specific__logo {padding: 12px 20px 15px}
	.s-specific p{font-size: 1em}
	.other-service__item {padding: 15px 13px 20px 16px}
	.other-service__price-box b {font-size: 1.1em}
	.other-service__price-category {font-size: 1em}
	.other-service__price-box i{margin: 0 4px}
	.s-other-service .col{padding-top: 15px}
}
@media (max-width: 319px){
	.navbar-nav li{text-align: left}
	.top .container {padding: 0}
}