@font-face {
  font-family:'Cera';
  src: local('Cera'), local('cera'), url('../fonts/Cera-Regular.woff2') format('woff2'), url('../fonts/Cera-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family:'Circe-Bold';
  src: local('Circe-Bold'), local('Circe-Bold'), url('../fonts/Circe-Bold.woff2') format('woff2'), url('../fonts/Circe-Bold.woff') format('woff');
  font-weight: normal;
}