@media(min-width: 970px){
	.form__zone {display:-ms-flexbox; display: flex;justify-content: space-between;padding-top: 8px}
	.form__zone .input-group {flex: 0 0 33.3333%;max-width: 31%}	
}
@media(min-width: 1024px){
	.js-scroll-up.scroll-complete {bottom: 338px}
	.news__container .col {flex: 1 0 47%; max-width: 47%}
	.news__container .col:nth-child(4n+1), .news__container .col:nth-child(4n+4){flex: 1 0 52%;max-width: 52%}
	.article .article__author {left: -278px; top: 54px;margin-bottom: -30px}
}
@media(min-width: 1222px){
	.navbar-toggle {display: none} 
	#expand {display: block}
	.navbar {max-width: 530px}
	.navbar-nav{padding: 0 15px 1px; display: -ms-flexbox; display: flex; flex-wrap: nowrap; justify-content: space-between; align-items:stretch; -ms-flex-pack: justify; position: relative}
	.navbar-nav li{margin-bottom: -2px; display: -ms-flexbox; display: flex; align-self:stretch; justify-content: space-around; align-items: center}
	.nav__item a {padding: 6px 1px; width: 100%; text-align: center}
}
@media(min-width: 1900px){
	.js-scroll-up {right: 75px}
	.promo__text {padding-top: 1em}
}
@media(min-width: 2500px){
	.s-about-intro {min-height: calc(52vh - 125px); padding: 120px 0 100px}
	.about__bg-slider .slide{min-height: calc(52vh - 125px)}
	.s-history:before {width: 90vh; height: 90vh; top: 50%; left: calc(100% - 36vh); background-size: 70vh}
}
@media(max-width: 1681px){
	.wrapper{max-width: 1540px}
	.header__trigger-popup span {display: none}
	.s-intro {padding: 80px 40px 0px calc(9vw + 45px)}
	.intro__title strong, .intro__title h1{font-size: 3em}
	.has-decor:before {top: -416px; right: calc(100% - 139px)}
	.about__slider-action{width: 117px}
	.about__thumb-slider {padding-left: 147px}
	.about-intro__content > div{max-width: 480px}
	.about-equipment__slider .slick-prev {left: calc(50% - 329px)}
	.about-equipment__slider .slick-next {right: calc(50% - 329px)}
}
@media(max-width: 1550px){
	.header .container {padding: 22px 14px}
	.header__trigger-popup:after{width: 34px;margin: 0}
	.s-footer .container {padding: 34px 18px}
	.footer__box {max-width: calc(100% - 200px)}
	.footer__nav ul{max-width: 386px}
	.footer__listbox--second ul{max-width: 160px}
	.footer__nav > div:nth-of-type(2n) {margin-left: -16px}
	.i--lg {width: 24px; height: 22px; margin: 0 0 5px}
	.footer__contacts .contacts__time, .footer__contacts .contacts__address {margin: 0 0 10px;font-size: .92em}
	.footer__contacts a{font-size: .92em;margin-right: 0}
	.footer__contacts{max-height: 240px;align-self: center;margin: 14px 0 -14px;flex-grow: .98}
	.footer__contacts .contacts__phones {margin: 0 0 10px}
	.contact__soc{order: 8}
	.contact__soc a {margin-right: 14px}
	.intro__title strong, .intro__title h1{font-size: 2.8em}
	.header .contacts__time {display: none}
	.logo {padding: 19px 14px 21px}
	.intro__slider-action {top: calc(50% - 96px);left: 24px}
	.s-intro:before {top: -240px; right: calc(100% - 162px)}
	.s-intro {padding: 60px 20px 0 calc(7vw + 45px)}
	.intro__title em{font-size: 1.3em}
	.intro__pict {min-height: 530px}
	.dots {padding: 54px 7px 40px 0}
	.identif__img-wrap {flex: 0 0 50%; max-width: 50%}
	.identif__img {max-width: 340px}
	.identif__descr {padding: 60px calc(4% + 30px) 30px}
	.has-double-decor:before {top: -430px; right: calc(100% - 139px)}
	.has-double-decor:after {bottom: -480px; left: calc(100% - 138px)}
	.spec__slider .slick-dots {left: calc(100% - 554px)}
	.s-about-intro {padding: 80px 0 40px}
	.offset-lg-47p{margin: 0 auto 32px}
	.about-intro__content > div {max-width: 586px}
	.we-first__columns {column-gap: 6.6%}
	.js-scroll-down{display: none}
	.about__icon {display: none}
	.about-intro__content > div{padding-left: 10px}
	.s-about-intro{align-items: center;	align-content: center;flex-direction: row-reverse;min-height: calc(100vh - 76px)}
	.s-about-intro .container {max-width: 50%}
	.offset-lg-47p{flex: 0 0 100%;max-width: 100%;padding-left: 30px;padding-top: 40px}
	.about-equipment__descr {bottom: -120px; left: 39%}
	.about-equipment__brand {max-width: 110px}
	.about-equipment__slider .slick-prev {left: calc(50% - 305px)}
	.about-equipment__slider .slick-next {right: calc(50% - 305px)}
	.about-equipment__slider {padding: 0 0 140px}
}
@media(max-width: 1399px){	
	.h1 {font-size: 2.7em;padding: 0 0 .6em}
	.intro__title strong, .intro__title h1 {font-size: 2.7em}
	.identif__descr {padding: 40px calc(3% + 20px) 20px}
	.header .container {padding: 19px 14px}
	.footer__copy .logo {margin: 23px 0 12px}
	.intro__title{min-width: 360px}
	.s-intro:before{width: 680px;height: 680px;top: -220px}
	.intro__recom {padding-left: 35px}
	.intro__recom p, .intro__recom ul, .identif__text{font-size: 1em}
	.btn{padding: 21px 34px;max-width: 320px;	margin-top: 2em}
	.intro__pict {flex: 0 0 33%; max-width: 33%;min-height: 460px}
	.intro__recom-title i{margin-right: 21px}
	.container{max-width: 1290px}
	.container--sm {max-width: 1090px}
	.container--xl {max-width: 1400px}
	.intro__recom-title i{width: 36px; height: 36px}
	.intro__recom-title {font-size: 1.8em}
	.js-scroll-up{right: 25px}
	.footer__bottom{font-size: .834em;padding: 18px 15px}
	.news__pict {max-height: 238px; max-width: 278px}
	.cocoen-drag:before {width: 68px; height: 68px; margin-left: -34px; margin-top: -34px;	background-size: 34px}
	.s-before-after {padding: 60px 0 40px}
	.card{padding-bottom: 20px}
	.card__img {flex: 0 0 37%; max-width: 37%}
	.card__wrap{margin-left: 20px;padding: 20px 25px 20px 20px}
	.card__filter-box{padding: 35px 0}
	.s-footer .container {padding: 30px 14px}
	.js-scroll-up.scroll-complete {bottom: 323px}
	.spec__portrait{max-width: 310px}
	.spec__portrait{padding-top: 50px}
	.spec__dossier {padding: 40px calc(3% + 30px) 20px}
	.spec__headline{padding: .4em 0}
	.spec__year{line-height: 1}
	.spec__descr {margin-top: 0.6em; padding: 1em 0;font-size: .92em;max-width: 368px}
	.s-not-found {padding: 65px 0}
	.contacts__link-box {margin-left: 40px}
	.s-contacts {padding: 40px 25px}
	.contacts__link-box{padding: 40px 40px 30px}
	.contacts__link-box .h3 {padding-bottom: 0.8em}
	.contacts__address-box > div {padding: 29px 40px 26px}
	.contacts__address-box > div:last-of-type {padding: 23px 40px 30px}
	.contacts__address-box, .contacts__link-box{width: 360px;max-width: 360px}
	.preview__descr {flex: 0 0 420px; max-width: 420px; padding: 50px 20px 25px}
	.preview__title{padding-bottom: .9em}
	.preview__subtitle{padding-bottom: .6em}
	.preview__paragraph {padding: 9px 0}
	.preview__descr p {font-size: .9em}
	.preview__gallery {padding-top: 30px}
	.about-intro__content > div {max-width: 512px; padding-left: 6px}
	.about__thumb-slider {padding-left: 136px}
	.preview__nav {max-width: 320px}
	.about-equipment__slider .slick-arrow {margin-top: -65px}
	.about-equipment__slider .slick-prev {left: calc(50% - 290px)}
	.about-equipment__slider .slick-next {right: calc(50% - 290px)}
}
@media(max-height: 654px){
	.dots {padding: 25px 5px 35px 0}
	.s-intro {padding: 30px 15px 0 calc(8vw + 45px)}
	.intro__pict {flex: 0 0 32%; max-width: 32%;min-height: 440px}
	.intro__nav {padding: 23px 8px 36px 0}
	.cocoen {max-width: 1180px;margin: 0 auto}
}
@media(max-width: 1299px){
	.container {max-width: 1240px}
	.promo__slider-wrap {padding-left: calc(3% + 20px)}
	.js-scroll-up{right: 15px;bottom: 15px}
	.services__item .h4 {padding: 0 21px .2em; font-size: 1em; min-height: 50px}
	.testimon__wrap{padding: 20px}
	.news__container .col {flex: 1 0 49%; max-width: 49%}
	.news__container .col:nth-child(4n+1), .news__container .col:nth-child(4n+4){flex: 1 0 51%;max-width: 51%}
	.identif__img {max-width: 310px}
	.spec__slider .slick-dots {left: calc(100% - 526px)}
	.preview__descr {flex: 0 0 390px; max-width: 390px}
	.digits__item{font-size: .8em}
	.digits__value{padding: .9em 0 .7em}
	.digits__value:before {width: 98px; margin-left: -49px}
	.about-equipment__slider .slide{margin: 0 20px}
	.about-equipment__slider .slick-prev {left: calc(50% - 277px)}
	.about-equipment__slider .slick-next {right: calc(50% - 277px)}
}
@media(max-width: 1221px){
	.h1 {font-size: 2.2em;padding-bottom: 1em}
	.intro__title strong, .intro__title h1{font-size: 2.1em;padding-bottom: .6em}
	.intro__title em{max-width: 590px;display: block;font-size: 1.2em}
	.h2{font-size: 2.2em;padding-bottom: .6em;line-height: 1}
	.header {filter: drop-shadow(0 5px 6px rgba(4,4,4,.04))}
	.header .container {flex-wrap: wrap;padding: 7px 15px}
	.logo {margin: 0 auto 0 0;padding: 0 3px}
	.logo__link {width: 142px;height: 44px;background: url(../img/logo-mobile.svg) center no-repeat; background-size: contain}
	.logo__link img {display: none}
	.header__contacts {flex-grow: 0; padding: 0 8px;margin-right: 6px}
	.lang {order: 2}
	.navbar-collapse.collapse {height: 0 !important;overflow: hidden!important}
	.navbar-collapse.in{height: auto !important}
	.nav-wrap .container {padding: 0}
	.navbar-nav{padding: 20px}
	.navbar-collapse{padding: 0!important;transition:.6s ease;overflow: hidden!important}
	.collapsing {transition: .6s ease}
	#justify li{padding: 5px 0;margin: auto;opacity: 0; transform: translateY(8px)}
	.collapse.in #justify li{animation: .4s moveTohome ease forwards}
	.collapse.in #justify li:nth-child(2){animation-delay: .06s}
	.collapse.in #justify li:nth-child(3){animation-delay: .12s}
	.collapse.in #justify li:nth-child(4){animation-delay: .18s}
	.collapse.in #justify li:nth-child(5){animation-delay: .24s}
	.collapse.in #justify li:nth-child(6){animation-delay: .3s}
	.collapse.in #justify li:nth-child(7){animation-delay: .36s}
	.collapse.in #justify li:nth-child(8){animation-delay: .42s}
	@keyframes moveTohome { to { opacity: 1;transform: translateZ(0)}}
	.navbar-toggle {display: block; float: none; margin: 0; height: 44px; padding: 2px 7px; position: absolute; right: 21px; top: 10px; z-index: 4; border-radius: 0; background: none; -webkit-tap-highlight-color: rgba(0,0,0,0); outline-color: transparent}
	.navbar-toggle .icon-bar {background-color: #6a3553; transition:.25s cubic-bezier(.23,.61,.355,1);transform-origin: left top;width: 25px}
	.navbar-toggle .icon-bar +.icon-bar {margin-top: 6px}
	[aria-expanded=true] .icon-bar:first-child{transform:rotate(45deg) translate(4px,-3px);transition:transform .24s ease}
	[aria-expanded=true] .icon-bar:nth-child(2) {opacity:0; width: 0; transition: .3s}
	[aria-expanded=true] .icon-bar:last-child {transform: rotate(-45deg)translate(1px,4px); transition:transform .24s ease}
	.navbar {order: 9; width: 100%; margin-left: 0;max-width: 100%;top: 0;background-color: rgba(255,255,255,.96)}
	.nav-wrap{border-bottom: none;padding: 0}
	.nav__item a {padding: 9px 4px; font-size: 1.1em}
	.header__trigger-popup {order: 3;margin-right: 63px;margin-left: 22px}
	.header__trigger-popup:after {width: 37px; height: 37px; background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%236a3553'%3E%3Cpath d='M8 12h4v-4h-4v4zM14 12h4v-4h-4v4zM20 8v4h4v-4h-4zM8 18h4v-4h-4v4zM14 18h4v-4h-4v4zM20 18h4v-4h-4v4zM8 24h4v-4h-4v4zM14 24h4v-4h-4v4zM20 24h4v-4h-4v4z'%3E%3C/path%3E%3C/svg%3E%0A"); background-repeat: no-repeat; background-position: center; border: none; vertical-align: middle}
	.s-intro:before {top: 23px; right: calc(100% - 124px); transform: rotate(-5deg);width: 420px; height: 420px}
	.s-intro {padding: 60px 20px 40px 120px}
	.intro__slider .slick-slide {flex-wrap: wrap;justify-content: space-around}
	.intro__title {flex: 0 0 100%; max-width: 100%;min-height: auto;padding: 0 0 35px 68px}
	.intro__pict {flex: 0 0 48%; max-width: 360px; min-height: 360px}
	.intro__recom{flex:0 0 50%}
	.intro__slider-action {top: 226px}
	.intro__nav{display: none}
	.slick-arrow {width: 36px; height: 36px;padding: 11px}
	.slider-count {font-size: 1.86em}
	.promo__text > p, .promo__text > ul,.card__descr p{font-size: 0.94em}
	.promo__text {width: 340px; max-width: 340px}
	.btn{margin-top: 1.6em}
	.s-card {padding: 40px 0 30px}
	.card__list {padding-top: 10px}
	.testimon__slider {padding: 10px calc(11% + 30px) 10px calc(4% + 20px)}
	.testimon__wrap {padding: 12px}
	.card i{margin: 0 10px}
	.testimon__slider-action {right: calc(2.5% + 30px)}
	.testimon__slider .slick-slide{margin: 30px 0}
	.slick-dots li button {width: 22px; height: 22px}
	.testimon__wrap--other {margin: 20px 0 35px}
	.s-equipment{padding: 0}
	.s-we-first .align-items-center {padding: 54px 0 44px}
	.footer__listbox {margin-top: 0.4em}
	.footer__box{flex-wrap: wrap;padding-left: 35px;padding-top: 12px}
	.footer__nav > div:nth-of-type(2n){margin-left: 0}
	.footer__nav ul {max-width: 450px}
	.footer__listbox--second ul{max-width: 200px}
	.footer__nav li {max-width: 230px}
	.footer__nav,.footer__contacts {flex: 0 0 100%;max-width: 800px;padding-bottom: 20px}
	.footer__copy .logo{margin-top: 0}
	.i--lg {display: inline-block;margin-right: 18px}
	.footer__contacts .contacts__phones .i--lg {display: none}
	.footer__contacts .contacts__time, .footer__contacts .contacts__address {margin: 0 0 23px}
	.s-footer .contacts__phones,.contact__soc{padding: 0}
	.contact__soc{margin-left: -9px}
	.footer__contacts .contact__soc a {padding: 3px;margin-right: 7px}
	.footer__contacts a {letter-spacing: 0.04em}
	.pop-up {min-height: 100vh}
	.pop-up--lg{padding: 0}
	.mfp-close-btn-in .mfp-close {top: 9px; right: 37px}
	.mfp-container{padding: 0}
	.s-equipment .container .equipment__descr {width: 280px}
	.equipment__descr .subtitle {max-width: 275px}
	.equipment__wrap {width: calc(100% - 280px)}
	.equipment__slider-brand{padding: 15px 15px 25px 25px}
	.promo__slider-wrap {padding-left: 20px}
	.s-digits{padding: 20px 0}
	.s-services {padding: 40px 0}
	.s-promo {padding: 50px 0}
	.promo-dots{left: 0;transform: none;bottom: 17px}
	.promo__slider {padding-bottom: 65px}
	.promo__slider-action {bottom: 4px; right: 5px}
	.article .article__author{left: 0;top: 0;margin: 8px 0}
	.js-scroll-up.scroll-complete {bottom: 563px}
}
@media(max-width: 1099px){
	.services-mini__row .col-6 {flex: 0 0 33.3333%;max-width: 33.3333%}
	.form-horiz-wrap .input-group {margin-bottom: 20px}
	.form__zone .input-group {max-width: 31.8%}
	.input-group input, .input-group textarea{height: 64px;padding: 17px 15px 17px 86px}
	.input-group textarea {min-height: 160px;	padding: 19px 15px 18px 86px}
	.s-specific .col-sm-6 {max-width: 490px}
	.card__descr {max-width: 314px}
	.btn {padding: 18px 32px; max-width: 300px}
	.footer__bottom {display: block;text-align: center}
	.footer__devlink{margin: 10px auto 0}
	.s-about-intro .container {max-width: 100%}
	.about-intro__content > div {max-width: 700px}
	.s-about-intro {padding: 40px 0}
	.about__thumb-slider {max-width: 660px}
	.s-history:before {width: 90vmin; height: 90vmin; left: calc(100% - 43vmin); background-size: 90vmin}
	.about-equipment__slider .slick-prev {left: calc(50% - 226px)}
	.about-equipment__slider .slick-next {right: calc(50% - 226px)}
	.about-equipment__descr {bottom: -135px; left: 12%;max-width: 100%}
	.about-equipment__descr h6 {text-align: center}
	.slick-center .about-equipment__brand {transform: translate(-50%,-83px)}
	.history__list li > h3{font-size: 1.8em}
	.s-first {padding-top: 60px}
	.s-first .container {max-width: 880px}
	.card__filter--title{display: none}
	select {padding: 15px 18px 15px 42px;height: 64px}
	.s-not-found .container--sm {max-width: 740px;z-index: 1}	
	.s-news .news__container .col {	flex: 1 0 100%; max-width: 100%;margin-bottom: 15px}
	.news__title {max-width: 450px}
	.testimon__ava {width: 110px; min-width: 110px; height: 110px;align-self: flex-start}
}
@media (max-width: 991px){
	.s-specific .row {max-width: 660px;margin: 0 auto}
	.s-specific .col-sm-6 {flex: 1 0 100%; max-width: 660px}
	.s-specific .col-sm-6 img {display: block; margin: 0 auto 1.2em}
	.s-specific .h6 {text-align: center}
	.specific__label,.specific__pricelist {margin: auto}
	.specific__pricelist .btn {margin: 1.5em auto 2.1em}
	.specific__label,.specific__pricelist {max-width: 493px}
	.s-preview .container{flex-wrap: wrap; padding-bottom: 145px}
	.preview__descr {flex: 0 0 100%; max-width: 790px}
	.preview__descr-wrap {max-width: 100%}
	.s-preview .btn {position: absolute;bottom: 70px;left: 50%;transform: translateX(-50%)}
	.preview__nav {max-width: 95%; position: absolute;bottom: 15px;padding: 0;left: 50%;transform: translateX(-50%)}
	.preview__descr {padding: 36px 20px 0}
	.preview__paragraph {padding: 5px 0}
	.s-about-intro{min-height: auto}
	.about__bg-slider .slide{min-height: 100%}
}
@media (max-width: 969px){
	.services-mini__row .col-6 {flex: 0 0 50%;max-width: 50%}
	.form-horiz-wrap {max-width: 528px}
	.form__zone .input-group{max-width: 100%}
	.header .contacts__address{display: none}
	.s-promo .container{flex-wrap: wrap}
	.promo__text{width: 100%;max-width: 100%;margin-bottom: 40px;padding: 0 30px}
	.promo__slider-wrap{width: 100%;padding: 0 30px}
	.s-digits .col-3{flex: 0 0 50%;max-width: 50%;margin-bottom: 40px}
	.digits__value{margin: .3em 0;padding: .7em 0 .4em}
	.digits__value b{font-size: 2.3em}
	.history__list {margin-top: 1.3em; margin-left: calc(4vw + 20px)}
	.history__list li {padding-left: calc(3vw + 20px)}
	.history__list li > h3 {font-size: 1.8em; padding-right: calc(1vw + 20px)}
	.s-history:before {top: 46%; width: 80vmin; height: 80vmin; left: calc(100% - 39vmin); background-size: 80vmin}
	.s-history {padding: 15px 0 30px}
	.s-footer .container {flex-wrap: wrap}
	.footer__copy{	padding-right: 62px; max-width: 100%;display: -ms-flexbox; display: flex;align-items: center; padding-left: 35px}
	.footer__copy p{max-width: 450px}
	.footer__box{max-width: 100%}
	.s-footer .contacts__phones, .contact__soc{max-width: 220px}
	.js-scroll-up.scroll-complete {bottom: 601px}
	.about-equipment__slider .slide {margin: 0 10px}
	.about-equipment__descr {bottom: -72px}
	.about-equipment__slider .slick-prev {left: calc(50% - 336px)}
	.about-equipment__slider .slick-next {right: calc(50% - 336px)}
	.s-first .container{padding-left: 40px}
	.promo__slider-action{right: 27px}
	.promo-dots button {width: 22px}
	.cocoen-drag:before {width: 48px; height: 48px; margin-left: -24px; margin-top: -24px; background-size: 30px}
	.cocoen-drag:after {width: 6px}
	.s-equipment .container {flex-wrap: wrap} .s-equipment .container .equipment__descr {width: 100%; padding-bottom: 10px}
	.equipment__wrap{width: 100%}
	.s-identif {flex-wrap: wrap}
	.identif__img-wrap,.identif__descr{flex: 0 0 100%; max-width: 100%}
	.identif__text{max-width: 700px}
	.identif__img-wrap {padding: 25px}
	.spec__slider .slide{flex-wrap: wrap;justify-content: center}
	.spec__portrait{flex: 0 0 100%;max-width: 260px;padding-top: 20px}
	.spec__dossier{padding: 20px calc(2% + 30px) 10px;flex: 0 0 100%;max-width: 100%;order: -1;background-color: rgba(255,255,255,.5)}
	.spec__second-text,.spec__descr{max-width: 100%}
	.spec__slider {padding-bottom: 0}
	.spec__slider:after{content: none}
	.spec__slider .slick-dots{left: 10px;bottom: 20px}
	.spec__name{font-size: 1.3em;padding-bottom: .2em}
	.spec__year {font-size: 1.2em}
	.spec__descr {margin-top: 0.5em; padding: 0.9em 0; font-size: .88em}
}
@media (max-width: 800px){
	.h2 {font-size: 2em}
	.h6 {font-size: 1.24em}
	.link-bold {font-size: 1em}
	.specific__nav ul li {flex-grow: 0.1; max-width: 32.6%}
	.we-first__columns{columns: 1}
	.about-equipment__slider .slick-prev {left: calc(50% - 308px)}
	.about-equipment__slider .slick-next {right: calc(50% - 308px)}
	.history__list{margin-left: 22px}
	.history__list li{padding-left: 32px;padding-bottom: .8em}
	.we-first__slider .slick-dots {bottom: 25px; right: 25px}
	.slick-dots li:not(:last-of-type) {margin-right: 14px}
	.slick-dots li button {width: 16px; height: 16px}
	.testimon__slider-action{display: none}
	.testimon__slider .slick-dots{bottom: 26px;background-color: transparent}
	.testimon__slider {padding: 10px 40px 10px calc(2% + 20px)}
	.card__descr--title .h4 {font-size: 1em}
	.card__descr {max-width: 280px}
	.s-news,.s-services-mini,.s-first {padding-top: 50px}
	.news__title .h3 {font-size: 1.4em}
	.article {padding: 50px 0 20px}
	.article + .s-news {padding-top: 20px}
	.card__list{display: -ms-flexbox; display: flex;flex-wrap: wrap}
	.card {flex-wrap: wrap;width: 50%; max-width: 50%;padding: 0 15px;margin-bottom: 20px;filter: drop-shadow(0 5px 6px rgba(4,4,4,.05))}
	.card__img {flex: 0 0 100%; max-width: 100%}
	.card__wrap {flex-wrap: wrap;padding: 16px 16px 20px;margin: 0;border: none}
	.s-filter .card__wrap{justify-content: center}
	.card__descr {max-width: 100%;min-height: 98px; padding-bottom: 15px}
	.card__price{text-align: left}
	.s-specific {padding: 50px 0 0}
	.s-specific  .h1 {font-size: 1.8em}
	.specific__price {font-size: 1.1em}
	.specific__similar {padding: 20px 0; max-width: 670px; margin: 20px auto 0}
	.specific__nav {padding: 36px 10px}
	.has-double-decor:before {top: -463px; right: calc(100% - 100px)}
	.has-double-decor:after {bottom: -540px; left: calc(100% - 114px)}
	.offset-md-1{margin-left: 20px}
	.col-bg{max-width: 40%}
	.col-txt{max-width: 56%;flex: 0 0 56%;padding: 30px 30px 0 15px}
	select{height: 62px}
	.input-group input {height: 62px; padding: 15px 15px 15px 84px}
	.input-group textarea {min-height: 140px; padding: 17px 15px 17px 84px}
	.intro__recom {padding-left: 24px}
	.intro__recom-title {font-size: 1.5em}
	.intro__recom p, .intro__recom ul, .identif__text {font-size: 0.87em}
	.intro__recom-title i {width: 32px; height: 32px; padding: 7px;margin-right: 15px}
	.s-promo {padding: 20px 0}
	.s-before-after {padding: 50px 0 10px}
	.s-testimon {padding: 43px 0}
	.about__thumb-slider {max-width: 570px}
	.offset-lg-47p{padding-top: 20px;margin-bottom: 15px}
	.s-we-first .align-items-center {padding: 40px 0 27px}
	.equipment__descr .subtitle{max-width: 100%}
	.footer__nav > div{padding-left: 10px}
}
@media (max-width: 767px){
	.s-not-found .row {justify-content: center;text-align: center}
	.s-not-found .btn{margin: .8em auto 0}
	.s-not-found .offset-md-1 {padding-top: 30px}
}
@media (max-width: 720px){
	.history__list{margin-left: 30px}
	.js-filter li {font-size: 1em; padding: 2px 3px; min-width: 83px; margin-right: 20px}
	.identif__img {max-width: 270px}
	.intro__pict {max-width: 260px; min-height: 260px}
	.s-intro:before {right: calc(100% - 108px)}
	.intro__slider-action{left: 20px}
	.services__item {padding-top: 13px}
	.services__item .h4{padding: 0 18px}
}
@media (max-width: 670px){
	.subtitle{padding-bottom: 0;max-width: 500px}
	.services__row .col-6{flex: 0 0 50%;max-width: 50%}
	.s-history:before{content: none}
	.about-equipment__slider .slick-prev {left: 15px}
	.about-equipment__slider .slick-next {right: 15px}
	.about-equipment__brand, .slick-center .about-equipment__brand{top: 50%;transform: translateY(-50%);left: auto;right: 18px;max-width: 104px}
	.about-equipment__brand {opacity: 0;transition: .3s .1s}
	.slick-center .about-equipment__brand {opacity: 1}
	.about-equipment__slider .slide > img {transform: scale(0.82)}
	.about-equipment__slider .slick-center > img {transform: scale(1)}
	.article .h1 {padding: 0 0 .6em}
	.article__subtitle{font-size: 1em;padding-bottom: 1.2em}
	.testimon__slider .slick-slide{flex-wrap: wrap;justify-content: center}
	.testimon__text{padding: 10px 0; flex: 0 0 100%;text-align: center}
	.testimon__slider .slick-dots{bottom: 20px;left: 50%;transform: translateX(-50%)}
	.testimon__slider {padding: 20px calc(3% + 15px) 30px}
	.testimon__text blockquote:before, .testimon__text blockquote:after {content: none}
	.s-intro {padding: 35px 50px 30px}
	.s-intro:before{content: none}
	.intro__slider-action{left: auto;right: 15px;top: 38%}
	.intro__title{padding: 0 0 20px}
	.intro__title em{font-size: 1em}
	.intro__title strong, .intro__title h1 {font-size: 2em; padding-bottom: 0.5em}
	.intro__recom {flex: 0 0 100%;max-width: 100%}
	.intro__pict {flex: 0 0 100%;max-width: 230px;min-height: 230px}
	.intro__recom {padding-left: 0}
	.btn {margin-left: auto; margin-right: auto}
	.slider-count {font-size: 1.6em}
	.testimon__name{font-size: 1.5em;padding: .2em 0 .5em}
	.col-txt{flex: 0 0 100%;max-width: 100%;padding: 0 40px}
	.col-bg{flex: 0 0 100%;max-width: 220px}
	.s-first .row {justify-content: center}
	.article__ava {width: 70px; height: 70px;padding: 4px 8px 0}
	.link-bold span{display: none}
}
@media (max-width: 600px){
	.header .contacts__phones{display: none}
	.header__trigger-popup {margin-right: 60px; margin-left: 12px}
	.digits__item {font-size: .75em}
	.equipment__wrap{padding-left: 15px}
	.equipment__slider-brand > div {margin: 11px 7px 16px;max-width: 98px} 
	.equipment__slider-brand {padding: 9px 9px 15px; max-width: 190px}
	.testimon__wrap {padding: 8px}
	.footer__nav > div{width: 50%;display: block}
	.footer__nav ul {display: block}
	.footer__nav li{float: none;width: 100%}
	.about__slider-action {width: 80px}
	.about__thumb-slider {padding-left: 90px;padding-right: 30px}
	.s-about-intro {padding: 25px 0}
	.services-mini__row .col-6 {flex: 0 0 100%;max-width: 100%;margin-bottom: 6px}
	.preview__gallery-item img {margin-bottom: 5px}
	.we-first__slider .slick-dots {bottom: 5px; right: 5px}
	.history__list{margin-top: 1em}
	.history__list li{display: block}
	.history__list li > h3{display: block;padding-bottom: .2em}
	.filter__list{max-width: 340px;margin: auto}
	.card {width: 100%;max-width: 100%; margin: 0 auto 20px}
	.card__filter-box{display: block;padding: 40px 15px 25px;max-width: 340px;margin: auto}
	.select-group{margin-top: 15px}
	.js-filter li{margin-right: 38px}
	.footer__copy{display: block;padding: 0 24px;width: 100%;order: 13}
	.footer__copy .logo{display: none}
	.footer__copy p{max-width: 100%;padding-left: 0;padding-top: 15px}
	.js-scroll-up.scroll-complete {bottom: 123px}
	.s-footer .container {padding: 20px 14px 10px}
	.footer__contacts {padding: 0;margin: -10px 0 0}
	.js-scroll-up{width: 36px;height: 36px}
	.js-scroll-up svg {width: 17px; height: 24px}
}
@media (max-width: 575px){
	.s-not-found .offset-md-1 {margin-left: 0}
	.s-not-found .col-sm-6 {max-width: 300px}
	.about__slider-action{height: 196px;background-color: transparent;color: #fff}
	.intro__slider .slick-list{overflow: visible}
	.promo__slider-wrap{padding: 0}
	.promo-dots{display: none!important}
	.promo__slider-action {right: 5px}
	.promo__text{padding: 0;margin-bottom: 30px}
	.s-promo .btn {margin-top: 0.6em}
	.logo__link {width: 100px}
	.s-digits{padding: 20px 0 0}
	.cocoen-drag:after{height: 110px}
	.footer__box{padding-left: 15px}
	.contact__soc{margin-left: 0}
	.footer__contacts{max-height: none;max-width: 100%}
	.footer__contacts .contacts__time, .footer__contacts .contacts__address {margin: 0 0 15px}
	.footer__contacts .contacts__phones{padding-left: 4px}
	.footer__contacts .contacts__phones .i--lg{display: inline-block}
	.footer__contacts .contacts__phones a {display: inline-block;margin-right: 12px;letter-spacing: 0}
	.footer__contacts .contacts__phones {margin: 0 0 19px;max-width: 100%;white-space: normal}
	.footer__contacts .contact__soc a {margin-right: 24px}
	.pop-up--sm{padding: 30px 25px 20px}
}
@media (max-width: 481px){
	.h1 {font-size: 1.9em;padding-bottom: .7em}
	.h3 {font-size: 1.7em; padding-bottom: 0.6em}
	.h5{padding-bottom: .5em}
	.footer__listbox{margin-top: 0}
	.services__row .col-6 {padding: 0 8px;margin-bottom: 16px}
	.services__item .h4 {padding: 0 15px .2em; font-size: 0.87em; min-height: 43px;text-align: center}
	.about-equipment__descr{left: 0;bottom: -108px}
	.h2 {font-size: 1.9em}
	.s-intro {padding: 32px 34px 10px}
	.intro__slider-action{top: 270px}
	.footer__nav{flex-wrap: wrap}
	.footer__nav > div{width: 100%;margin-top: 15px}
	.footer__nav li{margin-bottom: 3px}
	.footer__nav ul{font-size: .92em;font-weight: normal}
	.s-specific {padding: 32px 0 0}
	.s-specific .container--sm {padding: 0}
	.specific__similar{padding: 0 15px;margin: 20px 0 0}
	.testimon__slider-action .slick-arrow, .about__slider-action .slick-arrow{margin: 13px auto}
	.about__slider-action{top: auto;bottom: -22px}
	.history__list {margin-left: 19px}
	.s-history{padding: 15px 0 0}
	.s-about-equipment {padding: 20px 0 0}
	.about-equipment__slider .slick-prev {left: 4px}
	.about-equipment__slider .slick-next {right: 4px}
	.intro__recom{padding-top: 16px}
	.article {padding: 30px 0 10px}
	.news__title {padding: 18px 16px 18px 21px}
	.news__title .h3 {font-size: 1.2em}
	.news__short {font-size: 0.92em; font-weight: 400}
	.testimon__wrap--other {margin: 10px 0 25px}
	.s-digits .row {padding-top: 15px;justify-content: space-around}
	.preview__descr {padding: 22px 7px 0}
}
@media (max-width: 420px){
	.about__slider-action {bottom: -32px}
	.equipment__slider-brand > div {margin: 8px 5px 12px; max-width: 80px}
	.intro__title strong, .intro__title h1 {font-size: 1.8em; padding-bottom: 0.4em}
	.intro__title em {font-size: 0.9em}
	.digits__value {font-size: 1.57em}
	.digits__value:before {width: 86px; margin-left: -43px}
	.history__list li > h3{font-size: 1.6em}
	.history__list li{padding-bottom: .4em}
	.s-news, .s-services-mini, .s-first {padding-top: 30px}
	.intro__title{min-width: auto}
	.s-digits .col-3{margin-bottom: 20px}
	.testimon__text blockquote{padding-right: 0}
}
@media (max-width: 380px){
	.h1 {font-size: 1.84em}
	.h2 {font-size: 1.6em}
	p {padding-bottom: 0.8em}
	.pop-up--sm {padding: 30px 10px 20px}
	.news__item{flex-wrap: wrap}
	.news__pict {order: -1; max-height: none; max-width: 100%}
	.s-intro {padding: 26px 28px 0}
	.intro__slider-action {top: 241px}
	.header .container {padding: 3px 14px}
	.navbar-toggle{top: 6px}
	.digits__item {font-size: .7em}
	.equipment__wrap{padding-left: 0}
	.testimon__slider {padding: 15px 20px 25px}
	.testimon__name {font-size: 1.3em}
	.testimon__wrap {padding: 6px}
	.s-before-after .btn, .s-testimon .btn {margin: 2em auto 0}
	.offset-lg-47p{padding: 15px 15px 15px 20px}
	.about__thumb-slider {padding-left: 66px; padding-right: 0}
	.about-equipment__descr {bottom: -97px}
	.promo__slider-action .slider-count {margin: 0 16px}
	.pop-up--sm {padding: 20px 0 15px}
	.pop-up__remark{padding-bottom: 0.9em;font-size: 0.8em}
	.input-group{margin-bottom: 14px}
	.input-group input {height: 58px; padding: 13px 13px 13px 70px}
	.pop-up--sm .input-group textarea,.input-group textarea {min-height: 110px;padding: 16px 13px 13px 70px}
	.input-icon{top: 19px;left: 22px;width: 26px; height: 21px}
	.identif__img {max-width: 220px}
	.js-filter li {margin-right: 28px}
}
@media (max-width: 359px){
	.h1 {font-size: 1.7em}
	.s-specific .h1 {font-size: 1.5em}
	.h3 {font-size: 1.5em; padding-bottom: 0.5em}
	.services__item{padding-top: 11px}
	.services__row .col-6 {padding: 0 6px; margin-bottom: 12px}
	.services__item .h4 {padding: 0 11px; font-size: 0.78em; min-height: 36px}
	.intro__pict{margin-right: 24px}
	.s-intro {padding: 22px 17px 0}
	.s-promo{padding: 20px 0 0}
	.promo__slider {padding-bottom: 54px}
	.s-services {padding: 35px 0}
	.mfp-close-btn-in .mfp-close {top: 9px; right: 8px}
	.pop-up__title {font-size: 1.3em; padding-bottom: 0.4em}
	.offset-lg-47p {padding: 0px 14px 12px 15px}
	.about-intro__content > div{font-size: .92em;padding: 0}
	.about-intro__content .h1{font-size: 1.7em;padding-bottom: .6em}
	.testimon__slider-action .slick-arrow, .about__slider-action .slick-arrow {margin: 9px auto}
	.about__slider-action {bottom: -44px}
	.history__list li > h3 {font-size: 1.4em}
	.history__list li:before {top: 5px}
	.slick-center .about-equipment__descr{max-width: 260px}
	.about-equipment__descr h6 {font-size: 0.9em}
	.about-equipment__descr p {font-size: 0.8em}
	.history__list:before{width: 2px}
	.history__list li{font-size: .9em}
	.history__list li:before {top: 9px; left: -8px; width: 18px; height: 18px}
	.testimon__slider .slick-slide {margin: 10px 0 20px}
	.testimon__slider {padding: 10px 13px 32px}
	.testimon__ava {width: 90px; min-width: 90px; height: 90px}
	.article .h4 {font-size: 1.2em; padding-bottom: 0.5em}
	.identif__img {max-width: 200px}
	.s-card {padding: 26px 0 10px}
	.s-spec {padding: 20px 0}
	.spec__dossier{padding: 15px}
	.spec__portrait{max-width: 180px}
	.specific__price {font-size: 0.92em}
	.specific__price-value {min-width: 100px}
	.select-group{min-width: 260px}
	.js-filter li {margin-right: 18px}
	.preview__subtitle {font-size: 1em;}
	.s-preview .btn{max-width: 290px;}
}