.s-footer {
	.container {
		max-width: 1130px;
	}
}
.footer {
	&__soc {
		border-top: 1px solid #dde3eb;
		padding: 32px 0;
		.container {
			display: flex;
			align-items: center;
			.logo{
				margin-right: -99px;
			}
		}
	}
}
.soc-list {
	@include flex-between;
	list-style: none;
	margin: 0 auto;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		text-align: center;
		margin: 0 5px;
		color: $disable;
		&:hover {
			color:$accent;
		}
		svg {
			display: inline-block;
			fill:currentColor;
			width: 18px;
			max-width: 18px;
			height: 18px;
		}
	}
}
.footer__bottom {
	background-color: #f7f8fa;
	padding: 38px 0;
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1160px;
	}
}
.footer__nav {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	&-link {
		position: relative;
		padding: 6px 10px;
		margin-right: 6px;
		font-size: em(12);
		text-shadow: 0 0;
		color: #8f9196;
		&:hover {
			color:inherit
		}
	}
}
.footer__copy {
	font-size: em(12);
	color: #8f9196;
}