/*
Some theme correntions to hide or change default elements
*/
.quantity {display: none;}
.surname {display: none; height: 1px; overflow: hidden;}
.message_get {text-align: center;}
#m_here {display: none;}
.cart-empty {text-align: center;}
.profit-order-received {margin: 24px; text-align: center;}

.update-profit-div {
    margin-bottom: 34px;
    text-align: right;
}
.update-profit[disabled],.update-profit.btn-line[disabled] {
    background: #fff;
    height: 0px;
    overflow: hidden;
    padding: 0;
    border: 0px solid #fff;
}

.update-profit {
    /*display: none;*/
border: 0px solid #fff;
overflow: hidden;
height: 48px;
transition: height 100ms ease;
padding: inherit;
}
