*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {font-size: 14px;}

body {
	position: relative;
	color: #333;
	margin: 0;
	padding: 0;
	font: 14px Arial,sans-serif;
	line-height: 1.3;
	letter-spacing: .02em;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: #fbfbfb;
}
.intro {
	position: relative;
	width: 100%;
	height: 490px;
}
.intro >img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.intro__logo {
	position: absolute;
	top: 0;
	left: 16vw;
	width: 200px;
}
.form__wrap {
	width: 100%;
	max-width: 1140px;
	padding: 20px 20px 40px;
	margin: auto;
}
.form__wrap .title{padding-bottom: 20px;}

.form__wrap .title h1{
	font-size: 2.1em;
	line-height: 1.3;
	margin: .3em 0;
}
.title__remark {font-size: 1.14em;}

.form {width: 100%;}

.form label {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 10px;
}
.drop-arrow{position: relative;}

.drop-arrow:after {
	content: "";
	pointer-events: none;
	position: absolute;
	right: 1.7rem;
	top: 50%;
	margin-top: -0.2rem;
	width: 0px;
	height: 0px;
	width: 0rem;
	height: 0rem;
	border-style: solid;
	border-width: .4rem .4rem 0 .4rem;
	border-color: #989ca9 transparent transparent transparent;
}
.form label span {
	display: block;
	margin-bottom: 6px;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 3px;
}
.form input,.form select {
	width: 100%;
	height: 40px;
	background-color: #eae6ef;
	border-radius: 3px;
	border: none;
	outline-color: rgba(1,1,14,.02);
	padding: 0 9px;
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 1.4;
}
.form select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form__btn {
	display: block;
	background: #4276ec;
	color: #fff;
	border: none;
	min-width: 170px;
	padding: 1.3rem 4rem 1.1rem;
	line-height: 1;
	font-family: "PragmaticaBook-Reg", sans-serif;
	letter-spacing: .02em;
	text-transform: uppercase;
	-webkit-transition: background-color .3s, border-color .3s, color .3s;
	transition: background-color .3s, border-color .3s, color .3s;
	margin: 9px auto 0;
}
.form__btn:hover {background: #6892f0}

@media(min-width: 2000px){
	.intro {height: 770px;}
	.form__wrap {padding: 70px 20px 50px;}
}
@media(max-width: 1366px){
	.intro {height: 260px;}
	.intro__logo {left: 9vw}
}
@media(max-width: 1280px){
	.form__wrap .title h1 {font-size: 1.8em}
	.intro__logo{width: 170px;}
}
@media(max-width: 991px){
	.intro__logo{width: 150px;left: 40px;}
	.form__wrap{min-height: calc(100vh - 320px);display: -ms-flexbox;
	display: flex;align-items: center;flex-flow: column wrap;justify-content: center;}
}
@media(max-width: 570px){
	.intro {height: 210px;}
	.intro__logo {width: 90px; left: 10px;}
}
@media(max-width: 380px){
	.form__wrap .title h1 {font-size: 1.5em; line-height: 1.1;}
	.title__remark{font-size: 1em;}
}